---
layout: lesson
root: ../..
title: Invasion Percolation
order: ["grid", "alias", "random", "neighbors", "ties", "assembly", "bugs", "refactor", "test", "perf", "profile", "lazy", "lifecycle"]
---

<section>
  <h2>Opening</h2>
  {% include guide-invperc/opening.html %}
</section>

<section>
  <h2>Instructors</h2>
  {% include guide-invperc/instructors.html %}
</section>

<section id="s:invperc:grid">
  <h2>{% include guide-invperc/grid/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/grid/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/grid/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/grid/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/grid/challenges.html %}
</section>

<section id="s:invperc:alias">
  <h2>{% include guide-invperc/alias/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/alias/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/alias/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/alias/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/alias/challenges.html %}
</section>

<section id="s:invperc:random">
  <h2>{% include guide-invperc/random/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/random/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/random/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/random/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/random/challenges.html %}
</section>

<section id="s:invperc:neighbors">
  <h2>{% include guide-invperc/neighbors/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/neighbors/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/neighbors/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/neighbors/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/neighbors/challenges.html %}
</section>

<section id="s:invperc:ties">
  <h2>{% include guide-invperc/ties/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/ties/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/ties/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/ties/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/ties/challenges.html %}
</section>

<section id="s:invperc:assembly">
  <h2>{% include guide-invperc/assembly/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/assembly/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/assembly/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/assembly/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/assembly/challenges.html %}
</section>

<section id="s:invperc:bugs">
  <h2>{% include guide-invperc/bugs/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/bugs/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/bugs/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/bugs/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/bugs/challenges.html %}
</section>

<section id="s:invperc:refactor">
  <h2>{% include guide-invperc/refactor/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/refactor/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/refactor/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/refactor/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/refactor/challenges.html %}
</section>

<section id="s:invperc:test">
  <h2>{% include guide-invperc/test/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/test/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/test/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/test/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/test/challenges.html %}
</section>

<section id="s:invperc:perf">
  <h2>{% include guide-invperc/perf/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/perf/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/perf/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/perf/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/perf/challenges.html %}
</section>

<section id="s:invperc:profile">
  <h2>{% include guide-invperc/profile/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/profile/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/profile/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/profile/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/profile/challenges.html %}
</section>

<section id="s:invperc:lazy">
  <h2>{% include guide-invperc/lazy/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/lazy/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/lazy/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/lazy/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/lazy/challenges.html %}
</section>

<section id="s:invperc:lifecycle">
  <h2>{% include guide-invperc/lifecycle/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-invperc/lifecycle/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-invperc/lifecycle/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-invperc/lifecycle/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-invperc/lifecycle/challenges.html %}
</section>

<section>
  <h2>Summary</h2>
  {% include guide-invperc/summary.html %}
</section>
