<div id="s:pyblocks:basic:summary" class="summary">
  <ul>
    <li>Use '=' to assign a value to a variable.</li>
    <li>Variables are created when values are assigned to them.</li>
    <li>Variables cannot be used until they have been created.</li>
    <li>Assigning to one variable does not change the values associated with other variables.</li>
    <li>Use <code>print</code> to display multiple values at once.</li>
    <li>Addition ('+'), subtraction ('-'), and multiplication ('*') work as usual in Python.</li>
    <li>Using readable names for variables improves programmer performance.</li>
  </ul>
</div>
