<div id="s:setdict:storage:objectives" class="objectives">
  <ul>
    <li>Draw a diagram showing how hash tables are implemented, and correctly label the main parts.</li>
    <li>Explain the purpose of a hash function.</li>
    <li>Explain why using mutable values as keys in a hash table can cause problems.</li>
    <li>Correctly identify the error messages Python produces when programs try to put mutable values in hashed data structures.</li>
    <li>Explain the similarities and differences between tuples and lists.</li>
    <li>Explain why using tuples is better than concatenating values when storing multi-part data in hashed data structures.</li>
  </ul>
</div>
