<div id="s:shell:scripts:keypoints" class="keypoints">
  <ul>
    <li>Save commands in files (usually called shell scripts) for re-use.</li>
    <li>Use <code>bash <em>filename</em></code> to run saved commands.</li>
    <li><code>$*</code> refers to all of a shell script's command-line parameters.</li>
    <li><code>$1</code>, <code>$2</code>, etc., refer to specified command-line parameters.</li>
    <li>Letting users decide what files to process is more flexible and more consistent with built-in Unix commands.</li>
  </ul>
</div>
