<div id="s:shell:wildcard:keypoints" class="keypoints">
  <ul>
    <li>Use wildcards to match filenames.</li>
    <li><code>*</code> is a wildcard pattern that matches zero or more characters in a pathname.</li>
    <li><code>?</code> is a wildcard pattern that matches any single character.</li>
    <li><code>[]</code> and <code>{}</code> allow you to match specified sets of characters in different ways.</li>
    <li><code>[!<em>characters</em>]</code> matches everything <em>other than</em> the characters specified.</li>
    <li>Wildcards are useful when performing actions on more than one
    file at a time.</li>
    <li>The shell matches wildcards before running commands.</li>
    <li>We can use wildcard patterns for nearly any command (cp, mv, rm,
    etc.).</li>
    <li>Globbing is the process through which wildcard patterns are
    matched to filenames.</li>
    <li>You can use multiple wildcard expressions in a single glob.</li>
  </ul>
</div>
