<div id="s:shell:wildcard:lesson" class="lesson">

  <p>Let us use the basic commands we already know to explore wildcard
    characters.  We will start in our current directory, and create
    two files:</p>
<pre>
$ <span class="in">touch file1.txt file2.txt</span>
$
</pre>
  <p>The asterisk wildcard <code>*</code> matches zero or more
  characters.  When we ask the shell to list files in a directory by
  matching a wildcard pattern, like <code>ls *</code>, the shell
  carries out a process called globbing, or matching a pattern to
  filenames:</p>
<pre>
$ <span class="in">ls file*</span>
<span class="out">file1.txt   file2.txt</span>
$
</pre>
  <p>There are four other basic wildcard characters we will explore.
  (1) The question mark, <code>?</code>, matches any single character,
  so text?.txt would match text1.txt or textz.txt. (2) The square
  brackets, <code>[]</code>, which specifies either a natural sequence
  (i.e. text[1-6].txt would match text1.txt, text2.txt, ...,
  text6.txt), or a logical or between characters (i.e. text[135].txt
  would match text1.txt text3.txt and text5.txt).</p>
<pre>
$ <span class="in">touch file{4,6,7}.txt</span>
$ <span class="in">touch file_{a..e}.txt</span>
$ <span class="in">ls file*</span>
<span class="out">file4.txt   file7.txt    file_b.txt   file_d.txt</span>
<span class="out">file6.txt   file_a.txt   file_c.txt   file_e.txt</span>
$
</pre>

<pre>
$ <span class="in">ls file?.txt</span>
<span class="out">file4.txt   file6.txt    file7.txt</span>
$ <span class="in">ls file??.txt</span>
<span class="out">file_a.txt   file_b.txt    file_c.txt   file_d.txt   file_e.txt</span>
$
</pre>



</div>
