<div id="s:shell:wildcard:objectives" class="objectives">
  <ul>
    <li><em>Write wildcard expressions that select certain subsets of the files in one or more directories.</em></li>
    <li><em>Explain when wildcards are expanded.</em></li>
    <li>Use wildcard expressions to create multiple files, use ls to
    list a subset of those files, and use rm to delete a subset of
    files.</li>
    <li>Understand difference between difference wildcard characters</li>
    <li>Explain what globbing is</li>
    <li>Understand how to escape special characters</li>
  </ul>
  <p>Duration: 15-20 minutes.</p>
</div>
