<div id="s:shell:wildcard:objectives" class="objectives">
  <ul>
    <li>Write wildcard expressions that select certain subsets of the files in one or more directories.</li>
    <li>Write wildcard expressions to create multiple files.</li>
    <li>Explain when wildcards are expanded.</li>
    <li>Understand the difference between different wildcard characters.</li>
    <li>Explain what globbing is.</li>
    <li>Understand how to escape special characters.</li>
  </ul>
  <p>Duration: 15-20 minutes.</p>
</div>
