<div id="s:pyblocks:forloop:lesson" class="lesson">

  <p>
    Computers are useful because they can do lots of calculations on lots of data,
    which means we need a concise way to represent multiple steps.
    Let's start by printing the vowels in order the hard way:
  </p>

<pre>
<span class="in">print 'a'
print 'e'
print 'i'
print 'o'
print 'u'</span>
<span class="out">a
e
i
o
u</span>
</pre>

  <p>
    Now let's do it the easy way:
  </p>

<pre>
<span class="in">for vowel in "aeiou":
    print vowel</span>
<span class="out">a
e
i
o
u</span>
</pre>

  <p>
    The keywords <code>for</code> and <code>in</code> are used to create
    a <a href="glossary.html#for-loop">for loop</a>.
    Just like a <a href="shell.html#loop">loop in the shell</a>,
    a <code>for</code> loop in Python repeats one or more instructions
    for each value in some collection.
    The indented line is called the <a href="glossary.html#loop-body">body</a> of the loop:
    it's what Python executes repeatedly.
    The variable <code>vowel</code> is the <a href="glossary.html#loop-variable">loop variable</a>:
    each time the loop is executed,
    it is updated to hold the next value from the collection
    (in this case,
    the next character from the string <code>"aeiou"</code>).
    There's nothing magical about its name:
    we could equally well have called it <code>something</code>,
    but using something meaningful makes the program more readable.
  </p>

  <p>
    Here's another loop that updates variables as it goes along:
  </p>

<pre>
<span class="in">result = ""
for vowel in "aeiou":
    result = result + 2 * vowel
print result</span>
<span class="out">aaeeiioouu</span>
</pre>

  <p>
    The variable <code>result</code> is initially assigned
    an <a href="glossary.html#empty-string">empty string</a>
    containing no characters.
    The first time the loop executes,
    the program adds "aa" to it to create "aa".
    The second time,
    it adds "ee",
    and so on to produce the final result.
  </p>

  <p>
    Python uses indentation to show what's in the body of a loop.
    To see why this matters,
    try indenting the <code>print</code> statement:
  </p>

<pre>
<span class="in">result = ""
for vowel in "aeiou":
    result = result + 2 * vowel
<span class="highlight">    print result</span></span>
<span class="out">aa
aaee
aaeeii
aaeeiioo
aaeeiioouu</span>
</pre>

  <p class="continue">
    Since the <code>print</code> statement is inside the loop,
    it is executed once for each <a href="glossary.html#iteration">iteration</a> of the loop,
    so we see five lines of output.
  </p>

  <div class="box">

    <h3>Why Indentation?</h3>

    <p>
      Most other languages use keywords like <code>do</code> and <code>done</code>
      or <code>begin</code> and <code>end</code> to show what's in the body of a loop,
      or the curly braces '{' and '}'.
      Python uses indentation because studies done in the 1970s and 1980s showed
      that's what people actually pay attention to.
      If we write something as:
    </p>

<pre>
for value in data
begin
    print value
print "done"
end
</pre>

    <p class="continue">
      then most people reading the code in a hurry will "see"
      the second <code>print</code> statement as being outside the loop.
    </p>

  </div>

  <p>
    What if we want to do something a certain number of times,
    rather than once for each character in a string?
    Python has a built-in function called <code>range</code>
    that produces the integer 0, 1, 2, and so on up to a certain value:
  <p>

<pre>
<span class="in">for i in range(3):
    print i</span>
<span class="out">0
1
2</span>
</pre>

  <p>
    As discussed <a href="a:count-from-zero">earlier</a>,
    Python counts from 0,
    not 1.
    To be consistent with this,
    <code>range(3)</code> produces the values 0, 1, and 2,
    rather than 1, 2, 3,
    so that (for example)
    <code>range(grid.height)</code> produces
    all the legal Y-axis indexes for <code>grid</code>.
  </p>

  <p>
    Using loops,
    it's easy to color in many pixels with just a couple of lines of code:
  </p>

<pre>
<span class="in">from ipythonblocks import ImageGrid
grid = ImageGrid(10, 5)
for i in range(10):
    grid[i, 0] = (255, 0, 0)
grid.show()</span>
{% include guide-pyblocks/forloop/blocks-red-bottom-row.html %}
</pre>

  <p>
    The first line of this little program creates a 10&times;5 grid.
    The next line is a loop that will run 10 times.
    Each time around,
    the next integer in the sequence 0&hellip;9 is assigned to the variable <code>i</code>.
    Inside the loop,
    we use <code>i</code> as the second (column) subscript to <code>grid</code>:
    the first time through the loop,
    we turn the block <code>grid[0, 0]</code> red,
    the next time the block <code>grid[1, 0]</code>,
    then <code>grid[2, 0]</code>
    and so on up to <code>grid[9, 0]</code>
    to fill in the entire row.
  </p>

  <div class="box">
    <h3>When Short Names Are OK</h3>

    <p>
      We said earlier that programs should use meaningful variable names.
      Are we not violating our own rule by using <code>i</code> as a variable in this program?
      The short answer is "yes", but it's a defensible violation.
      Suppose we re-write our loop as:
    </p>

<pre>
<span class="in">for column in range(10):
    grid[column, 0] = (255, 0, 0)</span>
</pre>

    <p class="continue">
      The longer name is more meaningful,
      but it also takes longer to read.
      Since the original <code>i</code> is only used for a few lines,
      users will easily be able to keep its meaning in short-term memory
      as long as they need to.
      On balance,
      therefore,
      the short name are better in this case.
    </p>

    <p>
      This is actually a general principle in program design.
      A variable that holds a simple value,
      and is only used in a few adjacent lines of code,
      can (and usually should) have a short name.
      A variable that holds a complex value,
      or one which is used over more than a few lines of code,
      should have a longer name
      in order to optimize the tradeoff between reading speed
      and the limitations of human short-term memory.
    </p>
  </div>

  <p>
    What happens if we use index the grid in the wrong order,
    i.e.,
    run the row coordinate from 0 to 9?
  </p>

<pre>
<span class="in">for i in range(10):
    grid[<span class="highlight">i, 0</span>] = (255, 0, 0)
grid.show()</span>
<span class="err">IndexError                                Traceback (most recent call last)
&lt;ipython-input-36-3a81075e1fb2&gt; in &lt;module&gt;()
      1 for i in range(10):
----&gt; 2     grid[i, 0] = (255, 0, 0)
      3 grid.show()

IndexError: list index out of range</span>
</pre>

  <p>
    Python halts the program with an error because
    we eventually try to change the color of <code>grid[5, 0]</code>,
    which doesn't exist:
    row indices only go as high as 4,
    and trying to access a non-existent block is an error,
    just as trying to access a non-existent variable is.
  </p>

  <p>
    But Python doesn't notice this until we actually get there.
    If we display the grid now,
    we see:
  </p>

<pre>
{% include guide-pyblocks/forloop/blocks-after-out-of-bounds.html %}
</pre>

  <p class="continue">
    which shows that the first five iterations of the loop ran
    before the error occurred.
  </p>

  <p>
    Here's a better way to write this loop:
  </p>

<pre>
<span class="in">for i in range(<span class="highlight">grid.height</span>):
    grid[i, 0] = (255, 0, 0)</span>
</pre>

  <p>
    What makes this better is
    the change from using 5, 10, or any specific number in the <code>range</code> call
    to using <code>grid.height</code> instead.
    The grid knows how large it is;
    rather than relying on our memory
    (which is often faulty),
    we should rely on the computer's
    (which usually isn't).
    Doing this also makes the program more robust:
    if we come back later and change the grid size to 20&times;30,
    we don't have to re-read every line
    looking for 10's that ought to become 30's.
  </p>

  <div class="box">
    <h3>Don't Repeat Yourself</h3>
    <p>
      Every fact in a program should be represented once and only once,
      so that if the program needs to be changed,
      only one change,
      in one place,
      is needed.
      Putting it another way,
      if most changes to a program can be made
      by changing one thing in one place,
      that program is well designed.
    </p>
  </div>

  <p>
    What if we want to set the color of a sub-rectangle of our grid?
    For example,
    suppose we want to turn the nine pixels in the lower left corner blue.
    We could do this:
  </p>

<pre>
<span class="in">grid[0, 0] = (0, 0, 255)
grid[0, 1] = (0, 0, 255)
grid[0, 2] = (0, 0, 255)
grid[1, 0] = (0, 0, 255)
grid[1, 1] = (0, 0, 255)
grid[1, 2] = (0, 0, 255)
grid[2, 0] = (0, 0, 255)
grid[2, 1] = (0, 0, 255)
grid[2, 2] = (0, 0, 255)</span>
</pre>

  <p class="continue">
    but we already know that's a bad approach.
    We'd be better off using a loop for each row
    to cut our program from nine lines to six:
  </p>

<pre>
<span class="in">for i in range(3):
    grid[<span class="highlight">0</span>, i] = (0, 0, 255)
for i in range(3):
    grid[<span class="highlight">1</span>, i] = (0, 0, 255)
for i in range(3):
    grid[<span class="highlight">2</span>, i] = (0, 0, 255)</span>
{% include guide-pyblocks/forloop/blocks-manual-blue-lower-left.html %}
</pre>

  <p>
    Look more closely:
    the only difference between the three loops is
    the row index used in each,
    and those indices go in sequence from 0 to 2.
    That means we can use another loop to produce them:
  </p>

<pre>
<span class="in">for x in range(3):
    for y in range(3):
        grid[x, y] = (255, 0, 0)</span>
grid.show()
</pre>

  <p>
    This is called a <a href="glossary.html#nested-loop">nested loop</a>.
    Each time the <a href="glossary.html#outer-loop">outer loop</a> runs,
    the <a href="glossary.html#inner-loop">inner loop</a> runs three times,
    so that every possible combination of row and column index
    is seen exactly once.
    We get the same result if we turn the loops inside out
    and run over the columns;
    the only difference is the order in which blocks are colored in
    (<a href="#f:nested_loop">Figure XXX</a>).
  </p>

  <figure id="f:nested_loop">
    <img src="pymedia/nested_loop.png" alt="Nested Loops" />
    <figcaption>Figure XXX: Nested Loops</figcaption>
  </figure>

  <p>
    There are cases where the order of the loops matters.
    In the program below,
    the range of the inner loop depends on
    the current value of the outer loop's index:
  </p>

<pre>
<span class="in">grid = ImageGrid(4, 4)
for x in range(4):
    for y in range(x):
        grid[x, y] = (0, 255, 0)
grid.show()</span>
{% include guide-pyblocks/forloop/blocks-lower-triangle-green.html %}
</pre>

  <p class="continue">
    The first time around the outer loop,
    <code>x</code> is 0,
    so the inner loops doesn't run at all:
    <code>range(0)</code> counts from 0 up to <em>but not including</em> 0,
    so it produces no output.
    The second time around the outer loop,
    <code>x</code> is 1,
    so the inner loop runs once
    and turns <code>grid[1, 0]</code> green.
    The third time,
    <code>x</code> is 2,
    so the inner loop gives <code>y</code>the values 0 and 1,
    which turns <code>grid[2, 0]</code> and <code>grid[2, 1]</code> green,
    and so on.
  </p>

  <p>
    Let's try inverting the loops:
  </p>

<pre>
<span class="in">for y in range(4):
    for x in range(y):
        grid[x, y] = (0, 0, 255)
grid.show()</span>
{% include guide-pyblocks/forloop/blocks-upper-triangle-blue.html %}
</pre>

  <p class="continue">
    <a href="#f:diagonal_loops">Figure XXX</a> shows the order in which
    these nested loops turn cells blue.
    To fill in the cells between the two triangles,
    we can use a single loop like this:
  </p>

<pre>
<span class="in">for i in range(4):
    grid[i, i] = (0, 255, 255)
grid.show()</span>
{% include guide-pyblocks/forloop/blocks-diagonal-aqua.html %}
</pre>

  <p>
    This program works,
    but it violates our rules about
    making programs readable
    and not repeating information.
    More specifically,
    the number 4 shows up in several places,
    and tuples like (0, 255, 255) aren't exactly meaningful.
    Here's how we should write it instead:
  </p>

<pre>
<span class="in">from ipythonblocks import ImageGrid, colors
grid = ImageGrid(5, 5)
for x in range(grid.width):
    for y in range(x):
        grid[x, y] = colors['Green']
for y in range(grid.height):
    for x in range(y):
        grid[x, y] = colors['Blue']
for i in range(grid.height):
    grid[i, i] = colors['Aqua']
grid.show()</span>
{% include guide-pyblocks/forloop/blocks-the-right-way.html %}
</pre>

  <p>
    <code>colors</code> defines roughly 140 standard colors
    so that we can use them by name:
    for example,
    <code>colors['Yellow']</code> is the tuple <code>(255, 255, 0)</code>.
    Our loop ranges use <code>grid.height</code>,
    so if we decide to make our grid 20&times;20,
    all we will need to change is the second line of the program,
    and everything else will work.
  </p>

</div>
