<div id="s:pyblocks:design:lesson" class="lesson">

  <p class="fixme">do not need to reimport libraries all the time</p>

  <p>
    We've covered a lot of topics in the last few sections,
    so let's take a moment to do something with it all.
    To start,
    let's give ourselves an easy way to fill one row of a grid
    with blocks of particular colors:
  </p>

<pre>
<span class="in">from ipythonblocks import ImageGrid, colors

WIDTH = 6
HEIGHT = 1
INITIAL = 'GBRRBG' <span class="comment"># G=green, B=black, R=red</span>

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
grid.show()</span>
{% include guide-pyblocks/design/blocks-initial-single-row.html %}
</pre>

  <p>
    The idea in this code is simple:
    if we want to initialize blocks in an irregular way,
    we write down the colors we want as a string of characters
    with 'B' for black, 'R' for red, and so on.
    We then loop over that string,
    setting the color of the block corresponding to each character.
    This actually takes twice as many lines of code
    as doing it directly:
  </p>

<pre>
<span class="in">grid[0, 0] = colors['Green']
grid[1, 0] = colors['Black']
grid[2, 0] = colors['Red']
grid[3, 0] = colors['Red']
grid[4, 0] = colors['Black']
grid[5, 0] = colors['Green']</span>
</pre>

  <p class="continue">
    but is easier to read,
    because the actual description of what colors go where
    only takes up one line
    (the one that defines <code>INITIAL</code>).
    It is also more scalable:
    if we want to create a grid that is 40 blocks wide,
    all we have to do is change the definition of <code>INITIAL</code>,
    and everything else just works.
  </p>

  <p>FIXME: explain why the range() call (to align characters with cell indices)</p>

  <p>
    Or does it?
    Let's try:
  </p>

<pre>
<span class="in">WIDTH = 6
HEIGHT = 1
INITIAL = 'GGGBRRBGGBRRBGGBRRBGGBRRBGGBRRBGGBRRBGBB'

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
grid.show()</span>
<span class="error">IndexError                                Traceback (most recent call last)
&lt;ipython-input-4-2d159b61b6d0&gt; in &lt;module&gt;()
      8         grid[0, i] = colors['Green']
      9     elif INITIAL[i] == 'B':
---&gt; 10         grid[0, i] = colors['Black']
     11     elif INITIAL[i] == 'R':
     12         grid[0, i] = colors['Red']

IndexError: list index out of range</span>
</pre>

  <p>
    The problem is that <code>INITIAL</code> has 40 characters,
    but <code>WIDTH</code> is only 6,
    so when we try to set the block corresponding to the seventh character of the string,
    the index is out of bounds.
    The wrong way to solve this is to tell users that
    they must change <code>WIDTH</code> each time they change <code>INITIAL</code>.
    The right way is
    to rearrange things
    and base the definition of <code>WIDTH</code> on <code>INITIAL</code>
    so that the two can never be out of step:
  </p>

<pre>
<span class="in">INITIAL = 'GGGBRRBGGBRRBGGBRRBGGBRRBGGBRRBGGBRRBGBB'
WIDTH = <span class="highlight">len(INITIAL)</span>
HEIGHT = 1
...code as before...</span>
{% include guide-pyblocks/design/blocks-longer-initial-row.html %}
</pre>

  <p>
    The basic principle behind this change is <a href="glossary.html#dry">DRY</a>:
    Don't Repeat Yourself.
    Every fact in a program should appear exactly once;
    the rest of the program should refer to that definition
    to guarantee consistency in the face of changes.
  </p>

  <p>
    Let's test out our change on a 10-column grid:
  </p>

<pre>
<span class="in">INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = 1

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
grid.show()</span>
{% include guide-pyblocks/design/blocks-error-in-row-color.html %}
</pre>

  <p class="continue">
    This grid is the right size,
    but some of the colors are wrong.
    Along with G's and B's,
    <code>INITIAL</code> contains P's (for "purple").
    However,
    m the conditional statement inside the loop doesn't check for this letter.
    As a result,
    some cells are black (their default initial color) by accident
    rather than because we wanted them to be black.
  </p>

  <p>
    It's easy enough in this case to add another branch to the conditional
    to handle the letter 'P',
    but if we have made the mistake once,
    we're likely to make it again.
    To guard against it,
    we should add an <a href="glossary.html#assertion">assertion</a>
    to the program.
    An assertion is simply a statement that something is true
    at a certain point in the program's execution.
    When the program runs,
    Python checks the assertion's condition each time it is encountered.
    If the condition is false,
    Python halts the program and presents whatever error message we have defined:
  </p>

<pre>
<span class="in">INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = 1

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    <span class="highlight">assert INITIAL[i] in 'GBR', 'Unknown character: ' + INITIAL[i]</span>
    if INITIAL[i] == 'G':
        grid[0, i] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[0, i] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[0, i] = colors['Red']
grid.show()</span>
<span class="err">AssertionError                            Traceback (most recent call last)
&lt;ipython-input-6-da35b08e73ef&gt; in &lt;module&gt;()
      5 grid = ImageGrid(WIDTH, HEIGHT)
      6 for i in range(len(INITIAL)):
----&gt; 7     assert INITIAL[i] in 'GBR', 'Unknown character: ' + INITIAL[i]
      8     if INITIAL[i] == 'G':
      9         grid[0, i] = colors['Green']

AssertionError: Unknown character: P</span>
</pre>

  <p>
    Adding an assertion is an example of another rule of good programming:
    fail early, fail often.
    The greater the gap between something going wrong and us noticing it,
    the more we have to wade through when debugging.
    Putting assertions in programs reduces the distance between fault and detection.
    They also give us more confidence in our programs' results,
    and are a good way to document our expectations about the program
    for whoever inherits it from us.
  </p>

  <p>
    Here's our program with support for purple blocks:
  </p>

<pre>
<span class="in">INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = 1

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    assert INITIAL[i] in 'GBRP', 'Unknown character: ' + INITIAL[i]
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
    elif INITIAL[i] == 'P':
        grid[i, 0] = colors['Purple']
grid.show()</span>
{% include guide-pyblocks/design/blocks-adding-purple.html %}
</pre>

  <p>
    This works,
    but it violates our DRY principle:
    each time we want to add a color,
    we have to change the assertion <em>and</em> add another <code>elif</code>.
    Here's a better approach:
  </p>

<pre>
<span class="in">INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = 1

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
    elif INITIAL[i] == 'P':
        grid[i, 0] = colors['Purple']
<span class="highlight">    else:
        assert False, 'Unknown character: ' + INITIAL[i]</span>
grid.show()</span>
{% include guide-pyblocks/design/blocks-adding-purple.html %}
</pre>

  <p class="continue">
    This version doesn't have an explicit assertion
    checking that the character is one we know how to handle.
    Instead,
    it falls into the <code>else</code>
    if the character from <code>INITIAL</code>
    isn't any of the characters we know how to handle.
    In that case,
    we always want to fail,
    so we assert that <code>False</code> is true
    (which it never is).
  </p>

  <p>
    FIXME: some people prefer the DRY violation to the "assert False";
    most important thing is to be consistent.
  </p>

  <p>
    Later,
    when we meet
    <a href="setdict.html">sets and dictionaries</a>,
    we'll see an ever better way to structure this code.
    For the moment,
    though,
    let's move on to animating it instead.
    Try running this inside the IPython Notebook:
  </p>

<pre>
<span class="in">grid = ImageGrid(20, 1)
for i in range(20):
    grid[i, 0] = colors['Blue']
    grid.flash()
grid.show()</span>
</pre>

  <p>
    The final display doesn't do this code justice.
    <code>grid.flash</code> displays the grid for about a quarter of a second.
    Since we're changing the colors of the blocks in the grid between each call,
    the result appears animated when run interactively.
    (The <code>grid.show</code> call at the end leaves the final image on the screen;
    without it,
    the grid would disappear after being flashed for the last time.)
  </p>

  <p>
    Let's combine our initializer with some animation
    to fill in a grid row-by-row:
  </p>

  <p>
    FIXME: this example won't work until range copying is enabled in IPythonBlocks.
  </p>

<pre>INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = 5

grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
    elif INITIAL[i] == 'P':
        grid[i, 0] = colors['Purple']
    else:
        assert False, 'Unknown character: ' + INITIAL[i]

for i in range(1, HEIGHT):
    grid.flash()
    grid[: i] = grid[:, i-1]
grid.show()
</pre>

  <p>
    The four lines of code at the end are a little trickier than they first appear.
    The first time through the loop,
    <code>i</code> is 1,
    so the assignment inside the loop is effectively:
  </p>

<pre>
    grid[:, 1] = grid[:, 0]
</pre>

  <p class="continue">
    The second time through the loop,
    when <code>i</code> is 2,
    the assignment is equivalent to:
  </p>

<pre>
    grid[:, 2] = grid[:, 1]
</pre>

  <p class="continue">
    and so on.
    Each row therefore gets a copy of whatever's above it,
    one row at a time.
  </p>

  <p>
    To close off this section,
    let's do this with columns as well.
    If we want to <a href="glossary.html#shift">shift</a> the blocks in row <code>i</code>
    one space to the right,
    we can do this:
  </p>

<pre>
    grid[1:WIDTH, i] = grid[0:WIDTH-1, i]
</pre>

  <p class="continue">
    or more succinctly:
  </p>

<pre>
    grid[1:, i] = grid[:-1, i]
</pre>

  <p>
    It's important to use the correct subscript on the correct side:
    we are <em>reading</em> values from the start of the row
    up to (but not including) its last element
    on the right side of the assignment,
    and <em>writing</em> to everything from the first cell up to the end of the row
    on the left side.
    If we swap these,
    we will appear to move colors in the other direction.
  </p>

  <p>
    Here's our final program:
  </p>

  <p>
    FIXME: won't work til block copying is enabled in IPythonBlocks
  </p>

<pre><span class="comment"># Constants.</span>
INITIAL = 'GGGBPPBGGB'
WIDTH = len(INITIAL)
HEIGHT = len(INITIAL)

<span class="comment"># Initialize the first row of the grid.</span>
grid = ImageGrid(WIDTH, HEIGHT)
for i in range(len(INITIAL)):
    if INITIAL[i] == 'G':
        grid[i, 0] = colors['Green']
    elif INITIAL[i] == 'B':
        grid[i, 0] = colors['Black']
    elif INITIAL[i] == 'R':
        grid[i, 0] = colors['Red']
    elif INITIAL[i] == 'P':
        grid[i, 0] = colors['Purple']
    else:
        assert False, 'Unknown character: ' + INITIAL[i]

<span class="comment"># Animate filling of successive rows, shifting right each time.</span>
for i in range(1, HEIGHT):
    grid.flash()
    grid[1:, i] = grid[:-1, i-1]

<span class="comment"># Show final state of grid.</span>
grid.show()
</pre>

  <p>
    This does what we want,
    but even with explanatory comments at the start of each block,
    it has become unwieldy.
    We need a way to break programs down into more digestible pieces,
    and that is the subject of the next three sections.
  </p>

</div>
