*~
*.pyc
.DS_Store
.ipynb_checkpoints
_site
tmp
image-page.html
tmp-book.*
patched-gloss.md
*/*/*_files
lessons/misc-r/full-R-bootcamp/R-basics/01-basics-of-R.md
lessons/misc-r/full-R-bootcamp/R-basics/rstudio-basics.md
lessons/misc-r/full-R-bootcamp/R-basics/02-data-structures.md
lessons/misc-r/full-R-bootcamp/R-basics/03-best-practices.md
lessons/misc-r/full-R-bootcamp/R-basics/04-seeking-help.md
lessons/misc-r/full-R-bootcamp/R-basics/05-subsetting.md
lessons/misc-r/full-R-bootcamp/R-basics/06-vectorization.md
lessons/misc-r/full-R-bootcamp/R-basics/best-practices.md
lessons/misc-r/full-R-bootcamp/functions/01-functions.md
lessons/misc-r/full-R-bootcamp/functions/02-control_structures.md
lessons/misc-r/full-R-bootcamp/functions/03-scoping_rules.md
lessons/misc-r/full-R-bootcamp/data-manipulation/00-messy_data.md
lessons/misc-r/full-R-bootcamp/data-manipulation/01-input-output.md
lessons/misc-r/full-R-bootcamp/data-manipulation/02-apply-family.md
lessons/misc-r/full-R-bootcamp/data-manipulation/03-split-apply.md
lessons/misc-r/full-R-bootcamp/testing-documentation/testing.md
