Adam Stark <adam@codasign.com>
Adina Chuang Howe <adina.chuang@gmail.com>
Aleksandra Pawlik <aleksandra.n.pawlik@gmail.com>
Alex Viana <alex.costa.viana@gmail.com>
Alexandre Gramfort <alexandre.gramfort@inria.fr>
Alison Hoyt <ahoyt@mit.edu>
Amanda Whitlock <amanda.b.whitlock@gmail.com>
Andrew Smith <andrew.smith@ucl.ac.uk>
Andromeda Yelton <andromeda.yelton@gmail.com>
Andy Terrel <andy.terrel@gmail.com>
Anne Moroney <cqcinfo@yahoo.com>
Anthony Scopatz <scopatz@gmail.com>
April Wright <wright.aprilm@gmail.com>
Ariel Rokem <arokem@gmail.com>
Aron Ahmadia <aron@ahmadia.net> <aron@ahmadia.net>
Aronne Merrelli <aronne.merrelli@gmail.com>
Azalee Bostroem <bostroem@stsci.edu>
Becky Stewart <becky@codasign.com>
Ben Morris <ben@bendmorris.com>
Ben Waugh <b.waugh@ucl.ac.uk>
Bernhard Konrad <bernhard.konrad@gmail.com>
Bill Mills <mills.wj@gmail.com>
Bill Punch <punch@cse.msu.edu>
Brenna O'Brien <info@brennaobrien.com>
C. Titus Brown <titus@idyll.org>
Caitlyn Pickens <picken19@msu.edu>
Cam Macdonell <macdonellc4@macewan.ca>
Carlos Anderson <carlosja@msu.edu>
Cath Ly <briarrose5187@gmail.com> <briarrose5187@gmail.com>
Chang She <changshe@gmail.com>
Charlene Nielsen <ccn@ualberta.ca>
Chris Cannam <chris.cannam@eecs.qmul.ac.uk>
Chris Gray <cpgray@uwaterloo.ca>
Chris Lasher <chris.lasher@gmail.com>
Christina Koch <christinkconnect@gmail.com> <christinkconnect@gmail.com>
Christophe Combelles <ccomb@free.fr>
Christophe Cossou <christophe.cossou@u-bordeaux1.fr>
Christopher Woods <Christopher.Woods@bristol.ac.uk>
Cindee Madison <cindeem@gmail.com>
Curtis Dyreson <curtis.dyreson@usu.edu>
Damien Irving <d.irving@student.unimelb.edu.au>
Dan McGlinn <danmcglinn@gmail.com>
Dani Traphagen <dtrapezoid@gmail.com>
Daniel Krasner <krasnerdaniel@gmail.com>
Danielle Nielsen <nielsen@astro.wisc.edu>
Darren Boss <darren.boss@gmail.com>
David Jones <drj@climatecode.org>
David Ketcheson <david.ketcheson@kaust.edu.sa>
David Koop <dakoop@gmail.com>
David Martin <d.m.a.martin@dundee.ac.uk>
David Warde-Farley <dwf@dwf.name>
Davor Cubranic <cubranic@stat.ubc.ca>
Dethe Elza <dethe@mozillafoundation.org>
Dhavide Aruliah <dhavide@gmail.com>
Diego Barneche <barnechedr@gmail.com>
Diego Barneche <diego.barneche@ymail.com>
Dominique Vuvan <dominique.vuvan@utoronto.ca>
Doug Latornell <djl@douglatornell.ca>
Eli Bressert <ebressert@gmail.com>
Elliott Hauser <eah13@mac.com>
Emily Davenport <erdavenport@uchicago.edu>
Emily Jane McTavish <ejmctavish@utexas.edu>
Enas Yunis <enas.yunis@kaust.edu.sa>
Eric Weinstein <eric@codecademy.com>
Erik Bray <erik.m.bray@gmail.com> <embray@stsci.edu>
Ethan White <ethan@weecology.org>
Fernanda Foertter <foertterfs@ornl.gov>
Fernando Perez <Fernando.Perez@berkeley.edu>
Feth Arezki <feth.arezki@majerti.fr>
Gabriel Devenyi <devenyga@mcmaster.ca>
Gael Varoquaux <gael.varoquaux@normalesup.org>
Geoff Oxberry <goxberry@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org>
Hans Petter Langtangen <hpl@simula.no>
Ian Langmore <ianlangmore@gmail.com>
Ian Mitchell <mitchell@cs.ubc.ca>
Ivan Gonzalez <igonzalez@mailaps.org>
Jacob Vanderplas <jakevdp@cs.washington.edu>
James Hetherington <j.hetherington@ucl.ac.uk>
James Morrison <james.morrison@gmail.com>
Jared Lander <jared@jplander.com>
Jason Pell <jason.pell@gmail.com>
Jeffrey Shelton <shelton@custommachine.com>
Jennifer Bryan <jenny@stat.ubc.ca>
Jens von der Linden <jensv@u.washington.edu>
Jessica Kerr <jessitron@gmail.com>
Jessica McKellar <jessica.mckellar@gmail.com>
Joan Touzet <joant@cloudant.com>
John Blischak <jdblischak@uchicago.edu>
Jon Speicher <jon.speicher@icloud.com>
Jonathan Dursi <ljdursi@scinet.utoronto.ca>
Jorden Schossau <jory@msu.edu>
Joshua Ryan Smith <joshua.r.smith@gmail.com> <joshua.r.smith@gmail.com>
Joshua Smith <joshua.r.smith@gmail.com>
Julia Gustavsen <j.gustavsen@gmail.com>
Justin Ely <ely@stsci.edu>
Justin Kitzes <jkitzes@berkeley.edu>
Karen Cranston <karen.cranston@nescent.org>
Karin Lagesen <karin.lagesen@medisin.uio.no>
Karthik Ram <karthik.ram@gmail.com>
Katy Huff <katyhuff@gmail.com> <katyhuff@gmail.com>
Konrad Hinsen <research@khinsen.fastmail.net>
Kyle Mandli <kyle.mandli@gmail.com>
Laura Tremblay-Boyer <l.boyer@fisheries.ubc.ca>
Lauren Michael <lmichael@wisc.edu>
Laurent Gatto <lg390@cam.ac.uk>
Lex Nederbragt <lex.nederbragt@bio.uio.no> <lex.nederbragt@bio.uio.no>
Luis Figueira <la.figueira@gmail.com>
Lynne Williams <williams.lynne99@gmail.com> <alw@Lynne-Williamss-MacBook.local>
Mario Antonioletti <mario@epcc.ed.ac.uk>
Mark Holder <mtholder@gmail.com>
Matt Billard <matt@photon.man> <matt@photon.man>
Matt Davis <jiffyclub@gmail.com> <jiffyclub.programatic@gmail.com>
Matt Gidden <matthew.gidden@gmail.com>
Matt Terry <matt.terry@gmail.com>
Matthew Brett <matthew.brett@gmail.com>
Michael Hansen <mihansen@umail.iu.edu>
Michael Selik <mike@selik.org>
Michelle Levesque <catspaw@gmail.com>
Miguel Bernabeu <miguel.bernabeu@ucl.ac.uk>
Mike Conley <mike.d.conley@gmail.com>
Mike Fletcher <mcfletch@vrplumber.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Milad Fatenejad <icksa1@gmail.com>
Molly Gibson <mollykrisann@gmail.com> <mgibson@Molly-Gibsons-MacBook-Pro.local>
Molly Gibson <mollykrisann@gmail.com> <mollykrisann@gmail.com>
Nasser Mohieddin Abukhdeir <nmabukhdeir@uwaterloo.ca>
Neal Davis <davis68@illinois.edu>
Neil Chue Hong <N.ChueHong@software.ac.uk>
Nelle Varoquaux <nelle.varoquaux@gmail.com>
Nick Jones <n.jones@auckland.ac.nz>
Nicolas Limare <nicolas.limare@cmla.ens-cachan.fr>
Patrick Fuller <patrickfuller@gmail.com>
Paul Ivanov <pi@berkeley.edu>
Paul Wilson <wilsonp@engr.wisc.edu>
Philipp Bayer <philippbay@gmail.com>
Qingpeng Zhang <qingpeng@gmail.com>
R. David Murray <rdmurray@bitdance.com>
Randy Olson <rso@randalolson.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br>
Richard Enbody <enbody@cse.msu.edu>
Rick White <rickw@stat.ubc.ca>
Rodgers Cliff <frodgers@wisc.edu>
Rosangela Canino-Koning <rosiec@voidptr.net>
Ross Dickson <ross.dickson@dal.ca>
Samuel Thomson <spth@roe.ac.uk>
Sarah Supp <sarah@weecology.org>
Sasha Wood <sashawood@gmail.com>
Scott Chamberlain <myrmecocystus@gmail.com> <myrmecocystus@gmail.com>
Sergi Blanco Cuaresma <marblestation@gmail.com>
Shoaib Sufi <shoaib.sufi@manchester.ac.uk>
Shreyas Cholia <scholia@lbl.gov>
Sri Hari Krishna Narayanan <sriharikrishna@gmail.com> <snarayan@mcswl169.mcs.anl.gov>
Stefano Cozzini <cozzini@democritos.it>
Stephen Crouch <s.crouch@software.ac.uk>
Stephen Eglen <S.J.Eglen@damtp.cam.ac.uk>
Steve Haddock <haddock@mbari.org>
Steve Holden <steve@holdenweb.com>
Steve McGough <stephen.mcgough@durham.ac.uk>
Steven Haddock <haddock@mbari.org> <haddock@mbari.org>
Ted Hart <ehart@zoology.ubc.ca>
Tim McNamara <tim.mcnamara@nesi.org.nz>
Tommy Guy <richardtguy84@gmail.com>
Tracy Teal <tkteal@msu.edu>
Trent Hauck <trent@trenthauck.com> <thauck@alightanalytics.com>
Victor Ng <victor@crankycoder.com>
Will Trimble <wltrimbl@gmail.com>
Yuxi Luo <iamaplayer@gmail.com> <iamaplayer@gmail.com>
