<div id="s:db:join:summary" class="keypoints">
  <ul>
    <li>Use <code>join</code> to create all possible combinations of records from two or more tables.</li>
    <li>Use <code>join <em>tables</em> on <em>test</em></code> to keep only those combinations that pass some test.</li>
    <li>Use <code><em>table</em>.<em>field</em></code> to specify a particular field of a particular table.</li>
    <li>Every record in a table should be uniquely identified by the value of its primary key.</li>
  </ul>
</div>
