<div id="s:db:join:lesson" class="lesson">

  <p>
    In order to submit her data to a web site
    that aggregates historical meteorological data,
    Gina needs to format it as:
  </p>

  <table>
    <tr>
      <td>latitude</td>
      <td>longitude</td>
      <td>date</td>
      <td>quantity</td>
      <td>reading</td>
    </tr>
  </table>

  <p>
    However,
    her latitudes and longitudes are in the <code>Site</code> table,
    while the dates of measurements are in the <code>Visited</code> table
    and the readings themselves are in the <code>Survey</code> table.
    She needs to combine these tables somehow.
  </p>

  <p>
    The SQL command to do this is <code>join</code>.
    To see how it works,
    let's start by joining the <code>Site</code> and <code>Visited</code> tables:
  </p>

  <table class="db">
    <tr>
      <td colspan="6">
<pre>select * from Site join Visited;</pre>
      </td>
    </tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>752</td><td>DR-3</td><td></td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>752</td><td>DR-3</td><td></td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>752</td><td>DR-3</td><td></td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <p>
    <code>join</code> creates
    the <a href="glossary.html#cross-product">cross product</a>
    of two tables,
    i.e.,
    it joins each record of one with each record of the other
    to give all possible combinations.
    Since there are three records in <code>Site</code>
    and eight in <code>Visited</code>,
    the join's output has 24 records.
    And since each table has three fields,
    the output has six fields.
  </p>

  <p>
    What the join <em>hasn't</em> done is
    figure out if the records being joined have anything to do with each other.
    It has no way of knowing whether they do or not until we tell it how.
    To do that,
    we add a clause specifying that
    we're only interested in combinations that have the same site name:
  </p>

  <table class="db">
    <tr>
      <td colspan="6">
<pre>select * from Site join Visited <span class="highlight">on Site.name=Visited.site</span>;</pre>
      </td>
    </tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td><td>752</td><td>DR-3</td><td></td></tr>
    <tr><td>MS-4</td><td>-48.87</td><td>-123.4</td><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
  </table>

  <p>
    <code>on</code> does the same job as <code>where</code>:
    it only keeps records that pass some test.
    (The difference between the two is that <code>on</code> filters records
    as they're being created,
    while <code>where</code> waits until the join is done
    and then does the filtering.)
    Once we add this to our query,
    the database manager throws away records
    that combined information about two different sites,
    leaving us with just the ones we want.
  </p>

  <p>
    Notice that we used <code>table.field</code> to specify field names
    in the output of the join.
    We do this because tables can have fields with the same name,
    and we need to be specific which ones we're talking about.
    For example,
    if we joined the <code>person</code> and <code>visited</code> tables,
    the result would inherit a field called <code>ident</code>
    from each of the original tables.
  </p>

  <p>
    We can now use the same dotted notation
    to select the three columns we actually want
    out of our join:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select <span class="highlight">Site.lat, Site.long, Visited.dated</span>
from   Site join Visited
on     Site.name=Visited.site;</pre>
      </td>
    </tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-08</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-10</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1932-03-22</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td></td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-01-12</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-02-26</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1939-01-07</td></tr>
    <tr><td>-48.87</td><td>-123.4</td><td>1932-01-14</td></tr>
  </table>

  <p>
    If joining two tables is good,
    joining many tables must be better.
    In fact,
    we can join any number of tables
    simply by adding more <code>join</code> clauses to our query,
    and more <code>on</code> tests to filter out combinations of records
    that don't make sense:
  </p>

  <table class="db">
    <tr>
      <td colspan="5">
<pre>select Site.lat, Site.long, Visited.dated, <span class="highlight">Survey.quant, Survey.reading</span>
from   Site join Visited join Survey
on     Site.name=Visited.site
<span class="highlight">and    Visited.ident=Survey.taken
and    Visited.dated is not null</span>;</pre>
      </td>
    </tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-08</td><td>rad</td><td>9.82</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-08</td><td>sal</td><td>0.13</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-10</td><td>rad</td><td>7.8</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1927-02-10</td><td>sal</td><td>0.09</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1939-01-07</td><td>rad</td><td>8.41</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1939-01-07</td><td>sal</td><td>0.05</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1939-01-07</td><td>temp</td><td>-21.5</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-01-12</td><td>rad</td><td>7.22</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-01-12</td><td>sal</td><td>0.06</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-01-12</td><td>temp</td><td>-26.0</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-02-26</td><td>rad</td><td>4.35</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-02-26</td><td>sal</td><td>0.1</td></tr>
    <tr><td>-47.15</td><td>-126.72</td><td>1930-02-26</td><td>temp</td><td>-18.5</td></tr>
    <tr><td>-48.87</td><td>-123.4</td><td>1932-01-14</td><td>rad</td><td>1.46</td></tr>
    <tr><td>-48.87</td><td>-123.4</td><td>1932-01-14</td><td>sal</td><td>0.21</td></tr>
    <tr><td>-48.87</td><td>-123.4</td><td>1932-01-14</td><td>sal</td><td>22.5</td></tr>
    <tr><td>-49.85</td><td>-128.57</td><td>1932-03-22</td><td>rad</td><td>11.25</td></tr>
  </table>

  <p id="a:keys">
    We can tell which records from <code>Site</code>, <code>Visited</code>, and <code>Survey</code>
    correspond with each other
    because those tables contain
    <a href="glossary.html#primary-key">primary keys</a>
    and <a href="glossary.html#foreign-key">foreign keys</a>.
    A primary key is a value,
    or combination of values,
    that uniquely identifies each record in a table.
    A foreign key is a value (or combination of values) from one table
    that identifies a unique record in another table.
    Another way of saying this is that
    a foreign key is the primary key of one table
    that appears in some other table.
    In our database,
    <code>Person.ident</code> is the primary key in the <code>Person</code> table,
    while <code>Survey.person</code> is a foreign key
    relating the <code>Survey</code> table's entries
    to entries in <code>Person</code>.
  </p>

  <p>
    Most database designers believe that
    every table should have a well-defined primary key.
    They also believe that this key should be separate from the data itself,
    so that if we ever need to change the data,
    we only need to make one change in one place.
    One easy way to do this is
    to create an arbitrary, unique ID for each record
    as we add it to the database.
    This is actually very common:
    those IDs have names like "student numbers" and "patient numbers",
    and they almost always turn out to have originally been
    a unique record identifier in some database system or other.
    As the query below demonstrates,
    SQLite automatically numbers records as they're added to tables,
    and we can use those record numbers in queries:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select rowid, * from Person;</pre>
      </td>
    </tr>
    <tr><td>1</td><td>dyer</td><td>William</td><td>Dyer</td></tr>
    <tr><td>2</td><td>pb</td><td>Frank</td><td>Pabodie</td></tr>
    <tr><td>3</td><td>lake</td><td>Anderson</td><td>Lake</td></tr>
    <tr><td>4</td><td>roe</td><td>Valentina</td><td>Roerich</td></tr>
    <tr><td>5</td><td>danforth</td><td>Frank</td><td>Danforth</td></tr>
  </table>

</div>
