<div id="s:db:join:objectives" class="objectives">
  <ul>
    <li>Explain what primary keys and foreign keys are.</li>
    <li>Write queries that combine information from two or more tables by matching keys.</li>
    <li>Write queries using aliases for table names.</li>
    <li>Explain why the <code>tablename.fieldname</code> notation is needed when tables are joined.</li>
    <li>Explain the logical sequence of operations that occurs when two or more tables are joined.</li>
  </ul>
  <p>Duration: 20 minutes (including time to walk through one small example step by step).</p>
</div>
