<div id="s:invperc:ties:lesson" class="lesson">

  <p>
    The next thing on our to-do list is
    to resolve ties between cells that share the lowest value on the boundary.
    For example,
    our specification says that we should choose one of the three highlighted cells
    in <a href="#f:handling_ties">Figure 6</a> at random.
    How do we keep track of the cells we're supposed to be choosing from?
  </p>

  <figure id="f:handling_ties">
    <img src="dev/handling_ties.png" alt="Handling Ties" />
    <figcaption>Figure 6: Handling Ties</figcaption>
  </figure>

  <p>
    We're going to do this using a set,
    which we will fill with (x,y) tuples holding the coordinates of boundary cells
    that have the lowest value we've seen so far,
    and use a separate variable to store that lowest value.
    Every time we look at a new cell,
    we will have to consider three cases:
  </p>

  <ol>

    <li>
      <em>Its value is greater than the minimum we've seen so far,</em>
      so we can ignore it,
      because we know there are better cells elsewhere.
    </li>

    <li>
      <em>The value of the new cell is equal to the current minimum,</em>
      so we must add the new cell's (x,y) coordinates to our set.
    </li>

    <li>
      <em>The new value is less than the current minimum,</em>
      so we must replace all the coordinates that are currently in the set
      with the coordinates of the new cell,
      and re-set our minimum to be this new value.
    </li>

  </ol>

  <p>
    An example will make this clearer.
    Suppose the range of values cells can take on is 1 to 10.
    Before we start looking at cells,
    we assign 11 to <code>min_val</code>
    (because it is one greater than the maximum possible value that could be in the grid)
    and assign an empty set to <code>min_set</code>
    (because we haven't look at any cells yet).
    We then take a look at our first cell
    (<a href="#f:handling_ties_example">Figure 7</a>).
    Its value is less than <code>min_val</code>,
    so we re-set <code>min_val</code> to 4 (the value of the cell),
    and we put the coordinates of this cell (in this case, X equals 12, Y equals 23) into the set.
  </p>

  <figure id="f:handling_ties_example">
    <img src="dev/handling_ties_example.png" alt="Example of Handling Ties" />
    <figcaption>Figure 7: Example of Handling Ties</figcaption>
  </figure>

  <p>
    When we look at the next cell,
    its value is greater than the currently known minimum value,
    so we ignore it.
    The third cell is tied equal for the minimum value,
    so we add its coordinates&mdash;in this case, (11,22)&mdash;to our set.
    The next cell is greater than the minimum value, so we ignore it.
  </p>

  <p>
    The fifth cell we examine has a value less than the minimum value we've seen previously,
    so we throw out all of the coordinates we've saved in the set,
    and put the coordinates of this cell into the set in their place.
    Finally,
    the last boundary cell has a value equal to this new minimum,
    so we add its coordinates to the set.
  </p>

  <p>
    Here's the code that implements all this:
  </p>

<pre>
# Keep track of cells tied for lowest value
min_val = Z+1
min_set = set()
for x in range(N):
    for y in range(N):
        if ...is a neighbor...:
            if grid[x][y] == min_val:
                min_set.add((x, y))
            elif grid[x][y] &lt; min_val:
                min_val = grid[x][y]
                min_set = set([(x, y)])
</pre>

<div class="box">
  <h3>Seeing What Isn't There</h3>

  <p>
    Notice that since we don't need to do anything
    when a cell's value is greater than the minimum we've seen so far,
    there isn't an <code>else</code> to handle that case.
    Some people would add a comment to make that explicit,
    so that the logic is complete:
  </p>

<pre>
            if grid[x][y] == min_val:
                min_set.add((x, y))
            elif grid[x][y] &lt; min_val:
                min_val = grid[x][y]
                min_set = set([(x, y)])
<span class="highlight">            else:
                pass # do nothing if cell value &gt; min_val</span>
</pre>

  <p class="continue">
    but other people would find this more confusing than helpful.
    As always,
    the most important thing is to be consistent.
  </p>

</div>

  <p>
    Once we have the set of candidate cells,
    we can use the <code>random</code> library's <code>choice</code> function to pick one:
  </p>

<pre>
# Choose a cell
from random import ..., choice

min_val = Z+1
min_set = set()
...loop...
assert min_set, "No cells found"
candidates = list(min_set)
x, y = choice(candidates)
</pre>

  <p class="continue">
    Before we call <code>choice</code>,
    we check that the set actually has something in it
    (because if there are no cells in the set when we finish our loop,
    then something's gone wrong with our program).
    We then convert the set to a list,
    because the random choice function requires an argument that can be indexed,
    and then use that function to choose one element from the list.
  </p>

</div>
