<div id="s:invperc:refactor:lesson" class="lesson">

  <p>
    We have found and fixed one bug in our program,
    but how many others <em>haven't</em> we found?
    More generally,
    how do we validate and verify a program like this?
    Those two terms sound similar, but mean different things.
    Verification means, "Is our program free of bugs?"
    or, "Did we built the program right?"
    Validation means, "Are we implementing the right model?"
    i.e., "Did we build the right thing?"
    The second question depends on the science we're doing,
    so we'll concentrate on the first.
  </p>

  <p>
    To begin addressing it,
    we need to make our program more testable.
    And since testing anything that involves randomness is difficult,
    we need to come up with examples that <em>aren't</em> random.
    One is a grid has the value 2 everywhere,
    except in three cells that we have filled with 1's
    (<a href="#f:test_case_grid">Figure 13</a>).
    If our program is working correctly,
    it should fill exactly those three cells and nothing else.
    If it doesn't,
    we should be able to figure out pretty quickly why not.
  </p>

  <figure id="f:test_case_grid">
    <img src="dev/test_case_grid.png" alt="Test Case" />
    <figcaption>Figure 13: Test Case</figcaption>
  </figure>

  <p>
    How do we get there from here?
    The overall structure of our program is shown
    in <a href="#f:before_refactoring">Figure 14</a>:
  </p>

  <figure id="f:before_refactoring">
    <img src="dev/before_refactoring.png" alt="Program Before Refactoring" />
    <figcaption>Figure 14: Program Before Refactoring</figcaption>
  </figure>

  <p class="continue">
    The function we want to test is <code>fill_grid</code>,
    so let's reorganize our code to make it easier to create specific grids.
    Grids are created by the function <code>create_random_grid</code>,
    which takes the grid size and random value range as arguments:
  </p>

<pre>
def create_random_grid(N, Z):
    ...

def main(arguments):
    ...
    grid = create_random_grid(grid_size, value_range)
    ...
</pre>

  <p>
    Let's split that into two pieces.
    The first will create an N&times;N grid containing the value 0,
    and the second will overwrite those values with random values in the range 1 to Z:
  </p>

<pre>
...
def create_grid(N):
    ...

def fill_grid_random(grid, Z):
    ...

def main(arguments):
    ...
    grid = create_grid(grid_size)
    fill_grid_random(grid, value_range)
    ...
</pre>

  <p class="continue">
    We can now use some other function to fill the grid with non-random values
    when we want to test specific cases,
    <em>without</em> duplicating the work of creating the grid structure.
  </p>

  <p>
    Another part of the program we will need to change is
    the <code>main</code> function
    that takes command-line arguments
    and converts them into a grid size,
    a range of random values,
    and a random number seed:
  </p>

<pre>
def main(arguments):
    '''Run the simulation.'''

    # Parse parameters.
    try:
        grid_size = int(arguments[0])
        value_range = int(arguments[1])
        random_seed = int(arguments[2])
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected integer arguments, got %s' % str(arguments))

    # Run simulation.
    ...
</pre>

  <p>
    Let's introduce a new argument in the first position called <code>scenario</code>:
  </p>

<pre>
def main(arguments):
    '''Run the simulation.'''

    # Parse parameters.
    try:
        <span class="highlight">scenario = arguments[0]
        grid_size = int(arguments[1])
        value_range = int(arguments[2])
        random_seed = int(arguments[3])</span>
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected integer arguments, got %s' % str(arguments))

    # Run simulation.
    ...
</pre>

  <p class="continue">
    <code>scenario</code> doesn't need to be converted to an integer:
    it's just a string value specifying what we want to do.
    If the user gives us the word "random",
    we'll do exactly what we've been doing all along.
    For the moment,
    we will fail if the user gives us anything else,
    but later on we will use <code>scenario</code> to determine
    which of our test cases we want to run.
  </p>

  <p>
    But wait a moment:
    we're not going to use random numbers when we fill the grid manually for testing.
    We're also not going to need the value range,
    or even the grid size,
    so let's move argument handling and random number generation seeding
    into the <code>if</code> branch that handles the random scenario.
    Once we make this change,
    we determine the scenario by looking at the first command-line argument,
    and then if that value is the word "random",
    we look at the remaining arguments to determine the grid size,
    the value range, and the random seed.
    If the first argument <em>isn't</em> the word "random", then we fail:
  </p>

<pre>
    # Parse parameters.
    scenario = arguments[0]
    try:
        if scenario == 'random':

            # Parse arguments.
            grid_size = int(arguments[1])
            value_range = int(arguments[2])
            random_seed = int(arguments[3])

            # Run simulation.
            random.seed(random_seed)
            grid = create_random_grid(grid_size, value_range)
            mark_filled(grid, grid_size/2, grid_size/2)
            num_filled_cells = fill_grid(grid) + 1
            print '%d cells filled' % num_filled_cells

        else:
            fail('Unknown scenario "%s"' % scenario)
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected integer arguments, got %s' % str(arguments))
</pre>

  <p>
    The block of code inside the <code>if</code> is large enough
    that it's hard to see how what <code>else</code>
    and the two <code>except</code>s line up with.
    Let's factor some more:
  </p>

<pre>
def do_random(arguments):
    # Parse arguments.
    grid_size = int(arguments[1])
    value_range = int(arguments[2])
    random_seed = int(arguments[3])

    # Run simulation.
    random.seed(random_seed)
    grid = create_random_grid(grid_size, value_range)
    mark_filled(grid, grid_size/2, grid_size/2)
    num_filled_cells = fill_grid(grid) + 1
    print '%d cells filled' % num_filled_cells

def main(arguments):
    '''Run the simulation.'''

    scenario = arguments[0]
    try:
        if scenario == 'random':
            do_random(arguments)
        else:
            fail('Unknown scenario "%s"' % scenario)
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected integer arguments, got %s' % str(arguments))

# Main driver.
if __name__ == '__main__':
    main(sys.argv[1:])
</pre>

  <p>
    That's easier to follow,
    but selecting everything but the first command-line argument
    in the <code>if</code> at the bottom,
    then selecting everything but the first of <em>those</em> values
    at the start of <code>main</code>,
    is a bit odd.
    Let's clean that up,
    and move the <code>try</code>/<code>except</code> into <code>do_random</code> at the same time
    (since the functions that handle other scenarios might have different error cases).
  </p>

<pre>
def do_random(arguments):
    '''Run a random simulation.'''

    # Parse arguments.
    try:
        grid_size = int(arguments[1])
        value_range = int(arguments[2])
        random_seed = int(arguments[3])
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected integer arguments, got %s' % str(arguments))

    # Run simulation.
    random.seed(random_seed)
    grid = create_random_grid(grid_size, value_range)
    mark_filled(grid, grid_size/2, grid_size/2)
    num_filled_cells = fill_grid(grid) + 1
    return num_filled_cells
    print '%d cells filled' % num_filled_cells

def main(scenario, arguments):
    '''Run the simulation.'''

    if scenario == 'random':
        do_random(arguments)
    else:
        fail('Unknown scenario "%s"' % scenario)

# Main driver.
if __name__ == '__main__':
    assert len(sys.argv) &gt; 1, 'Must have at least a scenario name'
    main(sys.argv[1], sys.argv[2:])
</pre>

<figure id="f:revised_structure">
  <img src="dev/revised_structure.png" alt="Result of Refactoring" />
  <figcaption>Figure 15: Result of Refactoring</figcaption>
</figure>

  <p>
    <a href="#f:revised_structure">Figure 15</a> shows
    the structure of our program after refactoring.
    We have the documentation string,
    which we've updated to remind people that the first argument is the name of the scenario.
    Our <code>fail</code> function hasn't changed.
    We've split grid creation into two functions.
    Our <code>fill_grid</code> function now fills the middle cell and returns the count of <em>all</em> filled cells.
    And we have a function to parse command-line arguments.
    This argument-parsing function is actually specific to the random case.
    We should probably rename it, to make that clear.
  </p>

  <p>
    Now let's step back.
    We were supposed to be testing our program,
    but in order to make it more testable,
    we had to refactor it first.
    Now that we've done this refactoring,
    we can write tests more easily.
    More importantly,
    now that we've thought this through,
    we are more likely to write the next program of this kind in a testable way
    right from the start.
  </p>

</div>
