<div id="s:web:http:keypoints" class="keypoints">
  <ul>
    <li>Most communication on the web uses TCP/IP and sockets.</li>
    <li>A socket endpoint is identified by a host address and a port number.</li>
    <li>The Domain Name System (DNS) translates between human-readable names and host addresses.</li>
    <li>An HTTP request contains a method, headers, and a body.</li>
    <li>An HTTP response also contains a response code.</li>
    <li>HTTP is a stateless request-response protocol.</li>
    <li>Many web sites use cookies to keep track of state.</li>
  </ul>
</div>
