<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><div class='keypoints' id='s:db:filter:keypoints'>
  <ul>
    <li>Use <code>where <em>test</em></code> in a query to filter records based on Boolean tests.</li>
    <li>Use <code>and</code> and <code>or</code> to combine tests.</li>
    <li>Use <code>in</code> to check if a value is in a set.</li>
    <li>Build up queries a bit at a time, and test them against small data sets.</li>
  </ul>
</div></body></html>
