<div class="lesson" id="s:db:filter:lesson">

  <p>
    One of the most powerful features of a database is
    the ability to <a href="glossary.html#filter">filter</a> data,
    i.e.,
    to select only those records that match certain criteria.
    For example,
    suppose we want to see when a particular site was visited.
    We can select these records from the <code>Visited</code> table
    by using a <code>where</code> clause in our query:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where site='DR-1';</pre>
      </td>
    </tr>
    <tr><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <p>
    The database manager executes this query in two stages
    (<a href="#f:pipeline_where">Figure 4</a>).
    First,
    it checks at each row in the <code>Visited</code> table
    to see which ones satisfy the <code>where</code>.
    It then uses the column names following the <code>select</code> keyword
    to determine what columns to display.
  </p>

  <figure id="f:pipeline_where">
    <img alt="Two-Stage Query Processing Pipeline" src="db/pipeline_where.png" />
    <figcaption>Figure 4: Two-Stage Query Processing Pipeline</figcaption>
  </figure>

  <p>
    This processing order means that
    we can filter records using <code>where</code>
    based on values in columns that aren't then displayed:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select ident from Visited where site='DR-1';</pre>
      </td>
    </tr>
    <tr><td>619</td></tr>
    <tr><td>622</td></tr>
    <tr><td>844</td></tr>
  </table>

  <p>
    We can use many other Boolean operators to filter our data.
    For example,
    we can ask for all information from the DR-1 site collected since 1930:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where (site='DR-1') and (dated>='1930-00-00');</pre>
      </td>
    </tr>
    <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <p class="continue">
    (The parentheses around the individual tests aren't strictly required,
    but they help make the query easier to read.)
  </p>

  <div class="box" id="a:dates">
    <h3>Working With Dates</h3>

    <p>
      Most database managers have a special data type for dates.
      In fact, many have two:
      one for dates,
      such as "May 31, 1971",
      and one for durations,
      such as "31 days".
      SQLite doesn't:
      instead,
      it stores dates as either text
      (in the ISO-8601 standard format "YYYY-MM-DD HH:MM:SS.SSSS"),
      real numbers
      (the number of days since November 24, 4714 BCE),
      or integers
      (the number of seconds since midnight, January 1, 1970).
      If this sounds complicated,
      it is,
      but not nearly as complicated as figuring out
      <a href="http://en.wikipedia.org/wiki/Swedish_calendar">historical dates in Sweden</a>.
    </p>

  </div>

  <p>
    If we want to find out what measurements were taken by either Lake or Roerich,
    we can combine the tests on their names using <code>or</code>:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where person='lake' or person='roe';</pre>
      </td>
    </tr>
    <tr><td>734</td><td>lake</td><td>sal</td><td>0.05</td></tr>
    <tr><td>751</td><td>lake</td><td>sal</td><td>0.1</td></tr>
    <tr><td>752</td><td>lake</td><td>rad</td><td>2.19</td></tr>
    <tr><td>752</td><td>lake</td><td>sal</td><td>0.09</td></tr>
    <tr><td>752</td><td>lake</td><td>temp</td><td>-16.0</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>lake</td><td>rad</td><td>1.46</td></tr>
    <tr><td>837</td><td>lake</td><td>sal</td><td>0.21</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
    <tr><td>844</td><td>roe</td><td>rad</td><td>11.25</td></tr>
  </table>

  <p>
    Alternatively,
    we can use <code>in</code> to see if a value is in a specific set:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where person in ('lake', 'roe');</pre>
      </td>
    </tr>
    <tr><td>734</td><td>lake</td><td>sal</td><td>0.05</td></tr>
    <tr><td>751</td><td>lake</td><td>sal</td><td>0.1</td></tr>
    <tr><td>752</td><td>lake</td><td>rad</td><td>2.19</td></tr>
    <tr><td>752</td><td>lake</td><td>sal</td><td>0.09</td></tr>
    <tr><td>752</td><td>lake</td><td>temp</td><td>-16.0</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>lake</td><td>rad</td><td>1.46</td></tr>
    <tr><td>837</td><td>lake</td><td>sal</td><td>0.21</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
    <tr><td>844</td><td>roe</td><td>rad</td><td>11.25</td></tr>
  </table>

  <p>
    We can combine <code>and</code> with <code>or</code>,
    but we need to be careful about which operator is executed first.
    If we <em>don't</em> use parentheses,
    we get this:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where quant='sal' and person='lake' or person='roe';</pre>
      </td>
    </tr>
    <tr><td>734</td><td>lake</td><td>sal</td><td>0.05</td></tr>
    <tr><td>751</td><td>lake</td><td>sal</td><td>0.1</td></tr>
    <tr><td>752</td><td>lake</td><td>sal</td><td>0.09</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>lake</td><td>sal</td><td>0.21</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
    <tr><td>844</td><td>roe</td><td>rad</td><td>11.25</td></tr>
  </table>

  <p class="continue">
    which is salinity measurements by Lake,
    and <em>any</em> measurement by Roerich.
    We probably want this instead:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where quant='sal' and <span class="highlight">(</span>person='lake' or person='roe'<span class="highlight">)</span>;</pre>
      </td>
    </tr>
    <tr><td>734</td><td>lake</td><td>sal</td><td>0.05</td></tr>
    <tr><td>751</td><td>lake</td><td>sal</td><td>0.1</td></tr>
    <tr><td>752</td><td>lake</td><td>sal</td><td>0.09</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>lake</td><td>sal</td><td>0.21</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
  </table>

  <p>
    Finally,
    we can use <code>distinct</code> with <code>where</code>
    to give a second level of filtering:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select distinct person, quant from Survey where person='lake' or person='roe';</pre>
      </td>
    </tr>
    <tr><td>lake</td><td>sal</td></tr>
    <tr><td>lake</td><td>rad</td></tr>
    <tr><td>lake</td><td>temp</td></tr>
    <tr><td>roe</td><td>sal</td></tr>
    <tr><td>roe</td><td>rad</td></tr>
  </table>

  <p class="continue">
    But remember:
    <code>distinct</code> is applied to the values displayed in the chosen columns,
    not to the entire rows as they are being processed.
  </p>

  <div class="box">
    <h3>Growing Queries</h3>

    <p>
      What we have just done is how most people "grow" their SQL queries.
      We started with something simple that did part of what we wanted,
      then added more clauses one by one,
      testing their effects as we went.
      This is a good strategy&mdash;in fact,
      for complex queries it's often the <em>only</em> strategy&mdash;but
      it depends on quick turnaround,
      and on us recognizing the right answer when we get it.
    </p>

    <p>
      The best way to achieve quick turnaround is often
      to put a subset of data in a temporary database
      and run our queries against that,
      or to fill a small database with synthesized records.
      For example,
      instead of trying our queries against an actual database of 20 million Australians,
      we could run it against a sample of ten thousand,
      or write a small program to generate ten thousand random (but plausible) records
      and use that.
    </p>

  </div>

</div>
