---
layout: lesson
shared: ..
title: Databases and SQL
order: ["select", "distinct", "filter", "calc", "sort", "null", "aggregate", "grouping", "join", "create", "transactions", "programming"]
---

<section id="s:db:opening">
  <h2>Opening</h2>
  {% include db/opening.html %}
</section>

<section id="s:db:instructors">
  <h2>Instructors</h2>
  {% include db/instructors.html %}
</section>

<section id="s:db:select">
  <h2>{% include db/select/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/select/objectives.html %}
  <h3>Lesson</h3>
  {% include db/select/lesson.html %}
  <h3>Key Points</h3>
  {% include db/select/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/select/challenges.html %}
</section>

<section id="s:db:distinct">
  <h2>{% include db/distinct/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/distinct/objectives.html %}
  <h3>Lesson</h3>
  {% include db/distinct/lesson.html %}
  <h3>Key Points</h3>
  {% include db/distinct/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/distinct/challenges.html %}
</section>

<section id="s:db:filter">
  <h2>{% include db/filter/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/filter/objectives.html %}
  <h3>Lesson</h3>
  {% include db/filter/lesson.html %}
  <h3>Key Points</h3>
  {% include db/filter/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/filter/challenges.html %}
</section>

<section id="s:db:calc">
  <h2>{% include db/calc/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/calc/objectives.html %}
  <h3>Lesson</h3>
  {% include db/calc/lesson.html %}
  <h3>Key Points</h3>
  {% include db/calc/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/calc/challenges.html %}
</section>

<section id="s:db:sort">
  <h2>{% include db/sort/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/sort/objectives.html %}
  <h3>Lesson</h3>
  {% include db/sort/lesson.html %}
  <h3>Key Points</h3>
  {% include db/sort/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/sort/challenges.html %}
</section>

<section id="s:db:null">
  <h2>{% include db/null/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/null/objectives.html %}
  <h3>Lesson</h3>
  {% include db/null/lesson.html %}
  <h3>Key Points</h3>
  {% include db/null/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/null/challenges.html %}
</section>

<section id="s:db:aggregate">
  <h2>{% include db/aggregate/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/aggregate/objectives.html %}
  <h3>Lesson</h3>
  {% include db/aggregate/lesson.html %}
  <h3>Key Points</h3>
  {% include db/aggregate/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/aggregate/challenges.html %}
</section>

<section id="s:db:grouping">
  <h2>{% include db/grouping/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/grouping/objectives.html %}
  <h3>Lesson</h3>
  {% include db/grouping/lesson.html %}
  <h3>Key Points</h3>
  {% include db/grouping/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/grouping/challenges.html %}
</section>

<section id="s:db:join">
  <h2>{% include db/join/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/join/objectives.html %}
  <h3>Lesson</h3>
  {% include db/join/lesson.html %}
  <h3>Key Points</h3>
  {% include db/join/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/join/challenges.html %}
</section>

<section id="s:db:create">
  <h2>{% include db/create/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/create/objectives.html %}
  <h3>Lesson</h3>
  {% include db/create/lesson.html %}
  <h3>Key Points</h3>
  {% include db/create/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/create/challenges.html %}
</section>

<section id="s:db:transactions">
  <h2>{% include db/transactions/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/transactions/objectives.html %}
  <h3>Lesson</h3>
  {% include db/transactions/lesson.html %}
  <h3>Key Points</h3>
  {% include db/transactions/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/transactions/challenges.html %}
</section>

<section id="s:db:programming">
  <h2>{% include db/programming/title.md %}</h2>
  <h3>Objectives</h3>
  {% include db/programming/objectives.html %}
  <h3>Lesson</h3>
  {% include db/programming/lesson.html %}
  <h3>Key Points</h3>
  {% include db/programming/keypoints.html %}
  <h3>Challenges</h3>
  {% include db/programming/challenges.html %}
</section>

<section id="s:db:summary">
  <h2>Summary</h2>
  {% include db/summary.html %}
</section>
