---
layout: lesson
root: ..
title: Setup Instructions
---
<p>
  This page includes all of our setup instructions, organized by platform.
  We do <em>not</em> recommend that you present instructions to students this way.
  Instead,
  please pick and choose the bits of setup that are most appropriate to their needs.
</p>

<section id="s:setup:overviews">
  <h2>Overviews</h2>
  {% include setup/overview-bash.html %}
  {% include setup/overview-editor.html %}
  {% include setup/overview-git.html %}
  {% include setup/overview-python.html %}
</section>

<section id="s:setup:windows">
  <h2>Windows</h2>
  {% include setup/windows-anaconda.html %}
  {% include setup/windows-bash.html %}
  {% include setup/windows-cygwin.html %}
  {% include setup/windows-editor.html %}
  {% include setup/windows-git.html %}
  {% include setup/windows-mercurial.html %}
  {% include setup/windows-python.html %}
  {% include setup/windows-sqlite.html %}
  {% include setup/windows-swc.html %}
</section>

<section id="s:setup:macosx">
  <h2>Mac OS X</h2>
  {% include setup/macosx-common.html %}
  {% include setup/macosx-bash.html %}
  {% include setup/macosx-editor.html %}
  {% include setup/macosx-git.html %}
  {% include setup/macosx-make.html %}
  {% include setup/macosx-mercurial.html %}
  {% include setup/macosx-nose.html %}
  {% include setup/macosx-python.html %}
  {% include setup/macosx-terminal.html %}
</section>

<section id="s:setup:linux">
  <h2>Generic Linux</h2>
  {% include setup/linux-bash.html %}
  {% include setup/linux-editor.html %}
  {% include setup/linux-git.html %}
  {% include setup/linux-python.html %}
</section>

<section id="s:setup:rhsl">
  <h2>Red Hat Scientific Linux</h2>
  {% include setup/rhsl-common.html %}
  {% include setup/rhsl-easymercurial.html %}
  {% include setup/rhsl-emacs.html %}
  {% include setup/rhsl-mercurial.html %}
  {% include setup/rhsl-nano.html %}
  {% include setup/rhsl-nose.html %}
  {% include setup/rhsl-python.html %}
  {% include setup/rhsl-setuptools.html %}
  {% include setup/rhsl-sqlite.html %}
  {% include setup/rhsl-terminal.html %}
</section>

<section id="s:setup:ubuntu">
  <h2>Ubuntu</h2>
  {% include setup/ubuntu-common.html %}
  {% include setup/ubuntu-easymercurial.html %}
  {% include setup/ubuntu-emacs.html %}
  {% include setup/ubuntu-mercurial.html %}
  {% include setup/ubuntu-nose.html %}
  {% include setup/ubuntu-setuptools.html %}
  {% include setup/ubuntu-sqlite.html %}
  {% include setup/ubuntu-terminal.html %}
</section>

<section id="s:setup:vm">
  <h2>Virtual Machine</h2>
  {% include setup/vm.html %}
</section>

<section id="s:setup:ipynb">
  <h2>IPython Notebook</h2>
  {% include setup/testing-ipython.html %}
</section>

<section id="s:setup:firefox">
  <h2>Firefox SQLite Manager Plugin</h2>
  {% include setup/firefox-sqlite-manager-plugin.html %}
</section>
