---
layout: lesson
shared: ..
title: The Unix Shell
order: ["filedir", "create", "pipefilter", "loop", "scripts", "find"]
---
<section id="s:shell:opening">
  <h2>Opening</h2>
  {% include shell/opening.html %}
</section>

<section id="s:shell:instructors">
  <h2>Instructors</h2>
  {% include shell/instructors.html %}
</section>

<section id="s:shell:filedir">
  <h2>{% include shell/filedir/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/filedir/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/filedir/lesson.html %}
  <h3>Summary</h3>
  {% include shell/filedir/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/filedir/challenges.html %}
</section>

<section id="s:shell:create">
  <h2>{% include shell/create/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/create/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/create/lesson.html %}
  <h3>Summary</h3>
  {% include shell/create/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/create/challenges.html %}
</section>

<section id="s:shell:pipefilter">
  <h2>{% include shell/pipefilter/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/pipefilter/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/pipefilter/lesson.html %}
  <h3>Summary</h3>
  {% include shell/pipefilter/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/pipefilter/challenges.html %}
</section>

<section id="s:shell:loop">
  <h2>{% include shell/loop/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/loop/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/loop/lesson.html %}
  <h3>Summary</h3>
  {% include shell/loop/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/loop/challenges.html %}
</section>

<section id="s:shell:scripts">
  <h2>{% include shell/scripts/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/scripts/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/scripts/lesson.html %}
  <h3>Summary</h3>
  {% include shell/scripts/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/scripts/challenges.html %}
</section>

<section id="s:shell:find">
  <h2>{% include shell/find/title.md %}</h2>
  <h3>Objectives</h3>
  {% include shell/find/objectives.html %}
  <h3>Lesson</h3>
  {% include shell/find/lesson.html %}
  <h3>Summary</h3>
  {% include shell/find/keypoints.html %}
  <h3>Challenges</h3>
  {% include shell/find/challenges.html %}
</section>

<section id="s:db:summary">
  <h2>Summary</h2>
  {% include shell/summary.html %}
</section>
