---
layout: lesson
shared: ..
title: Web Programming with Python
order: ["history", "formatting", "attributes", "morehtml", "templating", "http", "client", "server", "index", "syndicate"]
---

<section id="s:web:opening">
  <h2>Opening</h2>
  {% include web/opening.html %}
</section>

<section id="s:web:instructors">
  <h2>Instructors</h2>
  {% include web/instructors.html %}
</section>

<section id="s:web:history">
  <h2>{% include web/history/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/history/objectives.html %}
  <h3>Lesson</h3>
  {% include web/history/lesson.html %}
  <h3>Key Points</h3>
  {% include web/history/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/history/challenges.html %}
</section>

<section id="s:web:formatting">
  <h2>{% include web/formatting/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/formatting/objectives.html %}
  <h3>Lesson</h3>
  {% include web/formatting/lesson.html %}
  <h3>Key Points</h3>
  {% include web/formatting/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/formatting/challenges.html %}
</section>

<section id="s:web:attributes">
  <h2>{% include web/attributes/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/attributes/objectives.html %}
  <h3>Lesson</h3>
  {% include web/attributes/lesson.html %}
  <h3>Key Points</h3>
  {% include web/attributes/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/attributes/challenges.html %}
</section>

<section id="s:web:morehtml">
  <h2>{% include web/morehtml/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/morehtml/objectives.html %}
  <h3>Lesson</h3>
  {% include web/morehtml/lesson.html %}
  <h3>Key Points</h3>
  {% include web/morehtml/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/morehtml/challenges.html %}
</section>

<section id="s:web:templating">
  <h2>{% include web/templating/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/templating/objectives.html %}
  <h3>Lesson</h3>
  {% include web/templating/lesson.html %}
  <h3>Key Points</h3>
  {% include web/templating/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/templating/challenges.html %}
</section>

<section id="s:web:http">
  <h2>{% include web/http/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/http/objectives.html %}
  <h3>Lesson</h3>
  {% include web/http/lesson.html %}
  <h3>Key Points</h3>
  {% include web/http/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/http/challenges.html %}
</section>

<section id="s:web:client">
  <h2>{% include web/client/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/client/objectives.html %}
  <h3>Lesson</h3>
  {% include web/client/lesson.html %}
  <h3>Key Points</h3>
  {% include web/client/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/client/challenges.html %}
</section>

<section id="s:web:server">
  <h2>{% include web/server/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/server/objectives.html %}
  <h3>Lesson</h3>
  {% include web/server/lesson.html %}
  <h3>Key Points</h3>
  {% include web/server/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/server/challenges.html %}
</section>

<section id="s:web:index">
  <h2>{% include web/index/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/index/objectives.html %}
  <h3>Lesson</h3>
  {% include web/index/lesson.html %}
  <h3>Key Points</h3>
  {% include web/index/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/index/challenges.html %}
</section>

<section id="s:web:syndicate">
  <h2>{% include web/syndicate/title.md %}</h2>
  <h3>Objectives</h3>
  {% include web/syndicate/objectives.html %}
  <h3>Lesson</h3>
  {% include web/syndicate/lesson.html %}
  <h3>Key Points</h3>
  {% include web/syndicate/keypoints.html %}
  <h3>Challenges</h3>
  {% include web/syndicate/challenges.html %}
</section>

<section id="s:web:summary">
  <h2>Summary</h2>
  {% include web/summary.html %}
</section>
