---
layout: lesson
root: ../..
title: Sets and Dictionaries
order: ["sets", "storage", "dict", "aggregate", "nanotech", "json", "phylotree"]
---
<section>
  <h2>Opening</h2>
  {% include guide-setdict/opening.html %}
</section>

<section>
  <h2>Instructors</h2>
  {% include guide-setdict/instructors.html %}
  <h2>Prerequisites</h2>
  {% include guide-setdict/prereq.html %}
</section>

<section id="s:setdict:sets">
  <h2>{% include guide-setdict/sets/title.md %}</h2>
  <p><a href="setdict-sets.ipynb">Notebook</a></p>
  <h3>Objectives</h3>
  {% include guide-setdict/sets/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/sets/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/sets/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/sets/challenges.html %}
</section>

<section id="s:setdict:storage">
  <h2>{% include guide-setdict/storage/title.md %}</h2>
  <p><a href="setdict-storage.ipynb">Notebook</a></p>
  <h3>Objectives</h3>
  {% include guide-setdict/storage/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/storage/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/storage/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/storage/challenges.html %}
</section>

<section id="s:setdict:dict">
  <h2>{% include guide-setdict/dict/title.md %}</h2>
  <p><a href="setdict-dict.ipynb">Notebook</a></p>
  <h3>Objectives</h3>
  {% include guide-setdict/dict/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/dict/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/dict/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/dict/challenges.html %}
</section>

<section id="s:setdict:aggregate">
  <p><a href="setdict-aggregate.ipynb">Notebook</a></p>
  <h2>{% include guide-setdict/aggregate/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-setdict/aggregate/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/aggregate/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/aggregate/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/aggregate/challenges.html %}
</section>

<section id="s:setdict:nanotech">
  <h2>{% include guide-setdict/nanotech/title.md %}</h2>
  <p><a href="setdict-nanotech.ipynb">Notebook</a></p>
  <h3>Objectives</h3>
  {% include guide-setdict/nanotech/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/nanotech/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/nanotech/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/nanotech/challenges.html %}
</section>

<section id="s:setdict:json">
  <h2>{% include guide-setdict/json/title.md %}</h2>
  <p><a href="setdict-json.ipynb">Notebook</a></p>
  <h3>Objectives</h3>
  {% include guide-setdict/json/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/json/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/json/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/json/challenges.html %}
</section>

<section id="s:setdict:phylotree">
  <h2>{% include guide-setdict/phylotree/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-setdict/phylotree/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-setdict/phylotree/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-setdict/phylotree/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-setdict/phylotree/challenges.html %}
</section>

<section>
  <h2>Summary</h2>
  {% include guide-setdict/summary.html %}
</section>
