<div id="s:web:morehtml:keypoints" class="keypoints">
  <ul>
    <li>Put metadata in <code>meta</code> elements in a page's <code>head</code> element.</li>
    <li>Use <code>ul</code> for unordered lists and <code>ol</code> for ordered lists.</li>
    <li>Add comments to pages using <code>&lt;!--</code> and <code>--&gt;</code>.</li>
    <li>Use <code>table</code> for tables, with <code>tr</code> for rows and <code>td</code> for values.</li>
    <li>Use <code>img</code> for images.</li>
    <li>Use <code>a</code> to create hyperlinks.</li>
    <li>Give elements a unique <code>id</code> attribute to link to it.</li>
  </ul>
</div>
