<div id="s:web:morehtml:lesson" class="lesson">

  <p>
    As anyone who has surfed the web has seen,
    web pages can contain a lot more than just headings and paragraphs.
    To start with,
    HTML provides two kinds of lists:
    <code>ul</code> to mark an unordered (bulleted) list,
    and <code>ol</code> for an ordered (numbered) one
    (<a href="#f:nested_lists">Figure XXX</a>).
    Items inside either kind of list must be wrapped in <code>li</code> elements:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;ul&gt;
      &lt;li&gt;A. Binet
        &lt;ol&gt;
          &lt;li&gt;H. Ebbinghaus&lt;/li&gt;
          &lt;li&gt;W. Wundt&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/li&gt;
      &lt;li&gt;C. S. Pierce
        &lt;ol&gt;
          &lt;li&gt;W. Wundt&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/li&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <figure id="f:nested_lists">
    <img src="web/nested_lists.png" alt="Nested Lists"/>
    <figcaption>Figure XXX: Nested Lists</figcaption>
  </figure>

  <p class="continue">
    Note how elements are nested:
    since the ordered lists "belong" to the unordered list items above them,
    they are inside those items' <code>&lt;li&gt;&hellip;&lt;/li&gt;</code> tags.
    And remember,
    the indentation used to make this list easier for people to read
    means nothing to the computer:
    we could put the whole thing on one line,
    or write it as:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
  &lt;ul&gt;
    &lt;li&gt;A. Binet
  &lt;ol&gt;
    &lt;li&gt;H. Ebbinghaus&lt;/li&gt;
    &lt;li&gt;W. Wundt&lt;/li&gt;
  &lt;/ol&gt;
    &lt;/li&gt;
    &lt;li&gt;C. S. Pierce
  &lt;ol&gt;
    &lt;li&gt;W. Wundt&lt;/li&gt;
  &lt;/ol&gt;
    &lt;/li&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

  <p class="continue">
    and the computer would interpret and display it the same way.
    A human being,
    on the other hand,
    would find the inconsistent indentation of the second layout
    much harder to follow.
  </p>

  <p>
    HTML also provides tables, but they are awkward to use:
    tables are naturally two-dimensional,
    but text is one-dimensional.
    This is exactly like the problem of representing a two-dimensional array in memory,
    which we saw in the <a href="numpy.html#s:storage">NumPy</a>
    and <a href="dev.html#s:storage">development</a> lessons.
    We solve it in the same way:
    by writing down the rows,
    and the columns within each row,
    in a fixed order.
    The <code>table</code> element marks the table itself;
    within that,
    each row is wrapped in <code>tr</code> (for "table row"),
    and within those,
    column items are wrapped in <code>th</code> (for "table heading")
    or <code>td</code> (for "table data"):
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;table&gt;
      &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;th&gt;A. Binet&lt;/th&gt;
        &lt;th&gt;C. S. Pierce&lt;/th&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;H. Ebbinghaus&lt;/th&gt;
        &lt;td&gt;88%&lt;/td&gt;
        &lt;td&gt;NA&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;W. Wundt&lt;/th&gt;
        &lt;td&gt;29%&lt;/td&gt;
        &lt;td&gt;45%&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <figure id="f:simple_table">
    <img src="web/simple_table.png" alt="A Simple Table" />
    <figcaption>A Simple Table</figcaption>
  </figure>

  <div class="box">
    <h3>Tables, Layout, and CSS</h3>

    <p>
      Tables are sometimes used to do multi-column layout,
      as well as for tabular data,
      but this is a bad idea.
      To understand why,
      consider two other HTML tags:
      <code>i</code>, meaning "italics",
      and <code>em</code>, meaning "emphasis".
      The former directly controls how text is displayed,
      but by doing so,
      it breaks the separation between model and view that is the heart of markup's usefulness.
      Without understanding the text that has been italicized,
      a program cannot understand whether it is meant to indicate someone shouting,
      the definition of a new term,
      or the title of a book.
      The <code>em</code> tag, on the other hand, has exactly one meaning,
      and that meaning is different from the meaning of <code>dfn</code> (a definition)
      or <code>cite</code> (a citation).
    </p>

    <p>
      Conscientious authors use <a href="glossary.html#css">Cascading Style Sheets</a> (or CSS)
      to describe how they want pages to appear,
      and only use <code>table</code> elements for actual tables.
      CSS is beyond the scope of this lesson,
      but is described briefly in <a href="extras.html#s:web:css">the appendix</a>.
    </p>

  </div>

  <p>
    HTML pages can also contain images.
    (In fact,
    the World Wide Web didn't really take off until
    the Mosaic browser allowed people to mix images with text.)
    The word "contain" is misleading, though:
    HTML documents can only contain text,
    so we cannot store an image "in" a page.
    Instead,
    we must put it in some other file,
    and insert a reference to that file in the HTML using the <code>img</code> tag.
    Its <code>src</code> attribute specifies where to find the image file;
    this can be a path to a file on the same host as the web page,
    or a URL for something stored elsewhere.
    For example,
    when a browser displays this:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;My daughter's first online chat:&lt;/p&gt;
    &lt;img src="madeleine.jpg"/&gt;
    &lt;p&gt;but probably not her last.&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <p class="continue">
    it looks for the file <code>madeleine.jpg</code>
    in the same directory as the HTML file:
  </p>

  <figure id="f:simple_image">
    <img src="web/simple_image.png" alt="Simple Images" />
    <figcaption>Figure XXX: Simple Images</figcaption>
  </figure>

  <p>
    Notice,
    by the way,
    that the <code>img</code> element is written as
    <code>&lt;img&hellip;/&gt;</code>,
    i.e.,
    with a trailing slash inside the <code>&lt;&gt;</code>
    rather than with a separate closing tag.
    This makes sense because the element doesn't contain any text:
    the content is referred to by its <code>src</code> attribute.
    Any element that doesn't contain anything
    can be written using this short form.
  </p>

  <p>
    Images don't have to be in the same directory as the pages that refer to them.
    When the browser displays this:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;Yes, she knows she's cute:&lt;/p&gt;
    &lt;img src="img/cute-smile.jpg"/&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <p class="continue">
    it looks in the directory containing the page
    for a sub-directory called <code>img</code>,
    and loads the image file from there,
    while if it's given:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;img src="http://software-carpentry.org/img/software-carpentry-logo.png"/&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <p class="continue">
    it downloads the image from the URL
    <code>http://software-carpentry.org/img/software-carpentry-logo.png</code>
    and displays that.
  </p>

  <div class="box">
    <h3>It's Always Interpreted</h3>
    <p class="fixme">The path is <em>always</em> interpreted (web browser config)</p>
  </div>

  <p>
    Whenever we refer to an image,
    we should use the <code>img</code> tag's <code>alt</code> attribute
    to provide a title or description of the image.
    This is what screen readers for people with visual handicaps will say aloud to "display" the image;
    it's also what search engines rely on,
    since they can't "see" the image either.
    Adding this to our previous example gives:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;My daughter's first online chat:&lt;/p&gt;
    &lt;img src="madeleine.jpg" <span class="highlight">alt="Madeleine's first online chat"</span>/&gt;
    &lt;p&gt;but probably not her last.&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <p>
    We can use URLs for images,
    but their most important use is
    to create the links within and between pages that make HTML "hypertext".
    This is done using the <code>a</code> element.
    Whatever is inside the element is displayed and highlighted for clicking;
    this is usually a few words of text,
    but it can be an entire paragraph or an image.
  </p>

  <p>
    The <code>a</code> element's <code>href</code> attribute
    specifies what the link is pointing at;
    as with images,
    this can be either a local filename or a URL.
    For example,
    we can create a listing of the examples we've written so far like this
    (<a href="#f:simple_listing">Figure XXX</a>):
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;p&gt;
      Simple HTML examples for
      &lt;a href="http://software-carpentry.org"&gt;Software Carpentry&lt;/a&gt;.
    &lt;/p&gt;
    &lt;ol&gt;
      &lt;li&gt;&lt;a href="very-simple.html"&gt;a very simple page&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="hide-paragraph.html"&gt;hiding paragraphs&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="nested-lists.html"&gt;nested lists&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="simple-table.html"&gt;a simple table&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="simple-image.html"&gt;a simple image&lt;/a&gt;&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <figure id="f:simple_listing">
    <img src="web/simple_listing.png" alt="Using Hyperlinks" />
    <figcaption>Figure XXX: Using Hyperlinks</figcaption>
  </figure>

  <p>
    The hyperlink element is called <code>a</code> because
    it can also used to create <a href="glossary.html#anchor">anchors</a> in documents
    by giving them a <code>name</code> attribute instead of an <code>href</code>.
    An anchor is simply a location in a document that can be linked to.
    For example,
    suppose we formatted the Feynman quotation given earlier like this:
  </p>

<pre>
&lt;blockquote&gt;
  As a by-product of this same view, I received a telephone call one day
  at the graduate college at &lt;a name="pu"&gt;Princeton&lt;/a&gt;
  from Professor Wheeler, in which he said,
  "Feynman, I know why all electrons have the same charge and the same mass."
  "Why?"
  "Because, they are all the same electron!"
&lt;/blockquote&gt;
</pre>

  <p class="continue">
    If this quotation was in a file called <code>quote.html</code>,
    we could then create a hyperlink directly to the mention of Princeton
    using <code>&lt;a&nbsp;href="quote.html#pu"&gt;</code>.
    The <code>#</code> in the <code>href</code>'s value separates the path to the document
    from the anchor we're linking to.
    Inside <code>quote.html</code> itself,
    we could link to that same location simply using
    <code>&lt;a&nbsp;href="#pu"&gt;</code>.
  </p>

  <p>
    Using the <code>a</code> element for both links and targets was poor design&mdash;programs
    are simpler to write if each element has one purpose, and one alone&mdash;but
    we're stuck with it now.
    A better way to create anchors is to add an <code>id</code> attribute
    to some other element.
    For example,
    if we wanted to be able to link to the quotation itself,
    we could write:
  </p>

<pre>
&lt;blockquote <span class="highlight">id="wheeler-electron-quote"</span>&gt;
  As a by-product of this same view, I received a telephone call one day
  at the graduate college at &lt;a name="pu"&gt;Princeton&lt;/a&gt;
  from Professor Wheeler, in which he said,
  "Feynman, I know why all electrons have the same charge and the same mass."
  "Why?"
  "Because, they are all the same electron!"
&lt;/blockquote&gt;
</pre>

  <p class="continue">
    and then refer to <code>quote.html#wheeler-electron-quote</code>.
  </p>

  <p>
    Finally,
    well-written HTML pages have a <code>head</code> element as well as a <code>body</code>.
    The head isn't displayed;
    instead,
    it's used to store metadata about the page as a whole.
    The most common element inside <code>head</code> is <code>title</code>,
    which,
    as its name suggests,
    gives the page's title.
    (This is usually displayed in the browser's title bar.)
    Another common item in the head is <code>meta</code>,
    whose two attributes <code>name</code> and <code>content</code>
    let authors add arbitrary information to their pages.
    If we add these to the web page we wrote earlier,
    we might have:
  </p>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Dimorphism Defined&lt;title&gt;
    &lt;meta name="author" content="Alan Turing"/&gt;
    &lt;meta name="institution" content="Euphoric State University"/&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Dimorphism&lt;/h1&gt;
    &lt;p&gt;Occurring or existing in two different &lt;em&gt;forms&lt;/em&gt;.&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

  <p>
    Well-written pages also use comments (just like code),
    which start with <code>&lt;!--</code> and end with <code>--&gt;</code>.
  </p>

  <div class="box" id="a:hide-paragraph">
    <h3>Hiding Content</h3>

    <p>
      Commenting out part of a page does <em>not</em> hide the content
      from people who really want to see it:
      while a browser won't display what's inside a comment,
      it's still in the page,
      and anyone who uses "View Source" can read it.
      For example,
      if you are looking at this page in a web browser right now,
      try viewing the source
      and searching for the word "Surprise".
    </p>

    <!-- Surprise: this isn't displayed by the browser, but is still in the document. -->

    <p>
      If you really don't want people to be able to read something,
      the only safe thing to do is to keep it off the web.
    </p>

  </div>

</div>
