<div id="s:db:instructors" class="instructors">

  <ul>

    <li>
      Relational databases are not as widely used in science as in business,
      but they are still a common way to store large data sets with complex structure.
      Even when the data itself isn't in a database,
      the metadata could be:
      for example,
      meteorological data might be stored in files on disk,
      but data about when and where observations were made,
      data ranges,
      and so on could be in a database
      to make it easier for scientists to find what they want to.
    </li>

    <li>
      The first few sections
      (up to <a href="#s:sort">Ordering Results</a>)
      usually go very quickly.
      The pace usually slows down a bit when null values and aggregation are discussed,
      mostly because learners have a lot of details to keep straight by this point.
      Things <em>really</em> slow down during the discussion of joins,
      but this is the key idea in the whole lesson:
      important ideas like primary keys and referential integrity only make sense
      once learners have seen how they're used in joins.
      It's worth going over things a couple of times if necessary
      (with lots of examples).
    </li>

    <li>
      The final three sections are independent of each other,
      and can be dropped if time is short.
      Of the three,
      people seem to care most about how to add data
      (which only takes a few minutes to demonstrate),
      and how to use databases from inside "real" programs.
      The material on transactions is more abstract than the rest,
      and should be omitted if <a href="web.html">web programming</a>
      isn't being taught.
      Overall,
      this material takes three hours to present
      assuming that a short exercise is done with each topic.
    </li>

    <li>
      It isn't necessary to cover <a href="setdict.html">sets and dictionaries</a>
      before this material,
      but if that has been discussed,
      it's helpful to point out that a relational table is a generalized dictionary.
    </li>

    <li>
      Simple calculations are actually easier to do in a spreadsheet,
      the advantages of using a database become clear
      as soon as filtering and joins are needed.
      Instructors may therefore want to show a spreadsheet
      with the information from the four database tables
      consolidated into a single sheet,
      and demonstrate what's needed in both systems to answer questions like,
      "What was the average radiation reading in 1931?"
    </li>

    <li>
      Some learners may have heard that NoSQL databases
      (i.e., ones that don't use the relational model)
      are the next big thing,
      and ask why we're not teaching those.
      The answers are:
      <ol>
        <li>
          Relational databases are far more widely used than NoSQL databases.
        </li>
        <li>
          We have far more experience with relational databases
          than with any other kind,
          so we have a better idea of what to teach
          and how to teach it.
        </li>
        <li>
          NoSQL databases are as different from each other
          as they are from relational databases.
          Until a leader emerges,
          it isn't clear <em>which</em> NoSQL database we should teach.
        </li>
      </ol>
    </li>

    <li>
      This discussion is a useful companion to that of vectorization
      in the lesson on <a href="numpy.html">numerical computing</a>:
      in both cases,
      the key point is to describe <em>what</em> to do,
      and let the computer figure out <em>how</em> to do it.
    </li>

  </ul>

</div>
