<div id="s:db:opening" class="opening">

  <p>
    In the late 1920s and early 1930s,
    William Dyer,
    Frank Pabodie,
    and Valentina Roerich led expeditions to the
    <a href="http://en.wikipedia.org/wiki/Pole_of_inaccessibility">Pole of Inaccessibility</a>
    in the South Pacific,
    and then onward to Antarctica.
    Two years ago,
    Gina Geographer discovered their expedition journals
    in a storage locker at Miskatonic University.
    She has scanned and OCR'd the data they contain,
    and wants to store that information
    in a way that will make search and analysis easy.
  </p>
  
  <p>
    Gina basically has three options:
    text files,
    a spreadsheet,
    or a database.
    Text files are easiest to create,
    and work well with version control,
    but she would then have to build all her search and analysis herself.
    Spreadsheets are good for doing simple analysis,
    but as she found in her last project,
    they don't handle large or complex data sets very well.
    She would therefore like to put her data in a database,
    and this chapter will show her how.
  </p>
  
  <p>
    As many scientists have found out the hard way,
    if collecting data is the first 90% of the work,
    managing it is the other 90%.
    In this chapter,
    we'll see how to use a database to store and analyze field observations.
    The techniques we will explore apply directly to other kinds of databases as well,
    and as we'll see,
    knowing how to get information <em>out</em> of a database is essential to
    figuring out how to put data <em>in</em>.
  </p>

</div>
