<table class="reference">
  <tr>
    <td colspan="2"><strong>Basic Queries</strong></td>
  </tr>
  <tr>
    <td class="what">Select one or more columns of data from a table:</td>
    <td class="how">
<pre>SELECT column_name_1, column_name_2 FROM table_name;</pre>
    </td>
</tr>
  <tr>
    <td class="what">Select all of the columns in a table:</td>
    <td class="how">
<pre>SELECT * FROM table_name;</pre>
    </td>
</tr>
  <tr>
    <td class="what">Get only unique lines in a query:</td>
    <td class="how">
<pre>SELECT DISTINCT column_name FROM table_name;</pre>
    </td>
</tr>
  <tr>
    <td class="what">Perform calculations in a query:</td>
    <td class="how">
<pre>SELECT column_name_1, ROUND(column_name_2 / 1000.0) FROM table_name;</pre>
    </td>
</tr>
  <tr>
    <td class="how" colspan="2"><strong>Filtering</strong></td>
  </tr>
  <tr>
    <td class="what">Select only the data meeting certain criteria:</td>
    <td class="how">
<pre>SELECT * FROM table_name WHERE column_name = 'Hello World';</pre>
    </td>
</tr>
  <tr>
    <td class="what">Combine conditions:</td>
    <td class="how">
<pre>SELECT * FROM table_name WHERE (column_name_1 &gt;= 1000) AND (column_name_2 = 'A' OR column_name_2 = 'B');</pre>
    </td>
</tr>
  <tr>
    <td class="how" colspan="2"><strong>Sorting</strong></td>
  </tr>
  <tr>
    <td class="what">Sort results using <code>ASC</code> for ascending order or <code>DESC</code> for descending order:</td>
    <td class="how">
<pre>SELECT * FROM table_name ORDER BY column_name_1 ASC, column_name_2 DESC;</pre>
    </td>
</tr>
  <tr>
    <td class="how" colspan="2"><strong>Aggregation</strong></td>
  </tr>
  <tr>
    <td class="what">Combine data into groups and calculate combined values in groups:</td>
    <td class="how">
<pre>SELECT column_name_1, SUM(column_name_2), COUNT(*) FROM table_name GROUP BY column_name_1;</pre>
    </td>
</tr>
  <tr>
    <td class="how" colspan="2"><strong>Joins</strong></td>
  </tr>
  <tr>
    <td class="what">Join data from two tables:</td>
    <td class="how">
<pre>SELECT * FROM table_name_1 JOIN table_name_2 ON table_name_1.column_name = table_name_2.column_name;</pre>
    </td>
</tr>
  <tr>
    <td class="how" colspan="2"><strong>Combining Commands</strong></td>
  </tr>
  <tr>
    <td class="how">SQL commands must appear in the following order:</td>
    <td>
<pre>SELECT</code>, <code>FROM</code>, <code>JOIN</code>, <code>ON</code>, <code>WHERE</code>, <code>GROUP BY</code>, <code>ORDER BY</code>.</pre>
    </td>
  </tr>
</table>
