<div id="s:db:summary" class="summary">

  <p>
    There are many things databases can't do,
    or can't do well
    (which is why we have general-purpose programming languages like Python).
    However,
    they are still the best tool available
    for managing many kinds of complex, structured data.
    Thousands of programmer-years have gone into their design and implementation
    so that they can handle very large datasets&mdash;terabytes or more&mdash;quickly and reliably.
    Queries allow for great flexibility in how you are able to analyze your data,
    which makes databases a good choice when you are exploring data.
  </p>

</div>
