<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><div class='footer'>
  <a class='label swc-blue-bg' href='{{site.facebook_url}}'>Facebook</a>
  <a class='label swc-blue-bg' href='{{site.google_plus_url}}'>Google+</a>
  <a class='label swc-blue-bg' href='{{site.twitter_url}}'>Twitter</a>
  <a class='label swc-blue-bg' href='{{site.github_url}}'>GitHub</a>
  <a class='label swc-blue-bg' href='{{site.rss_url}}'>RSS</a>
  <a class='label swc-blue-bg' href='{{page.root}}/license.html'>License</a>
  <a class='bugreport label swc-blue-bg' href='mailto:{{site.contact}}?subject=bug%20in%20{{page.path}}'>Bug Report</a>
</div></body></html>
