<ul class="pager">
  {% if page.prev %}
    <li class="previous"><a id="id_prev_link" href="{{page.root}}/{{page.prev}}">&larr; Previous</a></li>
  {% else %}
    <li class="uplink"><a id="id_up_link" href="{{page.root}}/{{page.uplink}}">&uarr; Up</a></li>
  {% endif %}

  {% if page.next %}
    <li class="next"><a id="id_next_link" href="{{page.root}}/{{page.next}}">Next &rarr;</a></li>
  {% else %}
    <li class="uplink"><a id="id_up_link" href="{{page.root}}/{{page.uplink}}">&uarr; Up</a></li>
  {% endif %}

</ul>
