<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      The default text editor on Mac OS X and Linux is usually set to Vim,
      which is not famous for being intuitive.
      if you accidentally find yourself stuck in it,
      try typing the escape key,
      followed by ':q!' (colon, lower-case 'q', exclamation mark),
      then hitting Return
      to return to the shell.
    </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
    <h4>Git</h4>
    <p>
      Git is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://github.com/">github.com</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python version 2.7,
      since it is still the most widely used.
      Installing all the scientific packages for Python individually can be a bit difficult,
      so we recommend an all-in-one installer.
    </p>
    <h4>R</h4>
    <p>
      R is a programming language that specializes in statistical
      computing. It is a powerful tool for exploratory data analysis. To
      interact with R, we will
      use <a href="http://www.rstudio.com/">RStudio</a>, an interactive
      development environment (IDE).
    </p>
    <h4>SQL</h4>
    <p>
      SQL is a specialized programming language used with databases.
      We use a simple database manager called <a href="http://www.sqlite.org/">SQLite</a>,
      either directly or through a browser plugin.
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="http://continuum.io/anacondace.html">Anaconda CE</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Git Bash</h4>
    <p>
      Install Git for Windows by download and running
      <a href="https://msysgit.googlecode.com/files/Git-1.8.4-preview20130916.exe">the installer</a>.
      This will provide you with both Git and Bash in the Git Bash program.
    </p>
    <h4>Software Carpentry Installer</h4>
    <p>This installer requires an active internet connection</p>
    <p>After installing Python and Git Bash:</p>
    <ul>
      <li>
        Download the <a href="https://raw.github.com/swcarpentry/bc/master/setup/swc-windows-installer.py">installer</a>.
      </li>
      <li>
        If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
        to download it to your computer.
      </li>
      <li>
        Double click on the file to run it.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
      popular free code editor for Windows.
      Be aware that you must add its installation directory to your system path
      in order to launch it from the command line
      (or have other tools like Git launch it for you).
      Please ask your instructor to help you do this.
    </p>
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      Download the <a href="http://files.software-carpentry.org/sqlite3.exe">sqlite3 program</a>
      and put it in the directory where you are running examples.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>Git</h4>
    <p>
      Install Git for Mac by downloading and running
      <a href="http://git-scm.com/downloads">the installer</a>.  For older
      versions of OS X (10.5-10.7) use the most recent available
      installer <a href="https://code.google.com/p/git-osx-installer/downloads/list">available
      here</a>. Use the Leopard installer for 10.5 and the Snow Leopard
      installer for 10.6-10.7.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="http://continuum.io/anacondace.html">Anaconda CE</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Mac OS X.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Git</h4>
    <p>
      If Git is not already available on your machine you can try
      to install it via your distro's package manager
      (e.g. <code>apt-get</code>).
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>R</h4>
    <p>
      You can download the binary files for your distribution
      from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
      you can use your package manager, e.g. for Debian/Ubuntu
      run <code>apt-get install r-base</code>. Also, please install
      the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Linux.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      We recommend the all-in-one scientific Python installer
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
      (Installation requires using the shell and if you aren't
      comfortable doing the installation yourself just
      download the installer and we'll help you at the boot
      camp.)
    </p>
    <ol>
      <li>
        Download the installer that matches your operating
        system and save it in your home folder.
      </li>
      <li>
        Open a terminal window.
      </li>
      <li>
        Type <pre>bash Anaconda-</pre> and then press
        tab. The name of the file you just downloaded should
        appear.
      </li>
      <li>
        Press enter. You will follow the text-only
        prompts. When there is a colon at the bottom of the
        screen press the down arrow to move down through the
        text. Type <code>yes</code> and press enter to approve
        the license. Press enter to approve the default
        location for the files. Type <code>yes</code> and
        press enter to prepend Anaconda to
        your <code>PATH</code> (this makes the Anaconda
        distribution the default Python).
      </li>
    </ol>
  </div>
</div>

<h3>Miscellaneous</h3>

<div class="row-fluid">
  <div class="span6">
    <h4 id="firefox-sqlite">Firefox SQLite Plugin</h4>
    <p>
      Instead of using <code>sqlite3</code> from the command line,
      you may use <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">this plugin</a>
      for Firefox instead.
      To install it:
    </p>
    <ul>
      <li>
	Start Firefox.
      </li>
      <li>
	Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
      </li>
      <li>
	Click the "Add Now" button.
      </li>
      <li>
	Click "Install Now" on the dialog that appears after the download completes.
      </li>
      <li>
	Restart Firefox when prompted.
      </li>
      <li>
	Select "SQLite Manager" from the "Tools" menu.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Virtual Machine</h4>
    <p>
      Some instructors prefer to have learners use a virtual machine (VM)
      rather than install software on their own computers.
      If your instructors have chosen to do this,
      please:
    </p>
    <ol>
      <li>
	Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
      </li>
      <li>
	Download our <a href="{{site.vm_url}}">VM image</a>.
	<strong>Warning:</strong>
	this file is 1.7 GByte,
	so please download it <em>before</em> coming to your bootcamp.
      </li>
      <li>
	Load the VM into VirtualBox by selecting "Import Appliance"
	and loading the <code>.ova</code> file.
      </li>
    </ol>
  </div>
</div>
