<h3>Resumo</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      Quando você está escrevendo um código, é interessante ter um editor de
      texto otimizado para a escrita de código, com funcionalidades como
      utilização de cores para palavras chaves. O editor padrão no Mac OS X e
      Linux é o Vim, que não é famoso por ser intuitivo.
    </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash é o terminal comumente utilizado. Utilizar um terminal lhe permite
      fazer tarefas mais complexas de forma mais rápida no seu computador.
    </p>
    <h4>Git</h4>
    <p>
      Git é o estado da arte dos sistemas de controle de versão. Ele permite
      você rastrear quem e quando uma uma mudança em dado arquivo ocorreu e
      oferece a possibilidade de facilmente compartilhar a última versão do seu
      código em alguns sites como o <a href="https://github.com/">github.com</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python tornou-se uma linguagem muito popular para a computação científica
      e é uma ótima linguagem para ensinar conceitos gerais de programação devido
      a sua sintaxe de fácil leitura.  Nós ensinamos Python 2.7 por ainda ser a
      versão mais utilizada. Instalar todos os pacotes científicos de Python
      individualmente pode ser um pouco difícil e por isso recomendamos um
      instalador que automaticamente instala todos os pacotes.
    </p>
    <h4>R</h4>
    <p>
      <a href="http://www.r-project.org">R</a> é uma linguagem de programação
      especialmente desenvolvidas para exploração e visualização de dados além
      de análise estatística. Para interagir com R, nós utilizamos
      <a href="http://www.rstudio.com/">RStudio</a>, um ambiente de
      desenvolvimento integrado (IDE).
    </p>
    <h4>SQL</h4>
    <p>
      SQL é uma linguagem de programação utilizada ao interagir com banco de
      dados. Utilizamos um dos mais simples bancos de dados existentes
      denominado <a href="http://www.sqlite.org/">SQLite</a>, diretamente ou
      através de um plugin para navegadores web.
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Baixe e instale <a href="http://continuum.io/anacondace.html">Anaconda CE</a>.
      </li>
      <li>
        Utilize todas as opções padrões <em>exceto</em> por selecionar
        <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Git Bash</h4>
    <p>
      Baixe e instale 
      <a href="http://msysgit.github.io/">Git for Windows</a>.
      Ele irá disponibilizar Git e Bash no seu computador.
    </p>
    <h4>Instalador da Software Carpentry</h4>
    <p>Esse instalador requer uma conexão de internet.</p>
    <p>Depois de instalar Python e Git:</p>
    <ul>
      <li>
        Baixe <a href="{{site.windows_installer_path}}">esse instalador</a>.
      </li>
      <li>
        Se o arquivo abrir diretamente no seu navegador web selecione
        <strong>Arquivo&rarr;Salvar Como</strong> para baixá-lo no seu
        computador.
      </li>
      <li>
        Click duas vezes no arquivo para executá-lo.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> é o editor instalado pelo instalador da Software
      Carpentry. Ele é um editor básico utilizado nas lições.
    </p>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> é outro popular
      editor livre para Windows. Depois de instalá-lo você precisa adicionar o
      diretório onde ele foi instalado no <em>path</em> do seu sistema para que
      possa invocá-lo pela linha de comando (ou para que outros programas como
      Git invoque-o por você). Por favor requisite ajuda dos instrutores para
      fazer isso.
    </p>
    <h4>R</h4>
    <p>
      Baixe e instale
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">R</a>
      disponivel no <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Por favor, também instale
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      Baixe
      <a href="http://files.software-carpentry.org/sqlite3.exe">SQLite3</a>
      e copie-o para o diretório onde você irá salvar os exemplos.
      Alternativamente, você pode instalar um plugin para o Firefox seguindo
      as instruções <a href="#firefox-sqlite">abaixo</a>.
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      O terminal padrão em todas as versões do Mac OS X é o bash e portanto você
      não precisa instalar nada. Você pode acessar o bash pelo Terminal
      encontrado em <code>/Applications/Utilities</code>. Você provavelmente vai
      querer manter o Terminal no dock da sua área de trabalho.
    </p>
    <h4>Editor</h4>
    <p>
      Nos recomendamos
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> ou
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      Você também pode utilizar o <code>nano</code> que deveria estar instalado
      por padrão.
    </p>
    <h4>Git</h4>
    <p>
      Baixe e instale <a href="http://git-scm.com/downloads">Git</a>. Para
      versões antigas do Mac OS X (10.5-10.7) você deve utilizar o instalador
      mais recente
      <a href="https://code.google.com/p/git-osx-installer/downloads/list">disponível aqui</a>.
      Utilize o instalador "Leopard" para 10.5 e o instalador "Snow Leopard"
      para 10.6-10.7.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Baixe e instale <a href="http://continuum.io/anacondace.html">Anaconda CE</a>.
      </li>
      <li>
        Utilize todas as opções padrões <em>exceto</em> por selecionar
        <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>R</h4>
    <p>
      Baixe e instale
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">R</a>
      disponivel no <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Por favor, também instale
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> deveria estar instalado no Mac OS X por padrão.
      Alternativamente, você pode instalar um plugin para o Firefox seguindo
      as instruções <a href="#firefox-sqlite">abaixo</a>.
    </p>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      O terminal padrão normalmente é <code>bash</code> e você não precisa
      instalar nada.  Se sua máquina estiver configurada de maneira diferente
      você pode abrir um terminal e digitar <code>bash</code>.
    </p>
    <h4>Git</h4>
    <p>
      Se Git ainda não encontra-se disponível na sua máquina você pode
      instalá-lo via o gerenciador de pacotes da sua distribuição
      (e.g. <code>apt-get</code> ou <code>yum</code>).
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> é uma das várias opções para os
      usuários de Linux.
      Você também pode utilizar <code>nano</code> que deveria estar
      pré-instalado.
    </p>
    <h4>R</h4>
    <p>
      Você pode baixar R para a sua distribuição do
      <a href="http://cran.r-project.org/index.html">CRAN</a>. Ou você pode
      utilizar o gerenciador de pacotes da sua distribuição, 
      e.g. para Debian/Ubuntu utilize
      <code>apt-get install r-base</code>.
      Por favor também instale
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> deveria estar instalado na sua máquina rodando Linux.
      Alternativamente, você pode instalar um plugin para o Firefox seguindo
      as instruções <a href="#firefox-sqlite">abaixo</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
    Recomendamos o <em>all-in-one</em> instalador
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
      (A instalação requer que você utilize um terminal e se você não estiver
      confortável em fazê-lo podemos ajudá-lo durante o workshop.
    </p>
    <ol>
      <li>
        Baixe o instalador correspondente ao seu sistema operacional e salve no
        diretório do seu usuário.
      </li>
      <li>
        Abra um terminal.
      </li>
      <li>
        Digite <pre>bash Anaconda-</pre> e pressione tab. O nome do arquivo que
        você baixou deve aparecer.
      </li>
      <li>
        Pressione enter. Siga as instruções que aparecerem no terminal.
        Quando aparecer dois pontos no fim da tela pressione a seta direcional
        para baixo até obter o fim do texto. Digite <code>yes</code> e pressione
        enter para aceitar a licença. Pressione enter para aceitar o diretório
        padrão para a instalação. Digite <code>yes</code> e pressione enter para
        adicionar Anaconda ao seu <code>PATH</code> (isso irá tornar Anaconda
        seu interpretador Python padrão).
      </li>
    </ol>
  </div>
</div>

<h3>Outros</h3>

<div class="row-fluid">
  <div class="span6">
    <h4 id="firefox-sqlite">Firefox SQLite Plugin</h4>
    <p>
      Ao invés de utilizar <code>sqlite</code> pela linha de comando você pode
      utilizar <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">esse
  plugin</a>
      para Firefox. Para instalá-lo:
    </p>
    <ul>
      <li>
	Inicie Firefox.
      </li>
      <li>
	Vá para <a
          href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">a página inicial do plugin</a>.
      </li>
      <li>
        Selecione no botão "Adicionar Agora".
      </li>
      <li>
        Selecione "Instalar Agora" no diálogo que aparece depois do download
        estar completo.
      </li>
      <li>
        Reinicie o Firefox quando questionado.
      </li>
      <li>
        Selecione "SQLite Manager" na opção "Ferramentas" do menu.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Máquinas Virtuais</h4>
    <p>
      Alguns instrutores preferem que os alunos utilizem máquinas virtuais ao
      invés de instalar os programas nas suas próprias máquinas. Se esse for o seu
      caso,
    </p>
    <ol>
      <li>
	Instale <a href="https://www.virtualbox.org/">VirtualBox</a>.
      </li>
      <li>
	Baixe nossa <a href="{{site.vm_url}}">imagem</a>.
	<strong>Aviso:</strong>
	esse arquivo possui 1.7 GByte,
        e você deve baixá-lo <em>antes</em> do workshop começar.
      </li>
      <li>
        Carrege a máquina virtual no VirtualBox ao selecionar "Importar
        Aplicação" e carregar o arquivo <code>.ova</code>.
      </li>
    </ol>
  </div>
</div>
