<div id="s:setdict:aggregate:challenges" class="challenges">
  <ol>
    <li>{% include guide-setdict/aggregate/challenges/draw-data-structure.html %}</li>
    <li>{% include guide-setdict/aggregate/challenges/update-with-get.html %}</li>
    <li>{% include guide-setdict/aggregate/challenges/return-sorted-list.html %}</li>
    <li>{% include guide-setdict/aggregate/challenges/subtract-dictionaries.html %}</li>
    <li>{% include guide-setdict/aggregate/challenges/single-pass.html %}</li>
  </ol>
</div>
