<div id="s:shell:filedir:challenges" class="challenges">

  <p>
    Please refer to <a href="#f:filedir_challenge">Figure 8</a>
    when answering the challenges below.
  </p>

  <figure id="f:filedir_challenge">
    <img src="{{page.root}}/img/lessons/swc-shell/filedir_challenge.png" alt="File System Layout for Challenge Questions" />
    <figcaption>Figure 8: File System Layout for Challenge Questions</figcaption>
  </figure>

  <ol>
    <li>{% include guide-shell/filedir/challenges/dot-dot-backup.html %}</li>
    <li>{% include guide-shell/filedir/challenges/what-ls.html %}</li>
    <li>{% include guide-shell/filedir/challenges/cd-no-dir.html %}</li>
    <li>{% include guide-shell/filedir/challenges/spaces-in-filenames.html %}</li>
  </ol>

</div>
