<div id="s:shell:filedir:keypoints" class="keypoints">
  <ul>
    <li>The file system is responsible for managing information on disk.</li>
    <li>Information is stored in files, which are stored in directories (folders).</li>
    <li>Directories can also store other directories, which forms a directory tree.</li>
    <li><code>/</code> on its own is the root directory of the whole filesystem.</li>
    <li>A relative path specifies a location starting from the current location.</li>
    <li>An absolute path specifies a location from the root of the filesystem.</li>
    <li>Directory names in a path are separated with '/' on Unix, but '\' on Windows.</li>
    <li>'..' means "the directory above the current one"; '.' on its own means "the current directory".</li>
    <li>Most files' names are <code>something.extension</code>; the extension isn't required, and doesn't guarantee anything, but is normally used to indicate the type of data in the file.</li>
    <li><code>cd <em>path</em></code> changes the current working directory.</li>
    <li><code>ls <em>path</em></code> prints a listing of a specific file or directory; <code>ls</code> on its own lists the current working directory.</li>
    <li><code>pwd</code> prints the user's current working directory (current default location in the filesystem).</li>
    <li><code>whoami</code> shows the user's current identity.</li>
    <li>Most commands take options (flags) which begin with a '-'.</li>
  </ul>
</div>
