<div id="s:shell:filedir:objectives" class="objectives">
  <ul>
    <li>Explain the similarities and differences between a file and a directory.</li>
    <li>Translate an absolute path into a relative path and vice versa.</li>
    <li>Construct absolute and relative paths that identify specific files and directories.</li>
    <li>Explain the steps in the shell's read-run-print cycle.</li>
    <li>Identify the actual command, flags, and filenames in a command-line call.</li>
    <li>Demonstrate the use of tab completion, and explain its advantages.</li>
  </ul>
  <p>Duration: 15 minutes (longer if people have trouble getting an editor to work).</p>
</div>
