<div id="setup-firefox-sqlite-manager-plugin" class="setup">
  <h3>Firefox SQLite Manager Plugin</h3>

  <p>
    The SQLite Manager add-on can be installed through the "Add-ons Manager" in Firefox.
  </p>

  <ul>
    <li>
      Start Firefox.
    </li>
    <li>
      Select <strong>Tools&rarr;Add-ons</strong>.
    </li>
    <li>
      In the search field, enter <code>sqlite</code>.
    </li>
    <li>
      Click the search icon.
    </li>
    <li>
      Double-click to select <strong>SQLite Manager 0.7.7</strong>.
    </li>
    <li>
      Click <strong>Install</strong>.
    </li>
    <li>
      Click <strong>restart now</strong>.
    </li>
    <li>
      When Firefox restarts,
      select either <strong>Web Developer&rarr;SQLite Manager</strong>
      or <strong>Tools&rarr;SQLite Manager</strong>.
    </li>
  </ul>
</div>
