<h4 id="firefox-sqlite">Firefox SQLite Plugin</h4>
<p>
  Instead of using <code>sqlite3</code> from the command line,
  you may use <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">this plugin</a>
  for Firefox instead.
  To install it:
</p>
<ul>
  <li>
    Start Firefox.
  </li>
  <li>
    Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
  </li>
  <li>
    Click the "Add Now" button.
  </li>
  <li>
    Click "Install Now" on the dialog that appears after the download completes.
  </li>
  <li>
    Restart Firefox when prompted.
  </li>
  <li>
    Select "SQLite Manager" from the "Tools" menu.
  </li>
</ul>
