<h4>Virtual Machine</h4>
<p>
  Some instructors prefer to have learners use a virtual machine (VM)
  rather than install software on their own computers.
  If your instructors have chosen to do this,
  please:
</p>
<ol>
  <li>
    Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
  </li>
  <li>
    Download our <a href="{{site.vm_url}}">VM image</a>.
    <strong>Warning:</strong>
    this file is 1.7 GByte,
    so please download it <em>before</em> coming to your bootcamp.
  </li>
  <li>
    Load the VM into VirtualBox by selecting "Import Appliance"
    and loading the <code>.ova</code> file.
  </li>
</ol>
