<div id="setup-macosx-make" class="setup setup-macosx setup-make">
  <h3>Mac OS X / Make</h3>

  <p>
    If you do not already have access to <code>make</code> from within your shell,
    you will need to install XCode (which is free, but over a gigabyte to download).
  </p>

  <ul>
    <li>Go to the Apple app store</li>
    <li>Search for XCode</li>
    <li>Click <strong>Free</strong></li>
    <li>Click <strong>Install App</strong></li>
  </ul>

  <p>
    Once XCode has installed:
  </p>

  <ul>
    <li>Click <strong>Applications</strong></li>
    <li>Click <strong>XCode</strong></li>
    <li>Select <strong>XCode&rarr;Preferences...</strong></li>
    <li>Click <strong>Downloads</strong></li>
    <li>Select <strong>Command Line Tools</strong></li>
    <li>Click <strong>Install</strong></li>
  </ul>

  <p>
    You will now be able to run <code>make</code> within your Bash shell.
  </p>
</div>
