<div id="setup-macosx-python" class="setup setup-macosx setup-python">
  <h3>Mac OS X / Python</h3>

  <p>
    We recommend the all-in-one scientific Python installer
    <a href="http://continuum.io/downloads.html">Anaconda</a>.
    (Installation requires using the shell and if you aren't
    comfortable doing the installation yourself just
    download the installer and we'll help you at the boot
    camp.)
  </p>

  <ol>
    <li>
      Download the installer that matches your operating
      system and save it in your home folder.
    </li>
    <li>
      Open a terminal window.
    </li>
    <li>
      Type <pre>bash Anaconda-</pre> and then press
      tab. The name of the file you just downloaded should
      appear.
    </li>
    <li>
      Press enter. You will follow the text-only
      prompts. When there is a colon at the bottom of the
      screen press the down arrow to move down through the
      text. Type <code>yes</code> and press enter to approve
      the license. Press enter to approve the default
      location for the files. Type <code>yes</code> and
      press enter to prepend Anaconda to
      your <code>PATH</code> (this makes the Anaconda
      distribution the default Python).
    </li>
  </ol>
</div>
