<div id="setup-macosx-terminal" class="setup setup-macosx setup-terminal">
  <h3>Mac OS X / Terminal</h3>

  <p>
    Browse to the <strong>Applications</strong> folder,
    then into the <strong>Utilities</strong> folder
    and open the Terminal application.
    You should see a terminal window like:
  </p>

  <p>
    <img src="{{page.root}}/img/setup/mac-terminal-300x257.jpg" alt="Mac terminal" />
  </p>
  
  <p>
    Your home directory&mdash;the one the terminal defaults to&mdash;can be found at
    <code>/Users/<em>your-user-name</em></code>.
  </p>
</div>
