<div id="setup-macosx-git" class="setup setup-macosx setup-git">
  <h3>Mac OS X / Git</h3>

  <p><em>
    Installing Git may require you to first install XCode.
    This is a very large download (several gigabytes),
    so please do it <strong>before</strong> arriving at the bootcamp.
  </em></p>

  <h4>For Mac OS X 10.7 and 10.8:</h4>

  <p>
    Go to the
    <a href="https://developer.apple.com/xcode/">Xcode website</a>.
    Get XCode from the App Store making
    certain to install the command line tools (from the
    Download preferences pane). Git is included in the
    command line tools.
  </p>

  <h4>For Mac OS X 10.6</h4>

  <p>
    If you have Mac OS X 10.6,
    first get XCode by going to
    <a href="https://developer.apple.com/downloads/">the Apple developer site</a>.
    You have to sign in with an Apple ID linked to a Developer account.
    If you don't have one,
    you can register and create one.
    Once you log in,
    go to page 8 and find "XCode 3.2.6 and iOS SDK 4.3 for Snow Leopard".
    Click to open that section,
    and then download the <code>.dmg</code> file.
    Finally,
    <a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">install just git</a>.
  </p>
</div>
