<div id="setup-rhsl-mercurial" class="setup setup-rhsl setup-mercurial">
  <h3>Red Hat Scientific Linux / Mercurial</h3>

  <p>
    If you are using the latest version of EasyMercurial
    then you need at least Mercurial 1.7.
    Unfortunately the easy-to-use command:
  </p>

<pre>
$ yum install mercurial
</pre>

  <p>
    only installs 1.4,
    so we need to build from source.
    First,
    <a href="http://mercurial.selenic.com/">download the Mercurial source package</a>.
    This can be done at the command-line by copying the download link from the download page
    (using right-click and <strong>Copy Shortcut</strong>)
    then using a <code>wget</code>,
    e.g.:
  </p>

<pre>
$ wget http://mercurial.selenic.com/release/mercurial-2.3.2.tar.gz
</pre>

  <p>
    (This link may have been updated since this page was written,
    so check the download page above for the URL to use.)
    Second,
    unpack the distribution:
  </p>

<pre>
$ gunzip mercurial-2.3.2.tar.gz
$ tar -xf mercurial-2.3.2.tar
$ cd mercurial-2.3.2
</pre>

  <p>
    Third,
    install dependencies:
  </p>

<pre>
$ yum install python-devel
$ easy_install docutils
</pre>

  <p>
    Fourth and finally,
    build and install the software:
  </p>

<pre>
$ make install
</pre>
</div>
