<div id="setup-rhsl-terminal" class="setup setup-rhsl setup-terminal">
  <h3>Red Hat Scientific Linux / Terminal</h3>

  <p>
    This depends on what windowing system you are using whether it be KDE, GNOME or X-windows.
    For example, for GNOME select the menu <strong>Applications&rarr;System Tools</strong>
    and select <strong>Terminal</strong>.
    You should see a terminal window like:
  </p>

  <p>
    <img src="{{page.root}}/img/setup/gnome-terminal-300x195.jpg" alt="Gnome terminal" />
  </p>
</div>
