<div id="setup-rhsl-common" class="setup setup-rhsl setup-common">
  <h3>Red Hat Scientific Linux</h3>

  <p>
    Scientific Linux 6 already comes with:
  </p>

  <ul>
    <li>Bash shell</li>
    <li>Make</li>
    <li>vi text editor</li>
  </ul>

  <p>
    All installation needs to be done as a root user or user with certain administrator privileges.
    If you have such access you can do:
  </p>

<pre>
$ sudo su -
</pre>

  <p>
    and then enter your usual password.
    The <code>yum</code> commands used in the instructions
    were tested using Scientific Linux release 6.2 (Carbon).
  </p>
</div>
