<div id="testing-ipython" class="setup setup-anaconda">
  <h3>Testing IPython notebook installation</h3>
  <ul>
    <li>
      In your terminal window type <code>ipython notebook</code>.
      It may take several seconds,
      but an IPython dashboard window should open in your web browser.
    </li>
    <li>
      Click "new notebook".
    </li>
    <li>
      In the box next to <code>In&nbsp;[&nbsp;]:</code> enter 2+2.
    </li>
    <li>
      Type Shift+Enter (i.e., both keys at the same time) to execute the cell.
    </li>
    <li>
      If the number 4 appears below the cell, you're all set!
      Feel free to try out some commands or simple addition.
    </li>
    <li>
      If not: see troubleshooting below.
    </li>
  </ul>
  <p>
    You can close the browser window.
    If your IPython command in the previous step worked then the notebook should still be running.
    You won't see a Bash prompt (the $ symbol) while IPython is still running.
    Type Control-C (i.e., hold down the "Control" or "Ctrl" key on your keyboard and type the C key).
    You'll be prompted to confirm:
    "Shutdown Notebook Server (y/[n])?"
    Simply type a 'y' and Enter
    to shut down the server.
  </p>
  <p>
    If a result did not appear when you tried to run 2+2,
    make sure you are hitting Shift+Enter (or click the little play button at the top of the window).
  </p>
  <p>
    If Internet Explorer is your default browser,
    copy the URL from your IPython dashboard and open it in another browser (e.g., Firefox or Chrome).
    If you are using Firefox or Chrome on Windows and results still do not appear,
    this may be due to the Sophos antivirus.
    The steps below will fix this,
    but require administrator privileges:
  </p>
  <ol>
    <li>Open your Sophos Endpoint Security and Control Panel from your tray or start menu.</li>
    <li>Select "configure" &gt; "Anti-virus" &gt; "Authorization" from the menu at the top.</li>
    <li>Select the websites tab.</li>
    <li>click the "Add" button and add 127.0.0.1 and localhost to the "Authorized websites" list.</li>
    <li>Restart your computer.</li>
  </ol>
</div>
