<div id="setup-ubuntu-common" class="setup setup-ubuntu setup-common">
  <h3>Ubuntu / Common</h3>

  <p>
    These commands were tested using Ubuntu 11.04 running within VMWare.
    Ubuntu 11.04 already comes with:
  </p>

  <ul>
    <li>Bash shell</li>
    <li>Make</li>
    <li>vi and nano text editors</li>
    <li>Python 2.7</li>
    <li>Firefox</li>
  </ul>

  <p>
    All installation needs to be done as a root user or user with certain administrator privileges.
    If you have such access you can do:
  </p>

<pre>
$ sudo su -
</pre>

  <p>
    Then enter your usual password.
  </p>
</div>
