<div id="setup-ubuntu-sqlite" class="setup setup-ubuntu setup-sqlite">
  <h3>Ubuntu / SQLite</h3>

  <p>
    SQLite does not need administrator privileges to run.
    To install,
    download the SQLite Precompiled Binaries for Linux package
    from the <a href="http://www.sqlite.org/download.html">SQLite download page</a>.
    This can be done at the command-line by copying the download link from the download page
    (using right-click and <strong>Copy Shortcut</strong>) then using <code>wget</code>,
    e.g.:
  </p>

<pre>
$ wget http://www.sqlite.org/sqlite-shell-linux-x86-3071401.zip
</pre>

  <p>
    (This link may have been updated since this page was written,
    so check the download page above for the URL to use.)
    Next,
    unzip and make sure the binary runs:
  </p>

<pre>
$ unzip sqlite-shell-linux-x86-3071100.zip
$ ./sqlite3 --version
</pre>

  <p>
    You can then copy the <code>sqlite3</code> binary wherever you would like.
  </p>
</div>
