<div id="setup-ubuntu-easymercurial" class="setup setup-ubuntu setup-easymercurial">
  <h3>Ubuntu / EasyMercurial</h3>

  <p>
    If your bootcamp is using the EasyMercurial GUI,
    download the <a href="http://easyhg.org/download.html">EasyMercurial Debian/Ubuntu <code>.deb</code> package</a>.
    This can be done at the command-line by copying the download link from the download page
    (using right-click and <strong>Copy Shortcut</strong>) then using <code>wget</code>,
    e.g.:
  </p>

<pre>
$ wget https://code.soundsoftware.ac.uk/attachments/download/487/easymercurial_1.2.2cc-1_i386.deb
</pre>

  <p>
    (This link may have been updated since this page was written,
    so check the download page above for the URL to use.)
    Next,
    run:
  </p>

<pre>
$ dpkg -i easymercurial_1.2cc-1_i386.deb
</pre>

  <p>
    This will produce a lot of warnings about dependency problems&mdash;ignore them.
    Now run:
  </p>

<pre>
$ apt-get -f install
$ dpkg -i easymercurial_1.2cc-1_i386.deb
</pre>

  <p>
    Go to the <strong>Applications&rarr;Programming</strong> menu
    and you should see an <strong>EasyMercurial</strong> command.
    Select it and EasyMercurial should start.
  </p>
</div>
