<div id="setup-vm" class="setup setup-vm">
  <h3>Virtual Machine</h3>
  
  <p>
    Installation issues can and do happen. To ensure that you
    can continue to participate in a lesson even if one of your
    software programs fails, we provide a Linux virtual machine
    that contains all the necessary software
    pre-installed. Please install
    <a href="https://www.virtualbox.org/">VirtualBox</a>
    and download
    <a href="http://files.software-carpentry.org/swc_lubuntu.ova">this virtual machine image</a>.
    Load the VM into VirtualBox by doing Import Appliance and loading the <code>.ova</code> file.
  </p>
</div>
