<h4>Git Bash</h4>
<p>
  Install Git for Windows by download and running
  <a href="http://msysgit.github.io/">the installer</a>.
  This will provide you with both Git and Bash in the Git Bash program.
</p>
<h4>Software Carpentry Installer</h4>
<p>This installer requires an active internet connection</p>
<p>After installing Python and Git Bash:</p>
<ul>
  <li>
    Download the <a href="{{site.windows_installer_path}}">installer</a>.
  </li>
  <li>
    If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
    to download it to your computer.
  </li>
  <li>
    Double click on the file to run it.
  </li>
</ul>
