<div id="setup-windows-cygwin" class="setup setup-windows setup-cygwin">
  <h3>Windows / Cygwin</h3>

  <p>
    For Cygwin under Windows,
    start the Cygwin Terminal by clicking on its desk-top icon:
  </p>

  <p>
    <img src="{{page.root}}/img/setup/cygwin-icon.jpg" alt="Cygwin icon" />
  </p>

  <p>
    Or browse using Windows Explorer to <code>C:\cygwin\bin\</code>
    and double-click on <code>mintty.exe</code>.
    You should see a terminal window like:
  </p>

  <p>
    <img src="{{page.root}}/img/setup/cygwin-terminal-300x175.jpg" alt="Cygwin terminal" />
  </p>

  <p>
    Your home directory&mdash;the one the Cygwin Terminal defaults to&mdash;can
    be found at <code>C:\cygwin\home\<em>your-user-name</em>\</code>.
  </p>
</div>
