<h4>Editor</h4>
<p>
  <code>nano</code> is the editor installed by the Software Carpentry Installer,
  it is a basic editor integrated into the lesson material.
</p>
<p>
  <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
  popular free code editor for Windows.
  Be aware that you must add its installation directory to your system path
  in order to launch it from the command line
  (or have other tools like Git launch it for you).
  Please ask your instructor to help you do this.
</p>
