<div id="setup-windows-swc" class="setup setup-windows setup-swc">
  <h3>Windows / Software Carpentry Installer</h3>

  <ul>
    <li>
      Download the <a href="https://raw.github.com/swcarpentry/boot-camps/master/setup/swc-windows-installer.py">installer</a>.
    </li>
    <li>
      If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
      to download it to your computer.
    </li>
    <li>
      Double click on the file to run it.
    </li>
  </ul>
</div>
