<div id="s:web:opening" class="opening">

  <p>
    Carla Climate is studying climate change in the Northern and Southern hemispheres.
    As part of her work,
    she wants to see whether the gap between annual temperatures in Canada and Australia
    increased during the Twentieth Century.
    The raw data she needs is available online;
    her goal is to get it,
    do her calculations,
    and then post her results so that other scientists can use them.
  </p>

  <p>
    This chapter is about how she can do that.
    More specifically,
    it's about how to fetch data from the web,
    and how to create web pages that are useful to both human beings and computers.
    What we will <em>not</em> cover is how to build interactive web applications;
    making those secure is more work than we can cover in the time we have.
    However,
    everything in this chapter is a prerequisite for interactive apps,
    and there are other good tutorials available
    if you decide that's what you really need. Carla's goal is to share with everyone,
    and that's the easiest kind of site to create.
  </p>

</div>
