<div id="s:web:summary" class="summary">

  <p>
    The web has changed in many ways over the last 20 years,
    not all of them for the better.
    An HTML page on a modern commercial site
    is likely to include dozens or hundreds of lines of Javascript
    that depend on several large, complicated libraries,
    and which generate the page's content on the fly inside the browser.
    Such a "page" is really a small (or not-so-small) program
    rather than a document in the classical sense of the word,
    and while that may produce a better experience for human users,
    it makes life more difficult for programs
    (and for people with disabilities,
    whose assistive aids are all too easy to confuse).
    And while XML is widely used for representing data,
    many people believe that younger alternatives like JSON
    do a better job of balancing the needs of human and computer readers.
  </p>

  <p>
    Regardless of the technology used,
    though,
    the web's <a href="http://blog.jonudell.net/2011/01/24/seven-ways-to-think-like-the-web/">basic design principles</a>
    are both simple and stable:
    tell people where data is, rather than giving them a copy;
    make the data itself and your names for it
    easy for both human beings and computers to understand;
    remix other people's data,
    and allow them to remix yours.
  </p>

</div>
