<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ahmadia.a.jpg" alt="Aron Ahmadia" />
  <div id="ahmadia.a" class="media-body">
    <span class="person">Aron Ahmadia</span> works at the intersection
    of applied mathematics, software engineering, and application
    domains as diverse as adaptive optics, semiconductor lithography,
    and ice-sheet modeling. His focus is in the collaborative
    development of robust, reproducible, and scalable software tools
    for computational science.
  </div>
</div>
