<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/anderson.c.jpg" alt="Carlos Anderson" />
  <div id="anderson.c" class="media-body">
    <a href="http://www.msu.edu/~carlosja"><span class="person">Carlos
    Anderson</span></a> is a Ph.D. candidate in Evolutionary Biology
    at Michigan State University, where he is studying the genetic
    mechanisms of speciation using artificial life. He obtained his
    B.S. in Computer Science and M.S. in Biology at the University of
    Central Florida.
  </div>
</div>
