<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/aruliah.d.jpg" alt="Dhavide Aruliah" />
  <div id="aruliah.d" class="media-body">
    <span class="person"><a href="http://faculty.uoit.ca/aruliah/">Dhavide
    Aruliah</a></span> is an associate professor at the University of
    Ontario Institute of Technology in Oshawa, Ontario. His research
    interests are in scientific computing, specifically in
    computational inverse problems, numerical linear algebra, and the
    numerical solution of PDEs.
  </div>
</div>
