<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/blischak.j.jpg" alt="John Blischak" />
  <div id="ahmadia.a" class="media-body">
    <span class="person">John Blischak</span> is a graduate student at
    the University of Chicago. His research focuses on the
    transcriptional response of human macrophages to infection
    by <em>Mycobacterium tuberculosis</em>. He greatly benefited from
    attending a Software Carpentry bootcamp and enjoys passing along
    these useful skills to other scientists.
  </div>
</div>
