<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bostroem.a.jpg" alt="Azalee Bostroem" />
  <div id="bostroem.a" class="media-body">
    <span class="person">Azalee Bostroem</span> is a Senior Research
    and Instrument Analyst at the Space Telescope Science Institute.
    She is primarily responsible for organizing the development of the
    calibration pipelines of the two spectrographs on the Hubble Space
    Telescope (the <a href="http://www.stsci.edu/hst/cos/">Cosmic
    Origins Spectrograph</a>
    and <a href="http://www.stsci.edu/hst/stis/">Space Telescope
    Imaging Spectrograph</a>). She also collaborates on a project using
    the Space Telescope Imaging Spectrograph to derive the properties
    of massive stars.
  </div>
</div>
