<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bray.e.jpg" alt="Erik Bray" />
  <div id="bray.e" class="media-body">
    <span class="person">Erik Bray</span> is a software engineer in
    the science software branch at Space Telescope Science Institute,
    where he works primarily on supporting Hubble and JWST science
    software.  His software experience ranges from web development to
    kernel hacking, and in his "free" time he's working on an MS in
    Applied Physics.
  </div>
</div>
