<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/bryan.j.jpg" alt="Jennifer Bryan" />
  <div id="bryan.j" class="media-body">
    <span class="person">Jennifer Bryan</span> is an Associate
    Professor in the Statistics Department and the Michael Smith
    Laboratories at the University of British Columbia in
    Vancouver. She's a biostatistician specialized in genomics and
    takes a special interest and delight in data analysis and statistical
    computing.
  </div>
</div>
