<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cabral.sheeri.jpg" alt="Sheeri Cabral" />
  <div id="cabral.sheeri" class="media-body">
    <span class="person"><a href="http://www.sheeri.com/">Sheeri K. Cabral</a></span>
    has a Master's degree in Computer Science from Brandeis University
    and a background in systems administration.  Among her many
    volunteer activities, she founded and organizes the Boston MySQL
    User Group, and is the founder (and current treasurer) of
    Technocation, Inc., a not-for-profit organization providing
    resources and educational grants for IT professionals. She wrote
    the <cite>MySQL Administrator's Bible</cite>.
  </div>
</div>
