<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/canino-koning.r.jpg" alt="Rosangela Canino-Koning" />
  <div id="canino-koning.r" class="media-body">
     After 13 years of slogging in the software industry
    trenches, <a href="http://www.voidptr.net/"><span class="person">Rosangela
    Canino-Koning</span></a> returned to university to pursue a PhD in
    Computer Science and Evolutionary Biology at Michigan State
    University. In her copious spare time, she reads, hikes, travels,
    and hacks on open source software.
  </div>
</div>
