<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cholia.s.jpg" alt="Shreyas Cholia" />
  <div id="cholia.s" class="media-body">
    <a href="http://www.nersc.gov/about/nersc-staff/outreach-software-and-programming-group/shreyas-cholia/"><span class="person">Shreyas
    Cholia</span></a> works on science gateway, web and grid
    technologies for the National Energy Research Scientific Computing
    Center (NERSC) at Lawrence Berkeley National Laboratory, where he
    works to make high-performance scientific computing more
    transparent and accessible. He went to Rice University where he
    studied Computer Science and Cognitive Sciences.
  </div>
</div>
