<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/chue-hong.n.jpg" alt="Neil Chue Hong" />
  <div id="chue-hong.n" class="media-body">
    <a href="http://www.epcc.ed.ac.uk/about-us/staff/chue-hong-neil/"><span class="person">Neil
    Chue Hong</span></a> is Director of
    the <a href="http://www.software.ac.uk/">Software Sustainability
    Institute</a>, and is based at the University of Edinburgh. His
    research interests are in community engagement and development,
    software sustainability, and the integration and analysis of
    data.
  </div>
</div>
