<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cozzini.s.png" alt="Stefano Cozzini" />
  <div id="cozzini.s" class="media-body">
    <span class="person"><a href="http://www.democritos.it/~cozzini">Stefano Cozzini</a></span>
    is half split between CNR/IOM,
    where he coordinates all the center's HPC activities,
    and its small <a href="http://www.exact-lab.it">start-up company</a>,
    where he tries to promote HPC to a wider audience.
    He enjoy teaching IT and HPC all around the world. 
  </div>
</div>
