<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/cranston.k.png" alt="Karen Cranston" />
  <div id="cranston.k" class="media-body">
    <span class="person">Karen Cranston</span> is the Training
    Coordinator and Informatics Project Manager at the National
    Evolutionary Synthesis Center
    (<a href="http://nescent.org">NESCent</a>). She is an evolutionary
    biologist interested in phylogenetic methods, phyloinformatics and
    an evangelist for data sharing and data interoperability in
    biology. Karen is the lead PI
    of <a href="http://opentreeoflife.org">Open Tree of Life</a>, an
    NSF-funded project to synthesize published evolutionary trees.
  </div>
</div>
