<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/crouch.s.jpg" alt="Steve Crouch" />
  <div id="crouch.s" class="media-body">
    <a href="http://users.ecs.soton.ac.uk/stc/"><span class="person">Steve
    Crouch</span></a> is a software architect at
    the <a href="http://www.software.ac.uk">Software Sustainability
    Institute</a>, and is based at
    the <a href="http://www.soton.ac.uk">University of
    Southampton</a>. He assists researchers and their communities by
    consulting on software that is integral to their research.
  </div>
</div>
