<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/davis.m.jpg" alt="Matt Davis" />
  <div id="davis.m" class="media-body">
    <span class="person"><a href="http://penandpants.com/">Matt
    Davis</a></span> is a software developer at the Space Telescope
    Science Institute where he works on Python and C projects that
    support Hubble science. He also spends a bit of time spreading
    Python around the office. He previously worked at NASA's Goddard
    Space Flight Center where he wrote Python software to support
    atmospheric science research.
  </div>
</div>
