<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dickson.r.png" alt="Ross Dickson" />
  <div id="dickson.r" class="media-body">
    <span class="person">Ross Dickson</span> has a Ph.D. in
    computational chemistry, and has been back and forth between
    academia and the software development industry a few times over
    the years. Now he helps profs, post-docs, and students in Atlantic
    Canada solve research problems involving high-performance
    computers.
  </div>
</div>
