<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/dursi.j.jpg" alt="Jonathan Dursi" />
  <div id="dursi.j"
  class="media-body">
    <a href="http://www.cita.utoronto.ca/~ljdursi/"><span class="person">Jonathan
    Dursi</span></a> is an astrophysicist with twenty years'
    experience in computational science. He has taught courses in
    computing from the desktop to supercomputers in Canada, the US,
    and South Africa. In 2000, as part of the US DoE ASC Flash team,
    he won a Gordon Bell Award, one of supercomputing's highest
    accolades.
  </div>
</div>
