<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ely.j.jpg" alt="Justin Ely" />
  <div id="ely.j" class="media-body">
    <span class="person">Justin Ely</span> is a Research and
    Instrument Analyst at the Space Telescope Science Institute where
    he supports the science operations of the Hubble Space
    Telescope. Primarily, he uses Python to monitor and improve the
    performance of the two on-board spectrographs, the Cosmic Origins
    Spectrograph and the Space Telescope Imaging Spectrograph.
  </div>
</div>
