<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/enbody.r.jpg" alt="Richard Enbody" />
  <div id="enbody.r" class="media-body">
    <span class="person"><a href="http://www.cse.msu.edu/~enbody/">Richard
    Enbody</a></span> is an Assistant Professor at Michigan State
    University.  He earned his Ph.D. in Computer Science at the
    University of Minnesota in 1987 and his B.A. in Mathematics at
    Carleton College in 1976.  His primary research interest is in
    computer security.  Together with Bill Punch he wrote
    <a href="http://www.amazon.com/Practice-Computing-Using-Python-Edition/dp/013280557X/"><cite>The Practice of Computing Using Python</cite></a>
    with editions in Python 2 and Python 3 and a translation in Chinese. 
  </div>
</div>
