<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/falster.daniel.jpg" alt="Daniel Falster" />
  <div id="falster.daniel" class="media-body">
    <span class="person">Daniel Falster</span> is a post-doc at Macquarie University in Sydney, Australia.
    He uses a combination of math, computer models, and large data sets
    to test fundamental ideas about the processes shaping terrestrial vegetation and plant diversity.
    He is passionate about science, open data, reproducible research, and teaching biologists to code.
  </div>
</div>
