<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/foertter.f.png" alt="Jennifer Bryan" />
  <div id="foertter.f" class="media-body">
    <span class="person">Fernanda Foertter</span> is a member of the HPC
    User Assistance Group at the Oak Ridge Leadership Computing
    Facility.  Her role is to "help users run".  When she's not on
    call, she's developing and scheduling HPC related training as the
    Task Lead for Training at the National Center for Computational
    Sciences. Prior to ORNL, she worked at an agricultural genomics
    company dealing with Big (Genetic) Data.
  </div>
</div>
