<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/gustavsen.j.jpg" alt="Julia Gustavsen" />
  <div id="gustavsen.j" class="media-body">
    <span class="person">Julia Gustavsen</span> is a PhD student at
    the University of British Columbia in Biological Oceanography.
    Her thesis work focuses on the changes that take place in marine
    viral communities over time and space. She received her BA and BSc
    from the University of New Brunswick.
  </div>
</div>
