<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/guy.t.jpg" alt="Richard 'Tommy' Guy" />
  <div id="guy.t" class="media-body">
    <a href="http://www.cs.toronto.edu/~guy/"><span class="person">Richard
    "Tommy" Guy</span></a> is a PhD student in Computer Science at the
    University of Toronto. While at <a href="http://www.wfu.edu/">Wake
    Forest University</a>, he helped
    create <a href="https://sites.google.com/site/verbalvictor/">Verbal
    Victor</a>, an app to help children with communication
    difficulties.
  </div>
</div>
