<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/haddock.s.jpg" alt="Steven Haddock" />
  <div id="haddock.s" class="media-body">
    <a href="http://www.mbari.org/staff/haddock/"><span class="person">Steven
    Haddock</span></a> is a Research Scientist at the Monterey Bay
    Aquarium Research Institute and adjunct Associate Professor at
    U.C. Santa Cruz, studying bioluminescence and biodiversity of
    marine zooplankton. He
    co-authored <a href="http://practicalcomputing.org/"><cite>Practical
    Computing for Biologists</cite></a> with Casey Dunn.
  </div>
</div>
