<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hansen.m.jpg" alt="Mike Hansen" />
  <div id="hansen.m" class="media-body">
    <span class="person">Mike Hansen</span> is a PhD student in
    Computer Science and Cognitive Science at Indiana University. His
    research interests include quantifying the complexity of software
    using cognitive models of programmers. He has designed and
    developed software professionally for almost ten years, and enjoys
    teaching others the skill and art of programming.
  </div>
</div>
