<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hart.t.jpg" alt="Ted Hart" />
  <div id="hart.t" class="media-body">
    <span class="person">Ted Hart</span> is a post-doc at the
    University of British Columbia where he studies the evolution of
    sociality in spiders using individual based models and
    evolutionary algorithms.  He received his PhD from the University
    of Vermont and is a member of the rOpenSci development
    group.
  </div>
</div>
