<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/hinsen.k.jpg" alt="Konrad Hinsen" />
  <div id="hinsen.k" class="media-body">
    <a href="http://dirac.cnrs-orleans.fr/"><span class="person">Konrad
    Hinsen</span></a> is a theoretical physicist by training who
    currently works on protein structure and dynamics and scientific
    computing at the Centre de Biophysique Mol&eacute;culaire in
    Orl&eacute;ans (France) and at the Synchrotron Soleil in Saint
    Aubin (France). He is also a department editor for <cite>Computing
    in Science and Engineering</cite>.
  </div>
</div>
