<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/imran.s.png" alt="Sabiha Imran" />
  <div id="imran.s" class="media-body">
    <span class="person">Sabiha Imran</span> has a Master of Science in
    Computational Linguistics from Georgetown University in Washington, DC. She
    develops academic websites and software tools for teaching ESL and teaches
    a Java Programming Online class through Umass Amherst. She has copyrights
    for a language parser and grammar checker that she developed in GLISP for
    teaching English to speakers of Hindi/Urdu.
  </div>
</div>

