<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kerr.j.jpg" alt="Jessica Kerr" />
  <div id="kerr.j" class="media-body">
    <span class="person">Jessica Kerr</span> has channeled an
    undergraduate physics degree into a programming career. She loves
    computer science, especially when it intersects with math and
    complexity theory. Her goals include acquiring new tastes, sharing
    enthusiasm, and keeping two crazy-happy children alive.
  </div>
</div>
