<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/king.t.jpg" alt="Trevor King" />
  <div id="king.w" class="media-body">
    <span class="person"><a href="http://blog.tremily.us/">W. Trevor
    King</a></span> is a PhD student in Physics at Drexel
    University. He studies single-molecule protein unfolding, focusing
    on open source experiment control and automation
    using <a href="http://comedi.org/">Comedi</a> and Python. This has
    led to exposure to a wide range of software, and he moonlights as
    an evangelist for open source software in general, and Git and
    Python in particular.
  </div>
</div>
