<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/kitzes.j.jpg" alt="Justin Kitzes" />
  <div id="kitzes.j" class="media-body">
    <a href="http://justinkitzes.com/"><span class="person">Justin Kitzes</span></a>
    is a postdoc in the Energy and Resources Group at the University
    of California, Berkeley. His research centers on the intersection
    of quantitative ecology and conservation biology, with a focus on
    developing general methods to predict spatial patterns of
    biodiversity in human-altered landscapes.
  </div>
</div>
