<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/koenig.steven.jpg" alt="Steven Koenig" />
  <div id="koenig.steven" class="media-body">
    <span class="person">Steven Koenig</span> is studying the
    production of microbial exopolysaccharides using renewable
    resources at
    <a href="http://www.tum.de/en/homepage/">Technische Universit&auml;t M&uuml;nchen</a>,
    Straubing Center of Science,
    <a href="http://www.wz-straubing.de/default.asp?Menue=15&lang=ENG&MandantID=5">Chair of Chemistry of Biogenic Resources</a>
    as a Ph.D. candidate.
  </div>
</div>
