<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/konrad.b.jpg" alt="Bernhard Konrad" />
  <div id="konrad.b" class="media-body">
    <span class="person">Bernhard Konrad</span> is a PhD student in
    Mathematical Biology at the University of British Columbia. He
    studies early within-host events after HIV exposure and how
    treatment or a vaccine could prevent infection. He received his
    Masters at the Karlsruhe Institute of Technology in Germany, where
    he focused on functional analysis.
  </div>
</div>
