<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lagesen.k.jpg" alt="Karin Lagesen" />
  <div id="lagesen.k" class="media-body">
    <span class="person">Karin Lagesen</span> has a PhD in
    bioinformatics and has since focused on the processing of high
    throughput sequencing data in various forms. With a background in
    both computational science and molecular biology, she has taught
    programming and computational analysis to both master and PhD
    students and believes that this should be an integral part of any
    biologist's toolbox.
  </div>
</div>
