<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/langmore.i.jpg" alt="Ian Langmore" />
  <div id="langmore.i" class="media-body">
    <span class="person"><a href="http://www.ianlangmore.com/">Ian
    Langmore</a></span> is a mathematician/engineer working as a data
    scientist in New York City.  He currently works at Johnson
    Research Labs and teaches an Applied Data Science class in the
    Department of Statistics at Columbia University.
  </div>
</div>
