<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/lasher.c.png" alt="Chris Lasher" />
  <div id="lasher.c" class="media-body">
    <span class="person">Chris Lasher</span> works at the interfaces
    of molecular biology, computer science, and software
    development. In 2007, he lead a weekly Software Carpentry boot
    camp at Virginia Tech for postdocs and graduate students. To this
    day, Chris continues to improve his good programming habits and
    extol the virtues of Python, his most beloved programming
    language.
  </div>
</div>
