<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/latornell.d.jpg" alt="Doug Latornell" />
  <div id="latornell.d" class="media-body">
    <span class="person"><a href="http://douglatornell.ca/">Doug
    Latornell</a></span> is a professional engineer with post-graduate degrees
    in experimental and computational fluid mechanics and
    modeling and control of robotic manipulators.  He
    works for Nordion in Vancouver, where he helps produce
    medical isotopes by proton irradiation from cyclotrons.
    Side projects include work on a coupled biology and physics model of deep estuaries
    that, through the winter
    months, calculates a daily prediction of the date of the first
    spring phytoplankton bloom in the Strait of Georgia.
  </div>
</div>
