<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/le.w.jpg" alt="Wei Le" />
  <div id="le.w" class="media-body">
    <span class="person"><a href="http://phd.gccis.rit.edu/weile/">Wei Le</a></span>
    is an assistant professor at the Rochester Institute of
    Technology. Her research interests include the fundamentals and
    applications of program analysis and software testing. She is
    looking for automatic, practical solutions for improving software
    reliability, security and productivity.
  </div>
</div>
