<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mcgough.s.jpg" alt="Stephen McGough" />
  <div id="mcgough.s" class="media-body">
    <span class="person"><a href="http://www.ncl.ac.uk/computing/people/profile/Stephen.McGough">Stephen
    McGough</a></span> is the Research Manager for
    the <a href="http://digitalinstitute.ncl.ac.uk">Digital
    Institute</a> at <a href="http://www.ncl.ac.uk">Newcastle
    University</a>. His research interests lie in the areas of high
    performance and high throughput computing along with their
    implications for green computing.
  </div>
</div>
