<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mckellar.j.jpg" alt="Jessica McKellar" />
  <div id="mckellar.j" class="media-body">
    <span class="person"><a href="http://jesstess.com/">Jessica
    McKellar</a></span> is a kernel engineer living in Cambridge,
    MA. She is a Python Software Foundation board member and an
    organizer for the largest Python user group in the world. With
    that group she runs the Boston Python Workshops for women and
    their friends&mdash;an introductory programming pipeline that has
    brought hundreds of women into the local Python community and is
    being replicated in cities across the US.
  </div>
</div>
