<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mctavish.ej.jpg" alt="Emily Jane McTavish" />
  <div id="mctavish.ej" class="media-body">
    <span class="person"><a href="https://sites.google.com/site/emilyjanemctavish/">Emily
    Jane McTavish</a></span> is a PhD student at the University of
    Texas studying the complex evolutionary history of Texas Longhorn
    cattle using genomic data. In May 2013 she is starting a postdoc
    at University of Kansas developing tools for updating and revising
    the tree of life, as part of
    the <a href="http://opentreeoflife.org/">Open Tree</a>
    project.
  </div>
</div>
