<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mitchell.i.jpg" alt="Ian M. Mitchell" />
  <div id="mitchell.i" class="media-body">
    <span class="person"><a href="http://www.cs.ubc.ca/~mitchell/">Ian
    M. Mitchell</a></span> is an associate professor in the Department
    of Computer Science at the University of British Columbia. His
    research interests include scientific computing, cyber-physical
    systems, formal verification, and reproducible research.
  </div>
</div>
