<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/morris.b.png" alt="Ben Morris" />
  <div id="morris.b" class="media-body">
    <span class="person">Ben Morris</span> is a Ph.D. student in the
    Department of Biology at the University of North Carolina. His
    research uses large datasets and ecoinformatics to answer
    questions about patterns in species distribution and community
    assembly. He also develops open source software to make ecology
    and biodiversity data more accessible.
  </div>
</div>
