<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/nielsen.c.png" alt="Charlene Nielsen" />
  <div id="nielsen.c" class="media-body">
    <span class="person"><a href="http://www.biology.ualberta.ca/gis/">Charlene Nielsen</a></span>
    joined the University of Alberta in 2001 as the GIS Analyst for
    the Department of Biological Sciences. Her collaborative role
    involves spatial analyses and modelling, developing GIS research
    and education solutions, managing the GIS labs, creating and
    instructing workshops and courses, and organizing UofA's GIS
    Day. Charlene received her MSc in Geography (with specialization
    in Geographic Information Systems and Remote Sensing) from the
    University of Calgary in 2001.
  </div>
</div>
