<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/pell.j.jpg" alt="Jason Pell" />
  <div id="pell.j" class="media-body">
    <a href="http://www.cse.msu.edu/~pelljaso"><span class="person">Jason
    Pell</span></a> is a Ph.D. student in Computer Science and
    Quantitative Biology at Michigan State University who is primarily
    interested in tackling large next-generation DNA sequencing
    datasets. He holds a B.A. in Computer Science from Grand Valley
    State University.
  </div>
</div>
