<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/perez.f.jpg" alt="Fernando Perez" />
  <div id="perez.f" class="media-body">
    <a href="http://fperez.org/"><span class="person">Fernando
    Perez</span></a> is a research scientist at the Helen Wills
    Neuroscience Institute at U.C. Berkeley. His work involves the
    development and implementation of new algorithms and tools for
    neuroimaging, with a special interest in functional MRI. He is
    also actively involved with the development of new tools for
    high-level scientific computing, mostly using the Python
    language.
  </div>
</div>
