<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/petre.m.jpg" alt="Marian Petre" />
  <div id="petre.m" class="media-body">
    <a href="http://mcs.open.ac.uk/mp8/"><span class="person">Marian
    Petre</span></a> is a Professor of Computing at the Open
    University. She holds a Royal Society/Wolfson Research Merit Award
    in recognition of her research on expertise in software
    design. With degrees in both Psycholinguistics and Computer
    Science, Marian's research spans empirical studies of software
    development, representation and visualisation for software design,
    psychology of programming, human-centred computing, and computer
    science education.
  </div>
</div>
