<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/pickens.c.jpg" alt="Caitlyn Pickens" />
  <div id="pickens.c" class="media-body">
    <a href="http://michigancomputes.wordpress.com/"><span class="person">Caitlyn Pickens</span></a>
    is a graduate student at Michigan State University. She researches
    education techniques in the undergraduate computer science
    classroom&mdash;specifically, the flipped classroom and active
    learning.
  </div>
</div>
