<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/plumbley.m.jpg" alt="Mark Plumbley" />
  <div id="plumbley.m" class="media-body">
    <a href="http://www.elec.qmul.ac.uk/people/markp/"><span class="person">Mark
    Plumbley</span></a> is Director of the Centre for Digital Music
    (C4DM) at Queen Mary, University of London, and leads
    the <a href="http://soundsoftware.ac.uk/">SoundSoftware.ac.uk</a>
    project. His work in audio signal analysis includes beat tracking,
    music transcription, source separation and object coding, using
    techniques such as neural networks, independent component
    analysis, sparse representations and Bayesian modeling.
  </div>
</div>
