<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/ram.k.jpg" alt="Karthik Ram" />
  <div id="ram.k" class="media-body">
    Karthik Ram is a quantitative ecologist at UC Berkeley
    broadly interested in the structure and dynamics of food webs in terrestrial systems.
    He blogs at <a href="http://inundata.org">Inundata</a>,
    and is also the co-founder of <a href="http://ropensci.org">rOpenSci</a>,
    a project which aims to foster reproducible research and data reuse through open source software tools.
  </div>
</div>
