<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/rich.a.jpg" alt="Amy Rich" />
  <div id="rich.a" class="media-body">
    <span class="person"><a href="http://www.linkedin.com/in/amyrrich/">Amy Rich</a></span>
    has been a UNIX sysadmin for over 20 years at a variety of
    companies, owned her own consulting business, helped organize
    multiple sysadmin conferences, and written professionally on the
    topic of UNIX systems administration. She currently works at the
    Mozilla Corporation and plays the part of both of sysadmin and
    manager of the Release Engineering Operations IT team.  She is
    a member of USENIX and SAGE, and a founding member of LOPSA.
  </div>
</div>


