<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/rokem.a.jpg" alt="Ariel Rokem" />
  <div id="rokem.a"
  class="media-body">
    <span class="person"><a href="http://arokem.org">Ariel
    Rokem</a></span> is a post-doctoral researcher at the Stanford
    Psychology Department. His research focuses on the functional
    neuroanatomy of the human visual system. Since his time as a PhD
    student at UC Berkeley, he has been involved in developing open
    source software for neuroimaging.
  </div>
</div>
