<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/shelton.j.jpg" alt="Jeff Shelton" />
  <div id="shelton.j"
  class="media-body">
    <a href="http://engineeringrevision.com/about/"><span class="person">Jeff
    Shelton</span></a> is a PhD candidate in Mechanical Engineering at
    Purdue University, studying the control aspects of human
    motion. Following more than two decades in industry, he is
    interested in aligning educational methods with the evolving
    societal roles performed by engineers.
  </div>
</div>
