<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/smith.j.jpg" alt="Joshua Ryan Smith" />
  <div id="smith.j" class="media-body">
    <span class="person">Joshua Ryan Smith</span> specializes in
    electronic devices based on wide-bandgap semiconductor materials
    and in the past has done work in surface science and
    nanofabrication. Joshua is a native of North Carolina and received
    his Ph.D. in physics from North Carolina State University; he
    learned Python programming in graduate school and has an interest
    in understanding the design of experiments in terms of the
    practices of software development.
  </div>
</div>
