<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/supp.s.jpg" alt="Sarah Supp" />
  <div id="supp.s" class="media-body">
    <span class="person"><a href="http://weecology.org/people/sarahsupp/Sarah_Supp/">Sarah Supp</a></span>
    received her Ph.D. student in Ecology from Utah State
    University. Her research interests lie in combining field studies,
    macroecological analyses and ecoinformatics to understand the
    dynamics that drive change at the community and ecosystem level.
  </div>
</div>
