<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/teal.t.jpg" alt="Tracy Teal" />
  <div id="teal.t" class="media-body">
    <span class="person"><a href="http://idyll.org/~tracyt/">Tracy Teal</a></span>
    is a bioinformatics specialist at Michigan State University,
    having completed an NSF Postdoctoral Fellowship in Biological
    Informatics.  She has developed open-source tools for metagenomics
    analysis and, as a member of the Great Lakes Bioenergy Research
    Center, studied the effects of land use change on microbial
    communities and greenhouse gas flux.
  </div>
</div>
