<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/varoquaux.n.jpg" alt="Nelle Varoquaux" />
  <div id="varoquaux.n" class="media-body">
    After working as a Python software
    engineer, <span class="person">Nelle Varoquaux</span> returned to
    university in 2011 to pursue an applied mathematics degree,
    specializing in machine learning. She is now using her skills to
    solve biological problems, such as reconstructing the 3D
    architecture of the genome.
  </div>
</div>
