<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/viana.a.jpg" alt="Alex Viana" />
  <div id="viana.a" class="media-body">
    <span class="person">Alex Viana</span> is a Research and
    Instrument Analyst at the <a href="http://stsci.edu">Space
    Telescope Science Institute</a> where he supports the operations
    of the Hubble Space Telescope. Primarily working in Python and SQL
    he has contributed to a wide range of scientific and educational
    projects at STScI.
  </div>
</div>
