<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/vonderlinden.jens.jpg" alt="Jens von der Linden" />
  <div id="vonderlinden.jens" class="media-body">
    <span class="person">Jens von der Linden</span>
    is a PhD student in plasma physics at the University of Washington.
    He is designing and building an experiment to simulate astrophysical jets in the lab.
    His focus is the interaction between twisted magnetic fields and twisted flows in the jets and their stabilizing effects.
    He uses Python for data analysis,
    and has also worked on plasma fluid simulations in Fortran and Python.
  </div>
</div>
