<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/waugh.b.jpg" alt="Ben Waugh" />
  <div id="waugh.b" class="media-body">
    <a href="http://www.hep.ucl.ac.uk/~waugh/"><span class="person">Ben Waugh</span></a>
    writes and maintains software, teaches programming and a bit of
    physics, manages computer systems and drinks lots of coffee in
    the <a href="http://www.phys.ucl.ac.uk/">Department of Physics and
    Astronomy</a> at <a href="http://www.ucl.ac.uk/">University
    College London</a>, mostly in
    the <a href="http://www.hep.ucl.ac.uk/">High-Energy Physics
    Group</a>.
  </div>
</div>
