<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/white.e.jpg" alt="Ethan White" />
  <div id="white.e" class="media-body">
    <a href="http://ethanwhite.org"><span class="person">Ethan White</span></a>
    is an Associate Professor in the Department of Biology and the
    Ecology Center at Utah State University. He is a recipient of the
    prestigious National Science Foundation CAREER "Young
    Investigators" Award. He is a proponent of open and reproducible
    science and serves on the editorial boards of both PLOS ONE and
    PeerJ.
  </div>
</div>
