<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/wilson.p.jpg" alt="Paul Wilson" />
  <div id="wilson.p" class="media-body">
    <a href="http://cnerg.github.com/"><span class="person">Paul Wilson</span></a>
    is an Associate Professor at the U. Wisconsin-Madison where he
    teaches nuclear engineering.  His research
    group, <a href="http://cnerg.github.com">CNERG</a>, delivers new
    capability for the simulation of nuclear systems.  The Hacker
    Within was born from his research group as he tried to impart
    Software Carpentry skills upon his graduate students.
  </div>
</div>
