<div id="s:invperc:neighbors:lesson" class="lesson">

  <p>
    Now that we have:lesson filled our grid,
    let's find cells' neighbors.
    (We need to do this because pollutant can only spread to cells
    that are adjacent to ones that have already been filled.)
    The blue cell shown in <a href="#f:filling_neighbors">Figure 5</a>
    is a neighbor of the filled region
    if any of the green cells already have that special marker value.
    Note that we're not looking at the cells that are on the diagonals:
    we should check the science on this,
    but again,
    we'll do the simple thing for now
    and change it later if we need to.
  </p>

  <div class="box">
    <h3>How to Put Things Off</h3>

    <p>
      This is the second time we've said,
      "We'll change it later if we need to."
      Each time we say this,
      we should design our software so that making the change is as easy as possible&mdash;ideally,
      a matter of changing one function call or one parameter value.
      We haven't done that yet,
      but we will by the end of this chapter.
    </p>

  </div>

  <figure id="f:filling_neighbors">
    <img src="dev/filling_neighbors.png" alt="Filling Neighbors" />
    <figcaption>Figure 5: Filling Neighbors</figcaption>
  </figure>

  <p>
    Here's a piece of code that tests
    whether a cell is a candidate for being filled in:
  </p>

<pre>
# Is a cell a candidate for filling?
# Version 1: has bugs!
for x in range(N):
    for y in range(N):
        if is_filled(grid, x-1, y) \
        or is_filled(grid, x+1, y) \
        or is_filled(grid, x, y-1) \
        or is_filled(grid, x, y+1):
            ...cell (x, y) is a candidate...
</pre>

  <p class="continue">
    It seems simple:
    for each (x, y) coordinate in the grid,
    look at the cells that are left, right, up, and down.
    If any of them is filled,
    then this cell is a candidate for filling.
  </p>

  <p>
    However,
    this code doesn't take into account what happens at the edges.
    If we subtract 1 when <code>x</code> is zero,
    we get an X coordinate of -1.
    In Python,
    that means the last cell in the row
    (since negative indices count backward from the end of a list).
    That will wrap around to the far edge,
    which is definitely not what we want.
  </p>

  <p>
    The situation on the other border isn't quite as bad:
    if we add one to the X coordinate when we're at the right-hand edge,
    our neighbor index will be out of bounds
    and Python will raise an exception,
    so at least we'll know we did something wrong.
  </p>

  <p>
    Here's another version of the code that tests for this:
  </p>

<pre>
# Is a cell a candidate for filling?
# Version 2: long-winded
for x in range(N):
    for y in range(N):
        if x &gt; 0:
            if is_filled(grid, x-1, y):
                ...cell (x, y) is a candidate...
        ...repeat for the other three cases...
</pre>

  <p class="continue">
    For each (x, y) coordinate,
    we test to make sure that <code>x</code> is greater than zero,
    i.e,
    that we're not on the left edge,
    before checking to see if the cell to our left is filled.
    We repeat a similar double test for each of the other directions.
  </p>

  <p>
    We can make this a bit more readable
    by combining the two tests with <code>and</code>:
  </p>

<pre>
# Is a cell a candidate for filling?
# Version 3: good enough for production
for x in range(N):
    for y in range(N):
        if (x &gt; 0) and is_filled(x-1, y):
            ...cell (x, y) is a candidate...
        elif (x &lt; N-1) and is_filled(x+1, y):
            ...and so on...
</pre>

  <p>
    This works because of
    <a href="glossary.html#short-circuit-evaluation">short-circuit evaluation</a>.
    In Python (and many other languages),
    <code>and</code> only tests as many conditions as it needs to
    in order to determine an answer.
    If the first part is false,
    the second one doesn't need to be tested,
    since <code>and</code> is only true if both parts are true.
    Similarly,
    if the first condition in an <code>or</code> is true,
    Python doesn't both to evaluate the second condition.
    This allows people to write code like:
  </p>

<pre>
if (value != 0) and (1.0/value &lt; 1.0):
    <em>...do something...</em>
</pre>

  <p class="continue">
    because the division in the second part
    will only happen if <code>value</code> is non-zero
    (i.e., if the first part is true).
    Similarly, it allows code like this:
  </p>

<pre>
next_list = current_list or ['default']
</pre>

  <p class="continue">
    which assigns the value of <code>current_list</code> to <code>next_list</code>
    if <code>current_list</code> contains something,
    or the list <code>['default']</code> if <code>current_list</code> is empty.
    Some programmers find these tricks useful;
    most find them hard to read.
  </p>

  <div class="box">
    <h3>Options</h3>

    <p>
      There are several other good ways to structure even this short piece of code.
      For example,
      we could check that the X and Y indices are in range inside <code>is_filled</code>,
      and always return false if they're not.
      We could also use one big conditional instead of an <code>if</code>
      and four <code>elif</code>s
      in order to avoid duplicating the code that does something to a cell
      if it is indeed a candidate:
    </p>

<pre>
        if ((x &gt; 0)   and is_filled(x-1, y)) \
        or ((x &lt; N-1) and is_filled(x+1, y)) \
        or ((y &gt; 0)   and is_filled(x, y-1)) \
        or ((y &lt; N-1) and is_filled(x, y+1)):
            ...cell (x, y) is a candidate...
</pre>

    <p class="continue">
      There's no clear reason to choose any of these approaches over any of the others,
      at least not yet,
      so we'll continue with the one we have.
    </p>

  </div>

</div>
