<div id="s:db:select:keypoints" class="keypoints">
  <ul>
    <li>A relational database stores information in tables with fields and records.</li>
    <li>A database manager is a program that manipulates a database.</li>
    <li>The commands or queries given to a database manager are usually written in a specialized language called SQL.</li>
    <li>SQL is case insensitive.</li>
    <li>The rows and columns of a database table aren't stored in any particular order.</li>
    <li>Use <code>select <em>fields</em> from <em>table</em></code> to get all the values for specific fields from a single table.</li>
    <li>Use <code>select * from <em>table</em></code> to select everything from a table.</li>
  </ul>
</div>
