<div id="s:db:select:lesson" class="lesson">

  <p>
    A <a href="glossary.html#relational-database">relational database</a>
    is a way to store and manipulate information
    that is arranged as <a href="glossary.html#table">tables</a>.
    Each table has columns (also known as <a href="glossary.html#field-database">fields</a>) which describe the data,
    and rows (also known as <a href="glossary.html#record-database">records</a>) which contain the data.
  </p>

  <p id="a:dbms">
    When we are using a spreadsheet,
    we put formulas into cells to calculate new values based on old ones.
    When we are using a database,
    we send commands
    (usually called <a href="glossary.html#query">queries</a>)
    to a <a href="glossary.html#database-manager">database manager</a>:
    a program that manipulates the database for us.
    The database manager does whatever lookups and calculations the query specifies,
    returning the results in a tabular form
    that we can then use as a starting point for further queries.
  </p>

  <div class="box">
    <h3>Under the Hood</h3>

    <p>
      Every database manager&mdash;Oracle,
      IBM DB2, PostgreSQL, MySQL, Microsoft Access, and SQLite&mdash;stores
      data in a different way,
      so a database created with one cannot be used directly by another.
      However,
      every database manager can import and export data in a variety of formats,
      so it <em>is</em> possible to move information from one to another.
    </p>
  </div>

  <p>
    Queries are written in a language called <a href="glossary.html#sql">SQL</a>,
    which stands for "Structured Query Language".
    SQL provides hundreds of different ways to analyze and recombine data;
    we will only look at a handful,
    but that handful accounts for most of what scientists do.
  </p>

  <p>
    <a href="#f:survey_db">Figure 1</a> shows
    a simple database that stores some of the data
    Gina extracted from the logs of those long-ago expeditions.
    It contains four tables:
  </p>

  <table>
    <tr>
      <th>Table</th>
      <th>Purpose</th>
    </tr>
    <tr>
      <td><code>Person</code></td>
      <td>People who took readings.</td>
    </tr>
    <tr>
      <td><code>Site</code></td>
      <td>Locations of observation sites.</td>
    </tr>
    <tr>
      <td><code>Visited</code></td>
      <td>When readings were taken at specific sites.</td>
    </tr>
    <tr>
      <td><code>Survey</code></td>
      <td>The actual measurement values.</td>
    </tr>
  </table>

  <figure id="f:survey_db">
    <table border="1">
      <tr>
        <td valign="top">
          <table class="db">
            <tr><th colspan="3">Person</th></tr>
            <tr><td><i><u>ident</u></i></td><td><i><u>personal</u></i></td><td><i><u>family</u></i></td></tr>
            <tr><td>dyer</td><td>William</td><td>Dyer</td></tr>
            <tr><td>pb</td><td>Frank</td><td>Pabodie</td></tr>
            <tr><td>lake</td><td>Anderson</td><td>Lake</td></tr>
            <tr><td>roe</td><td>Valentina</td><td>Roerich</td></tr>
            <tr><td>danforth</td><td>Frank</td><td>Danforth</td></tr>
          </table>
        </td>
        <td valign="top" rowspan="3">
          <table class="db">
            <tr><th colspan="4">Survey</th></tr>
            <tr><td><i><u>taken</i></u></td><td><i><u>person</i></u></td><td><i><u>quant</u></i></td><td><i><u>reading</i></u></td></tr>
            <tr><td>619</td><td>dyer</td><td>rad</td><td>9.82</td></tr>
            <tr><td>619</td><td>dyer</td><td>sal</td><td>0.13</td></tr>
            <tr><td>622</td><td>dyer</td><td>rad</td><td>7.8</td></tr>
            <tr><td>622</td><td>dyer</td><td>sal</td><td>0.09</td></tr>
            <tr><td>734</td><td>pb</td><td>rad</td><td>8.41</td></tr>
            <tr><td>734</td><td>lake</td><td>sal</td><td>0.05</td></tr>
            <tr><td>734</td><td>pb</td><td>temp</td><td>-21.5</td></tr>
            <tr><td>735</td><td>pb</td><td>rad</td><td>7.22</td></tr>
            <tr><td>735</td><td>NULL</td><td>sal</td><td>0.06</td></tr>
            <tr><td>735</td><td>NULL</td><td>temp</td><td>-26.0</td></tr>
            <tr><td>751</td><td>pb</td><td>rad</td><td>4.35</td></tr>
            <tr><td>751</td><td>pb</td><td>temp</td><td>-18.5</td></tr>
            <tr><td>751</td><td>lake</td><td>sal</td><td>0.1</td></tr>
            <tr><td>752</td><td>lake</td><td>rad</td><td>2.19</td></tr>
            <tr><td>752</td><td>lake</td><td>sal</td><td>0.09</td></tr>
            <tr><td>752</td><td>lake</td><td>temp</td><td>-16.0</td></tr>
            <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
            <tr><td>837</td><td>lake</td><td>rad</td><td>1.46</td></tr>
            <tr><td>837</td><td>lake</td><td>sal</td><td>0.21</td></tr>
            <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
            <tr><td>844</td><td>roe</td><td>rad</td><td>11.25</td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <table class="db">
            <tr><th colspan="3">Site</th></tr>
            <tr><td><i><u>name</i></u></td><td><i><u>lat</i></u></td><td><i><u>long</i></u></td></tr>
            <tr><td>DR-1</td><td>-49.85</td><td>-128.57</td></tr>
            <tr><td>DR-3</td><td>-47.15</td><td>-126.72</td></tr>
            <tr><td>MSK-4</td><td>-48.87</td><td>-123.4</td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <table class="db">
            <tr><th colspan="3">Visited</th></tr>
            <tr><td><i><u>ident</i></u></td><td><i><u>site</i></u></td><td><i><u>dated</i></u></td></tr>
            <tr><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
            <tr><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
            <tr><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
            <tr><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
            <tr><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
            <tr><td>752</td><td>DR-3</td><td>NULL</td></tr>
            <tr><td>837</td><td>MSK-4</td><td>1932-01-14</td></tr>
            <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
          </table>
        </td>
      </tr>
    </table>
    <figcaption>Figure 1: Survey Database (field names are in italics)</figcaption>
  </figure>

  <p>
    Notice that three entries&mdash;one in the <code>Visited</code> table,
    and two in the <code>Survey</code> table&mdash;are shown as <code>NULL</code>.
    We'll return to these values <a href="#s:null">later</a>.
    For now,
    let's write an SQL query that displays scientists' names.
    We do this using the SQL command <code>select</code>,
    giving it the names of the columns we want and the table we want them from.
    Our query and its output look like this:
  </p>

<pre>
sqlite&gt; <span class="in">select family, personal from Person;</span>
</pre>
<table class="db">
  <tr><td>Dyer</td><td>William</td></tr>
  <tr><td>Pabodie</td><td>Frank</td></tr>
  <tr><td>Lake</td><td>Anderson</td></tr>
  <tr><td>Roerich</td><td>Valentina</td></tr>
  <tr><td>Danforth</td><td>Frank</td></tr>
</table>

  <p>
    The semi-colon at the end of the query
    tells the database manager that the query is complete and ready to run.
    If we enter the query without the semi-colon,
    or press 'enter' part-way through the query,
    the SQLite interpreter will give us a different prompt
    to show us that it's waiting for more input:
  </p>

<pre>
sqlite&gt; <span class="in">select family, personal</span>
   ...&gt; <span class="in">from Person</span>
   ...&gt; <span class="in">;</span>
</pre>
<table class="db">
<tr><td>Dyer</td><td>William</td></tr>
<tr><td>Pabodie</td><td>Frank</td></tr>
<tr><td>Lake</td><td>Anderson</td></tr>
<tr><td>Roerich</td><td>Valentina</td></tr>
<tr><td>Danforth</td><td>Frank</td></tr>
</table>

  <p class="continue">
    From now on,
    we won't bother to display the prompt(s) with our commands.
  </p>

  <div class="box">
    <h3>Case and Consistency</h3>

    <p>
      We have written our command and the column names in lower case,
      and the table name in title case,
      but we could use any mix:
      SQL is <a href="glossary.html#case-insensitive">case insensitive</a>,
      so we could write them all in upper case,
      or even like this:
    </p>

<pre>
<span class="in">SeLeCt famILY, PERSonal frOM PERson;</span>
</pre>

    <p>    
      But please don't:
      large SQL queries are hard enough to read
      without the extra cognitive load of random capitalization.
    </p>
  </div>

  <div class="box">
    <h3>Displaying Results</h3>

    <p>
      Exactly <em>how</em> the database displays the query's results
      depends on what kind of interface we are using.
      If we are running SQLite directly from the shell,
      its default output looks like this:
    </p>

<span class="out">Dyer|William
Pabodie|Frank
Lake|Anderson
Roerich|Valentina
Danforth|Frank</span>

    <p class="continue">
      If we are using a graphical interface,
      such as the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">SQLite Manager</a> plugin for Firefox
      or the <a href="https://github.com/catherinedevlin/ipython-sql">database extension</a> for the IPython Notebook,
      our output will be displayed graphically
      (<a href="#f:firefox_output">Figure 2</a>
      and <a href="#f:notebook_output">Figure 3</a>).
      We'll use a simple table-based display in these notes.
    </p>

    <figure id="f:firefox_output">
      <img src="db/firefox_output.png" alt="Firefox SQLite Manager Output" />
      <figcaption>Figure 2: Firefox SQLite Manager Output</figcaption>
    </figure>

    <figure id="f:notebook_output">
      <img src="db/notebook_output.png" alt="IPython Notebook Database Extension Output" />
      <figcaption>Figure 3: IPython Notebook Database Extension Output</figcaption>
    </figure>

  </div>

  <p>
    Going back to our query,
    it's important to understand that
    the rows and columns in a database table aren't actually stored in any particular order.
    They will always be <em>displayed</em> in some order,
    but we can control that in various ways.
    For example,
    we could swap the columns in the output by writing our query as:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select personal, family from Person;</pre>
      </td>
    </tr>
    <tr><td>William</td><td>Dyer</td></tr>
    <tr><td>Frank</td><td>Pabodie</td></tr>
    <tr><td>Anderson</td><td>Lake</td></tr>
    <tr><td>Valentina</td><td>Roerich</td></tr>
    <tr><td>Frank</td><td>Danforth</td></tr>
  </table>

  <p class="continue">
    or even repeat columns:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select ident, ident, ident from Person;</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>dyer</td><td>dyer</td></tr>
    <tr><td>pb</td><td>pb</td><td>pb</td></tr>
    <tr><td>lake</td><td>lake</td><td>lake</td></tr>
    <tr><td>roe</td><td>roe</td><td>roe</td></tr>
    <tr><td>danforth</td><td>danforth</td><td>danforth</td></tr>
  </table>

  <p class="continue">
    We will see ways to rearrange the rows <a href="#s:sort">later</a>.
  </p>

  <p>
    As a shortcut, we can select all of the columns in a table
    using the wildcard <code>*</code>:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Person;</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>William</td><td>Dyer</td></tr>
    <tr><td>pb</td><td>Frank</td><td>Pabodie</td></tr>
    <tr><td>lake</td><td>Anderson</td><td>Lake</td></tr>
    <tr><td>roe</td><td>Valentina</td><td>Roerich</td></tr>
    <tr><td>danforth</td><td>Frank</td><td>Danforth</td></tr>
  </table>

</div>
