<div id="s:shell:pipefilter:keypoints" class="keypoints">
  <ul>
    <li><code><em>command</em> &gt; <em>file</em></code> redirects a command's output to a file.</li>
    <li><code><em>first</em> | <em>second</em></code> is a pipeline: the output of the first command is used as the input to the second.</li>
    <li>The best way to use the shell is to use pipes to combine simple single-purpose programs (filters).</li>
    <li><code>cat</code> displays the contents of its inputs.</li>
    <li><code>head</code> displays the first few lines of its input.</li>
    <li><code>sort</code> sorts its inputs.</li>
    <li><code>tail</code> displays the last few lines of its input.</li>
    <li><code>wc</code> counts lines, words, and characters in its inputs.</li>
  </ul>
</div>
