<div id="s:db:transactions:lesson" class="lesson">

  <p>
    Suppose we have another table in our database that shows
    which pieces of equipment have been borrowed by which scientists:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select * from Equipment;</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>CX-211 oscilloscope</td></tr>
    <tr><td>pb</td><td>Greenworth balance</td></tr>
    <tr><td>lake</td><td>Cavorite damping plates</td></tr>
  </table>
  
  <p class="continue">
    (We should actually give each piece of equipment a unique ID,
    and use that ID here instead of the full name,
    just as we created a separate table for scientists earlier in this chapter,
    but we will bend the rules for now.)
    If William Dyer gives the oscilloscope to Valentina Roerich,
    we need to execute two statements to update this table:
  </p>

<pre>
delete from Equipment where person="dyer" and thing="CX-211 oscilloscope";
insert into Equipment values("roe", "CX-211 oscilloscope");
</pre>

  <p>
    This is all fine&mdash;unless our program happens to crash
    between the first statement and the second.
    If that happens,
    the <code>Equipment</code> table won't have a record for the oscilloscope at all.
    Such a crash may seem unlikely,
    but remember:
    if a computer can do two billion operations per second,
    that means there are two billion opportunities every second for something to go wrong.
    And if our operations take a long time to complete&mdash;as they will
    when we are working with large datasets,
    or when the database is being heavily used&mdash;the odds of failure increase.
  </p>

  <p>
    What we really want is a way to ensure that every operation is <a href="glossary.html#acid">ACID</a>:
    <a href="glossary.html#atomic-operation">atomic</a> (i.e. indivisible),
    consistent, isolated, and durable.
    The precise meanings of these terms doesn't matter;
    what does is the notion that
    every logical operation on the database should either run to completion
    as if nothing else was going on at the same time,
    or fail without having any effect at all.
  </p>

  <p>
    The tool we use to ensure that this happens is called
    a <a href="glossary.html#transaction">transaction</a>.
    Here's how we should actually write the statements
    to move the oscilloscope from one person to another:
  </p>

<pre>
<span class="highlight">begin transaction;</span>
delete from Equipment where person="dyer" and thing="CX-211 oscilloscope";
insert into Equipment values("roe", "CX-211 oscilloscope");
<span class="highlight">end transaction;</span>
</pre>

  <p>
    The database manager treats everything in the transaction as one large statement.
    If anything goes wrong inside,
    then none of the changes made in the transaction will actually be written to the database&mdash;it
    will be as if the transaction had never happened.
    Changes are only stored permanently
    when we <a href="glossary.html#commit">commit</a> them at the end of the transaction.
  </p>

  <div class="box">
    <h3>Transactions and Commits</h3>

    <p>
      We first used the term "transaction" in
      <a href="svn.html#b:basics:transaction">our discussion of version control</a>.
      That's not a coincidence:
      behind the scenes,
      tools like Subversion are using many of the same algorithms as database managers
      to ensure that either everything happens consistently
      or nothing happens at all.
      We <a href="svn.html#a:commit">use the term "commit"</a> for the same reason:
      just as our changes to local files aren't written back to the version control repository
      until we commit them,
      our (apparent) changes to a database aren't written to disk
      until we say so.
    </p>

  </div>

  <p>
    Transactions serve another purpose as well.
    Suppose there is another table in the database called <code>Exposure</code>
    that records the number of days each scientist was exposed to
    higher-than-normal levels of radiation:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select * from Exposure;</pre>
      </td>
    </tr>
    <tr><td>pb</td><td>4</td></tr>
    <tr><td>dyer</td><td>1</td></tr>
    <tr><td>lake</td><td>5</td></tr>
  </table>

  <p class="continue">
    After going through the journal entries for 1932,
    Gina wants to add two days to Lake's count:
  </p>

<pre>
update Exposure set days = days + 2 where person='lake';
</pre>

  <p class="continue">
    However,
    her labmate has been doing through the journal entries for 1933
    to help Gina meet a paper deadline.
    At the same moment as Gina runs her command,
    her labmate runs this
    to add one more day to Lake's exposure:
  </p>

<pre>
update Exposure set days = days + 1 where person='lake';
</pre>

  <p>
    After both operations have completed,
    the database should show that Lake was exposed for eight days
    (the original five, plus two from Gina, plus one from her labmate).
    However,
    there is a small chance that it won't.
    To see why,
    let's break the two queries into their respective read and write steps
    and place them side by side:
  </p>

  <table border="1">
    <tr>
      <td><code>X = read Exposure('lake', __)</code></td>
      <td><code>Y = read Exposure('lake', __)</code></td>
    </tr>
    <tr>
      <td><code>write Exposure('lake', X+2)</code></td>
      <td><code>write Exposure('lake', Y+1)</code></td>
    </tr>
  </table>

  <p>
    The database can only actually do one thing at once,
    so it must put these four operations into some sequential order.
    That order has to respect the original order within each column,
    but the database can interleave the two columns any way it wants.
    If it orders them like this:
  </p>

  <table border="1">
    <tr>
      <td><code>X = read Exposure('lake', __)</code></td>
      <td><code>X</code> is 5</td>
    </tr>
    <tr>
      <td><code>write Exposure('lake', X+2)</code></td>
      <td>database contains 7</td>
    </tr>
    <tr>
      <td><code>Y = read Exposure('lake', __)</code></td>
      <td><code>Y</code> is 7</td>
    </tr>
    <tr>
      <td><code>write Exposure('lake', Y+1)</code></td>
      <td>database contains 8</td>
    </tr>
  </table>

  <p class="continue">
    then all is well.
    But what if it interleaves the operations like this:
  </p>

  <table border="1">
    <tr>
      <td><code>X = read Exposure('lake', __)</code></td>
      <td><code>X</code> is 5</td>
    </tr>
    <tr>
      <td><code>Y = read Exposure('lake', __)</code></td>
      <td><code>Y</code> is 5</td>
    </tr>
    <tr>
      <td><code>write Exposure('lake', X+2)</code></td>
      <td>database contains 7</td>
    </tr>
    <tr>
      <td><code>write Exposure('lake', Y+1)</code></td>
      <td>database contains 6</td>
    </tr>
  </table>

  <p class="continue">
    This ordering puts the initial value, 5, into both <code>X</code> and <code>Y</code>.
    It then writes 7 back to the database (the third statement),
    and then overwrites that with 6,
    since <code>Y</code> holds 5.
  </p>

  <p>
    This is called a <a href="glossary.html#race-condition">race condition</a>,
    since the final result depends on a race between the two operations.
    Race conditions are part of what makes programming large systems with many components a nightmare:
    they are difficult to spot in advance
    (since they are caused by the interactions between components,
    rather than by anything in any one of those components),
    and can be almost impossible to debug
    (since they usually occur intermittently and infrequently).
  </p>

  <p>
    Transactions come to our rescue once again.
    If Gina and her labmate put their statements in transactions,
    the database will act as if it executed all of one and then all of the other.
    Whether or not it <em>actually</em> does this is up to whoever wrote the database manager:
    modern databases use very sophisticated algorithms to determine
    which operations actually have to be run sequentially,
    and which can safely be run in parallel to improve performance.
    The key thing is that
    every transaction will appear to have had the entire database to itself.
  </p>

</div>
