<div id="s:db:null:lesson" class="lesson">

  <p>
    Real-world data is never complete&mdash;there are always holes.
    Databases represent these holes using special value called <code>null</code>.
    <code>null</code> is not zero, <code>False</code>, or the empty string;
    it is a one-of-a-kind value that means "nothing here".
    Dealing with <code>null</code> requires a few special tricks
    and some careful thinking.
  </p>

  <p>
    To start,
    let's have a look at the <code>Visited</code> table.
    There are eight records,
    but #752 doesn't have a date&mdash;or rather,
    its date is null:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited;</pre>
      </td>
    </tr>
    <tr><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>752</td><td>DR-3</td><td></td></tr>
    <tr><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <div class="box">
    <h3>Displaying Nulls</h3>

    <p>
      Different databases display nulls differently.
      Unfortunately,
      SQLite's default is to print nothing at all,
      which makes nulls easy to overlook
      (particularly if they're in the middle of a long row).
    </p>
  </div>

  <p>
    Null doesn't behave like other values.
    If we select the records that come before 1930:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where dated&lt;'1930-00-00';</pre>
      </td>
    </tr>
    <tr><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
  </table>

  <p class="continue">
    we get two results,
    and if we select the ones that come during or after 1930:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where dated&gt;='1930-00-00';</pre>
      </td>
    </tr>
    <tr><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <p class="continue">
    we get five,
    but record #752 isn't in either set of results.
    The reason is that
    <code>null&lt;'1930-00-00'</code>
    is neither true nor false:
    null means, "We don't know,"
    and if we don't know the value on the left side of a comparison,
    we don't know whether the comparison is true or false.
    Since databases represent "don't know" as null,
    the value of <code>null&lt;'1930-00-00'</code>
    is actually <code>null</code>.
    <code>null&gt;='1930-00-00'</code> is also null
    because we can't answer to that question either.
    And since the only records kept by a <code>where</code>
    are those for which the test is true,
    record #752 isn't included in either set of results.
  </p>

  <p>
    Comparisons aren't the only operations that behave this way with nulls.
    <code>1+null</code> is <code>null</code>,
    <code>5*null</code> is <code>null</code>,
    <code>log(null)</code> is <code>null</code>,
    and so on.
    In particular,
    comparing things to null with = and != produces null:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select * from Visited where dated=NULL;</pre>
      </td>
    </tr>
    <tr>
      <td colspan="1">
<pre>select * from Visited where dated!=NULL;</pre>
      </td>
    </tr>
  </table>

  <p>
    To check whether a value is <code>null</code> or not,
    we must use a special test <code>is&nbsp;null</code>:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where dated is NULL;</pre>
      </td>
    </tr>
    <tr><td>752</td><td>DR-3</td><td></td></tr>
  </table>

  <p class="continue">
    or its inverse <code>is&nbsp;not&nbsp;null</code>:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select * from Visited where dated is not NULL;</pre>
      </td>
    </tr>
    <tr><td>619</td><td>DR-1</td><td>1927-02-08</td></tr>
    <tr><td>622</td><td>DR-1</td><td>1927-02-10</td></tr>
    <tr><td>734</td><td>DR-3</td><td>1939-01-07</td></tr>
    <tr><td>735</td><td>DR-3</td><td>1930-01-12</td></tr>
    <tr><td>751</td><td>DR-3</td><td>1930-02-26</td></tr>
    <tr><td>837</td><td>MS-4</td><td>1932-01-14</td></tr>
    <tr><td>844</td><td>DR-1</td><td>1932-03-22</td></tr>
  </table>

  <p>
    Null values cause headaches wherever they appear.
    For example,
    suppose we want to find the all of salinity measurements
    that weren't taken by Dyer.
    It's natural to write the query like this:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where quant='sal' and person!='lake';</pre>
      </td>
    </tr>
    <tr><td>619</td><td>dyer</td><td>sal</td><td>0.13</td></tr>
    <tr><td>622</td><td>dyer</td><td>sal</td><td>0.09</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
  </table>

  <p class="continue">
    but this query filters omits the records
    where we don't know who took the measurement.
    Once again,
    the reason is that when <code>person</code> is <code>null</code>,
    the <code>!=</code> comparison produces <code>null</code>,
    so the record isn't kept in our results.
    If we want to keep these records
    we need to add an explicit check:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select * from Survey where quant='sal' and (person!='lake' <span class="highlight">or person is null</span>);</pre>
      </td>
    </tr>
    <tr><td>619</td><td>dyer</td><td>sal</td><td>0.13</td></tr>
    <tr><td>622</td><td>dyer</td><td>sal</td><td>0.09</td></tr>
    <tr><td>735</td><td></td><td>sal</td><td>0.06</td></tr>
    <tr><td>752</td><td>roe</td><td>sal</td><td>41.6</td></tr>
    <tr><td>837</td><td>roe</td><td>sal</td><td>22.5</td></tr>
  </table>

  <p class="continue">
    We still have to decide whether this is the right thing to do or not.
    If we want to be absolutely sure that
    we aren't including any measurements by Lake in our results,
    we need to exclude all the records for which we don't know who did the work.
  </p>

  <div class="box">
    <h3>What Happens When You Forget</h3>

    <p>
      Several years ago,
      I was helping a group who were looking at
      the spread of drug-resistant tuberculosis (DRTB)
      in industrialized countries.
      In particular,
      they wanted to know if it was spreading faster among less affluent people.
    </p>

    <p>
      We tackled the problem by combining two data sets.
      The first gave us skin and blood test results for DRTB
      along with patients' postal codes
      (the only identifying information we were allowed---we didn't even have gender).
      The second was Canadian census data that gave us
      median income per postal code.
      Since a PC is about 300-800 people,
      we felt justified in joining the first with the second
      to estimate incomes for people with positive and negative test results.
    </p>

    <p>
      To our surprise,
      we didn't find a correlation between income and infection.
      We were just about to publish when someone spotted the mistake I'd made.
    </p>

    <p>
      Question: Who <em>doesn't</em> have a postal code?
    </p>

    <p>
      Answer: Homeless people.
    </p>

    <p>
      When I did the join,
      I was throwing away homeless people,
      which introduced a statistically significant error in my results.
      But I couldn't just set the income of anyone without a postal code to zero,
      because our sample included another set of people without postal codes:
      16-21 year olds whose addresses were suppressed
      because they had tested positive for sexually-transmitted diseases.
    </p>

    <p>
      At this point the problem is no longer a database issue,
      but rather a question of statistics.
      The takeaway is,
      checking your queries when you're programming is as important as
      checking your samples when you're doing chemistry.
    </p>
  </div>

</div>
