<div id="s:db:null:objectives" class="objectives">
  <ul>
    <li>Explain what databases use the special value <code>NULL</code> to represent.</li>
    <li>Explain why databases should <em>not</em> uses their own special values (like 9999 or "N/A") to represent missing or unknown data.</li>
    <li>Explain what atomic and aggregate calculations involving <code>NULL</code> produce, and why.</li>
    <li>Write queries that include or exclude records containing <code>NULL</code>.</li>
  </ul>
  <p>Duration: 10-20 minutes (the latter figure includes time for an anecdote about what happens when you <em>don't</em> take nulls into account).</p>
</div>
