<div id="s:pyblocks:opening" class="opening">

  <p>
    Valerie Visual is studying the way people interpret missing or noisy information.
    For one of her experiments,
    she wants to introduce successively larger amounts of random noise into a series of pictures
    to see when people start to notice it.
  </p>

  <p>
    If Valerie only wanted one or two images,
    the simplest way to create them might be
    to use a tool like Photoshop.
    However,
    she wants to show each test subject several hundred images.
    Creating these by hand would take longer than actually running her experiments,
    so she's going to learn how to program,
    and that's what this lesson is about.
  </p>

  <p>
    We will use a programming language called Python for our examples.
    Python is free,
    reasonably well documented,
    and widely used in science and engineering.
    Our main reason for choosing it,
    though,
    is that newcomers find it easier to read than most other languages.
    It also allows people to do useful things
    without first having to master advanced concepts like object-oriented programming.
  </p>

  <p>
    The particular version of Python we'll use is called IPython.
    It was developed by and for scientists,
    and comes with many extra tools which we'll explore as we go along.
    The most important of these is an electronic lab notebook
    that allows us to view and annotate our work as we go along.
  </p>

  <p>
    Finally,
    our programs will use two libraries
    that were specifically written for novices.
    Both work on grids of pixels,
    but the first does this directly in the browser,
    so that we can see what we're doing as we go along,
    while the second manipulates photographs and other image files.
  </p>

</div>
