<div id="s:shell:find:objectives" class="objectives">
  <ul>
    <li>Use <code>grep</code> to select lines from text files that match simple patterns.</li>
    <li>Use <code>find</code> to find files whose names match simple patterns.</li>
    <li>Use the output of one command as the command-line parameters to another command.</li>
    <li>Explain what is meant by "text" and "binary" files, and why many common tools don't handle the latter well.</li>
  </ul>
  <p>Duration: 15 minutes.</p>
</div>
