<div id="s:pyblocks:basic:lesson" class="lesson">

  <p>
    The best way to learn how to program is to start programming,
    so open a shell and run the IPython Notebook by typing:
  </p>

<pre>
$ <span class="in">ipython notebook</span>
<span class="out">[NotebookApp] Using existing profile dir: u'/Users/gwilson/.ipython/profile_default'
[NotebookApp] Serving notebooks from /Users/gwilson
[NotebookApp] The IPython Notebook is running at: http://127.0.0.1:8888/
[NotebookApp] Use Control-C to stop this server and shut down all kernels.</span>
</pre>

  <p class="continue">
    If everything has been installed correctly,
    you will see something like the output shown above,
    which tells you that IPython has started running.
    You will also see something like <a href="#f:ipython_welcome">Figure XXX</a>
    in your browser.
  </p>

  <figure id="f:ipython_welcome">
    <img src="pymedia/ipython_welcome.png" alt="IPython Notebook Startup Screen" />
    <figcaption>Figure XXX: IPython Notebook Startup Screen</figcaption>
  </figure>

  <figure id="f:empty_notebook">
    <img src="pymedia/empty_notebook.png" alt="An Empty Notebook" />
    <figcaption>Figure XXX: An Empty Notebook</figcaption>
  </figure>

  <p>
    If you click on the "New Notebook" button,
    a new tab will open in your browser
    with an empty notebook
    (<a href="#f:empty_notebook">Figure XXX</a>).
    At this point, you're ready to go,
    so type the following line into the text box
    and choose "Run" from the "Cell" menu.
    You should get the output shown
    (<a href="#f:first_computation">Figure XXX</a>).
  </p>

<pre>
<span class="in">print 1 + 1</span>
<span class="out">2</span>
</pre>

  <figure id="f:first_computation">
    <img src="pymedia/first_computation.png" alt="Our First Computation" />
    <figcaption>Figure XXX: Our First Computation</figcaption>
  </figure>

  <p>
    <a href="#f:architecture">Figure XXX</a> shows what just happened.
    When we type something into the notebook and run it,
    the browser sends the contents of the cell to IPython,
    which is running in the background.
    IPython runs our commands and sends output back to the browser,
    which displays it
    and gives us another box for input.
  </p>

  <figure id="f:architecture">
    <img src="pymedia/architecture.png" alt="The Architecture of the IPython Notebook" />
    <figcaption>Figure XXX: The Architecture of the IPython Notebook</figcaption>
  </figure>

  <div class="box">
    <h3>Shortcuts</h3>
    <p>
      We can access all of the Notebook's commands through its menus,
      but it's often easier to use keyboard shortcuts.
      Typing Control-M follows by 'h' (for "help") displays a list of these;
      along with the usual copy, paste, and delete,
      the most commonly used are:
    </p>
    <table>
      <tr>
        <td>Shift-Enter</td>
        <td>Run the current cell and move to the next one.</td>
      </tr>
      <tr>
        <td>Control-Enter</td>
        <td>Run the current cell and stay in it.</td>
      </tr>
      <tr>
        <td>Control-M + L</td>
        <td>Turn line numbering on or off.</td>
      </tr>
      <tr>
        <td>Control-M + A</td>
        <td>Insert a new cell above the current one.</td>
      </tr>
      <tr>
        <td>Control-M + B</td>
        <td>Insert a new cell below the current one.</td>
      </tr>
    </table>
  </div>

  <p>
    Now enter and run this:
  </p>

<pre>
<span class="in">x = 1+1</span>
</pre>

  <p class="continue">
    Python doesn't display anything this time
    (except a new cell).
    Instead,
    as <a href="#f:first_variable">Figure XXX</a> shows,
    it creates a <a href="glossary.html#variable">variable</a> called <code>x</code>
    and assigns it the value 2.
    We can then get that variable's value simply by entering its name:
  </p>

<pre>
<span class="in">print x</span>
<span class="out">2</span>
</pre>

  <figure id="f:first_variable">
    <img src="pymedia/first_variable.png" alt="Our First Variable" />
    <figcaption>Figure XXX: Our First Variable</figcaption>
  </figure>

  <div class="box">

    <h3>Statements vs. Expressions</h3>

    <p>
      Python is a fairly relaxed language,
      but there are some things it won't let us do.
      For example,
      this doesn't work:
    </p>

<pre>
print x = 1 + 2
<span class="err">SyntaxError: invalid syntax</span>
</pre>

    <p class="continue">
      The problem is that printing and assignment are both
      <a href="glossary.html#statement">statements</a>.
      A statement is a complete, self-contained action in a programming language,
      and statements cannot be combined.
      1+2, on the other hand,
      is an <a href="glossary.html#expression">expression</a>&mdash;something
      that produces a new value&mdash;and expressions can be combined in many ways.
      Except for assignment,
      every statement in Python begins with a keyword like <code>print</code>,
      so it's usually easy to tell them apart.
    </p>

  </div>

  <p>
    We can now use the value of <code>x</code> in new calculations:
  </p>

<pre>
<span class="in">print x * 2</span>
<span class="out">4</span>
</pre>

  <p class="continue">
    including ones that create more variables:
  </p>

<pre>
<span class="in">y = x * 2</span>
<span class="in">print y</span>
<span class="out">4</span>
</pre>

  <p class="continue">
    We can change a variable's value
    by assigning something new to it:
  </p>

<pre>
<span class="in">x = 10</span>
<span class="in">print x</span>
<span class="out">10</span>
</pre>

  <p class="continue">
    As <a href="#f:assign_new_value">Figure XXX</a> shows,
    assigning something to <code>x</code> changes what it points to,
    but does not change anything else.
    In particular,
    <code>y</code> still has the value 4 after this assignment&mdash;it
    is not automatically updated when <code>x</code>'s value changes,
    as it would in a spreadsheet:
  </p>

<pre>
<span class="in">print y</span>
<span class="out">4</span>
</pre>

  <figure id="f:assign_new_value">
    <img src="pymedia/assign_new_value.png" alt="Assigning a New Value" />
    <figcaption>Figure XXX: Assigning a New Value</figcaption>
  </figure>

  <p>
    Notice,
    by the way,
    that some of our input cells contain several lines of Python.
    Referring back to <a href="#f:architecture">Figure XXX</a>,
    everything in a cell is sent to IPython for execution at once,
    and all of the output from those lines comes back as a single new output cell.
  </p>

  <div class="box">
    <h3>When to Print</h3>
    <p>
      If the last thing in a cell is an expression on a line of its own,
      the notebook displays its value as the cell's output.
      If we want to display things from the middle of a cell,
      we need to use a <code>print</code> statement.
    </p>
  </div>

  <p>
    Here's a more complex calculation:
  </p>

<pre>
<span class="in">x = 98.6</span>
<span class="in">y = (x - 32.0) * (5.0 / 9.0) + 273.15</span>
<span class="in">print y</span>
<span class="out">310.15</span>
</pre>

  <p class="continue">
    Its meaning becomes clearer if we rewrite it as:
  </p>

<pre>
<span class="in">temp_fahr = 98.6
temp_kelvin = (temp_fahr - 32.0) * (5.0 / 9.0) + 273.15
print 'body temperature in Kelvin:', temp_kelvin</span>
<span class="out">body temperature in Kelvin: 310.15</span>
</pre>

  <p>
    The first line creates a new variable called <code>temp_fahr</code>
    (short for "temperature in Fahrenheit")
    and gives it the value 98.6
    (<a href="#f:first_memory_model">Figure XXX</a>).
    The second line creates another variable to hold the temperature in Kelvin
    (hence its name).
    It calculates a value for this variable
    that depends on the value of <code>temp_fahr</code>.
    The last line prints the result;
    the <a href="glossary.html#string">character string</a>
    (or just "string" for short)
    inside quotes is printed as-is,
    followed by the value of <code>temp_kelvin</code>.
  </p>

  <figure id="f:first_memory_model">
    <img src="pymedia/first_memory_model.png" alt="First Memory Model" />
    <figcaption>Figure XXX: First Memory Model</figcaption>
  </figure>

  <p>
    Like every program,
    this one stores data and does calculations.
    We use variables to do the first,
    and write instructions that use those variables to do the second.
    And like every <em>good</em> program,
    it is written with human beings in mind.
    Computers get faster every year,
    but our brains don't.
    As a result,
    the biggest bottleneck in scientific computing is often not how fast the program is,
    but how long it takes us to write it.
    This is why we use variable names like <code>temp_fahr</code> and <code>temp_kelvin</code>
    instead of <code>x</code> and <code>y</code>:
    they optimize the performance of the most expensive hardware we have.
  </p>

  <div class="box" id="a:creating-variables">
    <h3>Creating Variables</h3>

    <p>
      Python creates a variable whenever a value is assigned to a name,
      but won't let us get the value of a variable that hasn't been assigned one.
      For example,
      if we try to do this:
    </p>

<pre>
<span class="in">double_temp = temp_celsius * 2</span>
</pre>

    <p class="continue">
      then Python prints an error message:
    </p>

<pre>
<span class="err">NameError                                 Traceback (most recent call last)
&lt;ipython-input-7-0fae4d15df1c&gt; in &lt;module&gt;()
----&gt; 1 double_temp = temp_celsius * 2

NameError: name 'temp_celsius' is not defined</span>
</pre>

    <p class="continue">
      We'll explain what "module" means <a href="#s:lib">later</a>.
      What's important now is that this strictness helps catch a lot of typing mistakes.
      If we mistakenly type <code>temp_far</code> instead of <code>temp_fahr</code>:
    </p>

<pre>
<span class="in">temp_kelvin = (<span class="highlight">temp_far</span> - 32.0) * (5.0 / 9.0) + 273.15</span>
</pre>

    <p class="continue">
      then Python will tell us something's gone wrong.
      It can't help us if we type 3.20 instead of 32.0, though;
      if we want to catch that mistake,
      we'll actually have to <a href="quality.html">test our program</a>.
    </p>

  </div>

  <p>
    Readability is also why we put the temperature in Fahrenheit in a variable,
    then use that variable in line 2,
    rather than just putting 98.6 directly in the calculation.
    If we ever want to convert another temperature,
    it's easier to see and change the value on line 1
    than it would be to find it buried in the middle of a line of arithmetic.
  </p>

  <div class="box">
    <h3>Tab Completion</h3>

    <p>
      Using longer variable names doesn't necessarily mean doing more typing.
      Like the shell,
      IPython supports <a href="shell.html#a:tab-completion">tab completion</a>:
      if we have created variables called <code>temp_fahr</code> and <code>temp_kelvin</code>,
      then type "te" and press tab,
      the notebook will display a list of completions for us to choose from
      (<a href="#f:tab_completion">Figure XXX</a>.
      If we get as far as typing "temp_f" and press tab,
      the rest of the name will be filled in completely
      because there's only one possible choice.
    </p>

    <figure id="f:tab_completion">
      <img src="pymedia/tab_completion.png" alt="Tab Completion" />
      <figcaption>Figure XXX: Tab Completion</figcaption>
    </figure>

    <p>
      After a while,
      some programmers start to choose variable names to optimize tab completion
      (whether they're conscious of doing so or not).
      For example,
      they might use <code>t_fahr</code> and <code>t_kelvin</code> for temperatures
      so that they only have to type three characters and press tab
      to fill in the rest of the variable name.
      Others find that using slightly longer but more comprehensible names
      is a better balance between typing time and reading time.
      The most important thing is to be consistent,
      because every inconsistency makes reading harder and slower.
    </p>
  </div>

  <p>
    Finally,
    our first few programs show how arithmetic is done.
    '+' means addition,
    '*' means multiplication,
    and parentheses group things together,
    just as they do in pen-and-paper arithmetic.
  </p>

</div>
