---
layout: lesson
root: ../..
title: The Unix Shell
order: ["intro", "filedir", "create", "wildcard", "pipefilter", "loop", "scripts", "find"]
---
<section>
  <h2>Opening</h2>
  {% include guide-shell/opening.html %}
</section>

<section>
  <h2>Instructors</h2>
  {% include guide-shell/instructors.html %}
</section>

<section id="s:shell:intro">
  <h2>{% include guide-shell/intro/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/intro/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/intro/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/intro/keypoints.html %}
</section>

<section id="s:shell:filedir">
  <h2>{% include guide-shell/filedir/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/filedir/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/filedir/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/filedir/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/filedir/challenges.html %}
</section>

<section id="s:shell:create">
  <h2>{% include guide-shell/create/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/create/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/create/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/create/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/create/challenges.html %}
</section>

<section id="s:shell:wildcard">
  <h2>{% include guide-shell/wildcard/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/wildcard/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/wildcard/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/wildcard/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/wildcard/challenges.html %}
</section>

<section id="s:shell:pipefilter">
  <h2>{% include guide-shell/pipefilter/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/pipefilter/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/pipefilter/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/pipefilter/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/pipefilter/challenges.html %}
</section>

<section id="s:shell:loop">
  <h2>{% include guide-shell/loop/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/loop/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/loop/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/loop/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/loop/challenges.html %}
</section>

<section id="s:shell:scripts">
  <h2>{% include guide-shell/scripts/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/scripts/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/scripts/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/scripts/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/scripts/challenges.html %}
</section>

<section id="s:shell:find">
  <h2>{% include guide-shell/find/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/find/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/find/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/find/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/find/challenges.html %}
</section>

<section>
  <h2>Summary</h2>
  {% include guide-shell/summary.html %}
</section>
