<div id="s:shell:opening" class="opening">

  <p>
    Nelle Nemo,
    a marine biologist,
    has just returned from a six-month survey of the
    <a href="http://en.wikipedia.org/wiki/North_Pacific_Gyre">North Pacific Gyre</a>,
    where she has been sampling gelatinous marine life
    in the <a href="http://en.wikipedia.org/wiki/Great_Pacific_Garbage_Patch">Great Pacific Garbage Patch</a>.
    She has 1520 samples in all,
    and now needs to:
  </p>

  <ol>
    <li>
      Run each sample through an assay machine that will measure the relative abundance of 300 different proteins.
      The machine's output for a single sample is a file with one line for each protein.
    </li>
    <li>
      Calculate statistics for each of the proteins separately
      using a program her supervisor wrote called <code>goostat</code>.
    </li>
    <li>
      Compare the statistics for each protein with corresponding statistics for each other protein
      using a program one of the other graduate students wrote called <code>goodiff</code>.
    </li>
    <li>
      Write up.
      Her supervisor would really like her to do this by the end of the month
      so that her paper can appear in
      an upcoming special issue of <cite>Aquatic Goo Letters</cite>.
    </li>
  </ol>

  <p>
    It takes about half an hour for the assay machine to process each sample.
    The good news is,
    it only takes two minutes to set each one up.
    Since her lab has eight assay machines that she can use in parallel,
    this step will "only" take about two weeks.
  </p>

  <p>
    The bad news is,
    if she has to run <code>goostat</code> and <code>goodiff</code> by hand,
    she'll have to enter filenames and click "OK" roughly 300<sup>2</sup> times
    (300 runs of <code>goostat</code>, plus 300&times;299 runs of <code>goodiff</code>).
    At 30 seconds each,
    that will 750 hours, or 18 weeks.
    Not only would she miss her paper deadline,
    the chances of her getting all 90,000 commands right are approximately zero.
  </p>

  <p>
    This chapter is about what she should do instead.
    More specifically,
    it's about how she can use a command shell
    to automate the repetitive steps in her processing pipeline,
    so that her computer can work 24 hours a day
    while she writes her paper.
    As a bonus,
    once she has put a processing pipeline together,
    she will be able to use it again
    whenever she collects more data.
  </p>

</div>
