<div id="s:shell:summary">

  <p>
    The Unix shell is older than most of the people who use it.
    It has survived so long because it is
    one of the most productive programming environments ever created&mdash;maybe even
    <em>the</em> most productive.
    Its syntax may be cryptic,
    but people who have mastered it can experiment with different commands interactively,
    then use what they have learned to automate their work.
    Graphical user interfaces may be better at the first,
    but the shell is still unbeaten at the second.
    And as Alfred North Whitehead wrote in 1911,
    "Civilization advances by extending the number of important operations which we can perform without thinking about them."
  </p>

</div>
