<div id="s:setdict:dict:challenges" class="challenges">
  <ol>
    <li>{% include guide-setdict/dict/challenges/possible-outputs.html %}</li>
    <li>{% include guide-setdict/dict/challenges/interpolation.html %}</li>
    <li>{% include guide-setdict/dict/challenges/dicts-as-sets.html %}</li>
    <li>{% include guide-setdict/dict/challenges/explain-sorted-printing.html %}</li>
    <li>{% include guide-setdict/dict/challenges/why-use-list.html %}</li>
    <li>{% include guide-setdict/dict/challenges/why-not-call-it-dict.html %}</li>
  </ol>
</div>
