<div id="s:setdict:dict:keypoints" class="keypoints">
  <ul>
    <li>Use dictionaries to store key-value pairs with distinct keys.</li>
    <li>Create dictionaries using <code>{<em>k1</em>:<em>v1</em>, <em>k2</em>:<em>v2</em>, ...}</code></li>
    <li>Dictionaries are mutable, i.e., they can be updated in place.</li>
    <li>Dictionary keys must be immutable, but values can be anything.</li>
    <li>Use tuples to store multi-part keys in dictionaries.</li>
    <li><code><em>dict</em>[<em>key</em>]</code> refers to the dictionary entry with a particular key.</li>
    <li><code><em>key</em> in <em>dict</em></code> tests whether a key is in a dictionary.</li>
    <li><code>len(<em>dict</em>)</code> returns the number of entries in a dictionary.</li>
    <li>A loop over a dictionary produces each key once, in arbitrary order.</li>
    <li><code><em>dict</em>.keys()</code> creates a list of the keys in a dictionary.</li>
    <li><code><em>dict</em>.values()</code> creates a list of the keys in a dictionary.</li>
  </ul>
</div>
