<div id="s:shell:loop:keypoints" class="keypoints">
  <ul>
    <li>Use a <code>for</code> loop to repeat commands once for every thing in a list.</li>
    <li>Every <code>for</code> loop needs a variable to refer to the current "thing".</li>
    <li>Use <code>$<em>name</em></code> to expand a variable (i.e., get its value).</li>
    <li>Do not use spaces, quotes, or wildcard characters such as '*' or '?' in filenames, as it complicates variable expansion.</li>
    <li>Give files consistent names that are easy to match with wildcard patterns to make it easy to select them for looping.</li>
    <li>Use the up-arrow key to scroll up through previous commands to edit and repeat them.</li>
    <li>Use <code>history</code> to display recent commands, and <code>!<em>number</em></code> to repeat a command by number.</li>
  </ul>
</div>
