<div id="s:shell:loop:objectives" class="objectives">
  <ul>
    <li>Write a loop that applies one or more commands separately to each file in a set of files.</li>
    <li>Trace the values taken on by a loop variable during execution of the loop.</li>
    <li>Explain the difference between a variable's name and its value.</li>
    <li>Explain why spaces and some punctuation characters shouldn't be used in files' names.</li>
    <li>Demonstrate how to see what commands have recently been executed.</li>
    <li>Re-run recently executed commands without retyping them.</li>
  </ul>
  <p>Duration: 15-20 minutes.</p>
</div>
