<div id="s:db:sort:lesson" class="lesson">

  <p>
    As we mentioned earlier,
    database records are not stored in any particular order.
    This means that query results aren't necessarily sorted,
    and even if they are,
    we often want to sort them in a different way,
    e.g., by the name of the project instead of by the name of the scientist.
    We can do this in SQL by adding an <code>order by</code> clause to our query:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select reading from Survey where quant='rad' order by reading;</pre>
      </td>
    </tr>
    <tr><td>1.46</td></tr>
    <tr><td>2.19</td></tr>
    <tr><td>4.35</td></tr>
    <tr><td>7.22</td></tr>
    <tr><td>7.8</td></tr>
    <tr><td>8.41</td></tr>
    <tr><td>9.82</td></tr>
    <tr><td>11.25</td></tr>
  </table>

  <p>
    By default,
    results are sorted in ascending order
    (i.e.,
    from least to greatest).
    We can sort in the opposite order using <code>desc</code> (for "descending"):
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select reading from Survey where quant='rad' order by reading desc;</pre>
      </td>
    </tr>
    <tr><td>11.25</td></tr>
    <tr><td>9.82</td></tr>
    <tr><td>8.41</td></tr>
    <tr><td>7.8</td></tr>
    <tr><td>7.22</td></tr>
    <tr><td>4.35</td></tr>
    <tr><td>2.19</td></tr>
    <tr><td>1.46</td></tr>
  </table>

  <p class="continue">
    (And if we want to make it clear that we're sorting in ascending order,
    we can use <code>asc</code> instead of <code>desc</code>.)
  </p>

    <p>
      We can also sort on several fields at once.
      For example,
      this query sorts results first in ascending order by <code>taken</code>,
      and then in descending order by <code>person</code>
      within each group of equal <code>taken</code> values:
    </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select taken, person from Survey order by taken asc, person desc;</pre>
      </td>
    </tr>
    <tr><td>619</td><td>dyer</td></tr>
    <tr><td>619</td><td>dyer</td></tr>
    <tr><td>622</td><td>dyer</td></tr>
    <tr><td>622</td><td>dyer</td></tr>
    <tr><td>734</td><td>pb</td></tr>
    <tr><td>734</td><td>pb</td></tr>
    <tr><td>734</td><td>lake</td></tr>
    <tr><td>735</td><td>pb</td></tr>
    <tr><td>735</td><td></td></tr>
    <tr><td>735</td><td></td></tr>
    <tr><td>751</td><td>pb</td></tr>
    <tr><td>751</td><td>pb</td></tr>
    <tr><td>751</td><td>lake</td></tr>
    <tr><td>752</td><td>roe</td></tr>
    <tr><td>752</td><td>lake</td></tr>
    <tr><td>752</td><td>lake</td></tr>
    <tr><td>752</td><td>lake</td></tr>
    <tr><td>837</td><td>roe</td></tr>
    <tr><td>837</td><td>lake</td></tr>
    <tr><td>837</td><td>lake</td></tr>
    <tr><td>844</td><td>roe</td></tr>
  </table>

  <p>
    This is easier to understand if we also remove duplicates:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select <span class="highlight">distinct</span> taken, person from Survey order by taken asc, person desc;</pre>
      </td>
    </tr>
    <tr><td>619</td><td>dyer</td></tr>
    <tr><td>622</td><td>dyer</td></tr>
    <tr><td>734</td><td>pb</td></tr>
    <tr><td>734</td><td>lake</td></tr>
    <tr><td>735</td><td>pb</td></tr>
    <tr><td>735</td><td></td></tr>
    <tr><td>751</td><td>pb</td></tr>
    <tr><td>751</td><td>lake</td></tr>
    <tr><td>752</td><td>roe</td></tr>
    <tr><td>752</td><td>lake</td></tr>
    <tr><td>837</td><td>roe</td></tr>
    <tr><td>837</td><td>lake</td></tr>
    <tr><td>844</td><td>roe</td></tr>
  </table>

  <p>
    Since sorting happens before columns are filtered,
    we can sort by a field that isn't actually displayed:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select reading from Survey where quant='rad' order by taken;</pre>
      </td>
    </tr>
    <tr><td>9.82</td></tr>
    <tr><td>7.8</td></tr>
    <tr><td>8.41</td></tr>
    <tr><td>7.22</td></tr>
    <tr><td>4.35</td></tr>
    <tr><td>2.19</td></tr>
    <tr><td>1.46</td></tr>
    <tr><td>11.25</td></tr>
  </table>

  <p>
    We can also sort results by the value of an expression.
    In SQLite,
    for example,
    the <code>random</code> function returns a pseudo-random integer
    each time it is called
    (i.e.,
    once per record):
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select random(), ident from Person;</pre>
      </td>
    </tr>
    <tr><td>-6309766557809954936</td><td>dyer</td></tr>
    <tr><td>-2098461436941487136</td><td>pb</td></tr>
    <tr><td>-2248225962969032314</td><td>lake</td></tr>
    <tr><td>6062184424509295966</td><td>roe</td></tr>
    <tr><td>-1268956870222271271</td><td>danforth</td></tr>
  </table>

  <p class="continue">
    So to randomize the order of our query results,
    e.g., when doing clinical trials,
    we can sort them by the value of this function:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select ident from Person order by random();</pre>
      </td>
    </tr>
    <tr><td>danforth</td></tr>
    <tr><td>pb</td></tr>
    <tr><td>dyer</td></tr>
    <tr><td>lake</td></tr>
    <tr><td>roe</td></tr>
    <tr>
      <td colspan="1">
<pre>select ident from Person order by random();</pre>
      </td>
    </tr>
    <tr><td>roe</td></tr>
    <tr><td>dyer</td></tr>
    <tr><td>pb</td></tr>
    <tr><td>lake</td></tr>
    <tr><td>danforth</td></tr>
  </table>

  <p>
    Our query pipeline now has four stages
    (<a href="#f:pipeline_sort_distinct">Figure 5</a>):
  </p>

  <ol>
    <li>Select the rows that pass the <code>where</code> criteria.</li>
    <li>Sort them if required.</li>
    <li>Filter the columns according to the <code>select</code> criteria.</li>
    <li>Remove duplicates if required.</li>
  </ol>

  <figure id="f:pipeline_sort_distinct">
    <img src="db/pipeline_sort_distinct.png" alt="Four-Stage Query Processing Pipeline" />
    <figcaption>Figure 5: Four-Stage Query Processing Pipeline</figcaption>
  </figure>

</div>
