<div id="s:invperc:assembly:lesson" class="lesson">

  <p>
    We now know how to create a grid,
    fill it with random numbers,
    mark cells that have been filled,
    find cells that might be filled next,
    and choose one of them at random.
    It's time to put all this together to create a complete program.
  </p>

  <p>
    We will assemble the code in exactly the order we would write it
    (in fact,
    in the order in which it <em>was</em> written,
    because everything so far has actually been
    a rational reconstruction assembled after the code was actually working).
    We'll start at the top and work down,
    introducing functions and variables as we need them,
    and tidy up a little bit along the way.
    Here's what we write first:
  </p>

<pre>
'''Invasion percolation simulation.
usage: invperc.py grid_size value_range random_seed
'''
import sys, random

# Main driver.
if __name__ == '__main__':
    main(sys.argv[1:])
</pre>

  <p>
    We start with a <a href="glossary.html#docstring">docstring</a>
    to remind ourselves of what this program does.
    We then import the libraries we need and call a <code>main</code> function,
    passing in all of the command-line arguments except the first
    (which is the name of our script).
    That function starts like this:
  </p>

<pre>
    # Parse parameters.
    arguments = sys.argv[1:]
    try:
        grid_size = int(arguments[0])
        value_range = int(arguments[1])
        random_seed = int(arguments[2])
    except IndexError:
        fail('Expected 3 arguments, got %d' % len(arguments))
    except ValueError:
        fail('Expected int arguments, got %s' % str(arguments))
</pre>

  <p class="continue">
    This code converts the first three values in <code>arguments</code> to integers
    and assign them to <code>grid_size</code>, <code>value_range</code>, and <code>random_seed</code>.
    If we get an <code>IndexError</code>,
    it means that one of the indices 0, 1, or 2 wasn't valid,
    so we don't have enough arguments.
    If we get a <code>ValueError</code>,
    it means that one of our attempts to convert a string to an integer failed,
    so again we print an error message.
  </p>

  <p>
    We have used a function called <code>fail</code> to report errors.
    This doesn't exist yet,
    so we should go and write it:
  </p>

<pre>
def fail(msg):
    '''Print error message and halt program.'''
    print &gt;&gt; sys.stderr, msg
    sys.exit(1)
</pre>

  <p>
    We give the function a docstring because every function should have one.
    Inside the function,
    we print the message to standard error so that it will appear on the user's console,
    then exit.
    <a href="#f:structure_a">Figure 8</a> shows
    the structure of the program so far:
    a documentation string,
    our <code>fail</code> function,
    and the main driver of our program.
  </p>

  <figure id="f:structure_a">
    <img src="dev/structure_a.png" alt="Program Structure (A)" />
    <figcaption>Figure 8: Program Structure (A)</figcaption>
  </figure>

  <p>
    The next step in <code>main</code> is to actually run the simulation.
    We do that by seeding the random number generator,
    creating a random grid,
    marking the center cell as filled,
    and then filling the rest of the grid:
  </p>

<pre>
    # Run simulation.
    random.seed(random_seed)
    grid = create_random_grid(grid_size, value_range)
    mark_filled(grid, grid_size/2, grid_size/2)
    fill_grid(grid) + 1
</pre>

  <p>
    This code uses three functions that don't exist yet,
    so we will have to go back and write them.
    Before doing that, though,
    let's finish off the main body of the program.
    The last task we have is to report results,
    but we haven't actually decided what to do about this:
    nothing in our specification told us whether we were supposed to draw the fractal,
    calculate some statistics,
    or do something else entirely.
    For now, we'll just print the number of cells we have filled in:
  </p>

<pre src="src/dev/invperc_initial.py">
    # Run simulation.
    random.seed(random_seed)
    grid = create_random_grid(grid_size, value_range)
    mark_filled(grid, grid_size/2, grid_size/2)
    <span class="highlight">num_filled_cells =</span> fill_grid(grid) + 1
    <span class="highlight">print '%d cells filled' % num_filled_cells</span>
</pre>

  <p>
    We have changed <code>fill_grid</code> so that it returns the number of cells it filled in,
    which we then print.
    Note that we have to add one to the value returned by <code>fill_grid</code>
    because we marked the center cell as being filled manually.
    This is a little bit clumsy:
    someone who hasn't read our code carefully might reasonably think that <code>fill_grid</code> returns
    the total number of cells that are filled, not one less than that.
    We should go back and tidy that up later.
  </p>

  <p>
    Here's the function to create a random grid,
    reproduced from earlier:
  </p>

<pre>
def create_random_grid(N, Z):
    '''Return an NxN grid of random values in 1..Z.
    Assumes the RNG has already been seeded.'''

    assert N &gt; 0, 'Grid size must be positive'
    assert N%2 == 1, 'Grid size must be odd'
    assert Z &gt; 0, 'Random range must be positive'
    grid = []
    for x in range(N):
        grid.append([])
        for y in range(N):
            grid[-1].append(random.randint(1, Z))
    return grid
</pre>

  <p class="continue">
    It checks that the parameters it's been passed make sense,
    then it builds a list of lists of random values.
    It assumes that the random number generator has already been seeded,
    i.e., it is not going to seed the random number generator itself.
    <a href="#f:structure_b">Figure 9</a> shows
    where we put this function in our program file.
  </p>

  <figure id="f:structure_b">
    <img src="dev/structure_b.png" alt="Program Structure (B)" />
    <figcaption>Figure 9: Program Structure (B)</figcaption>
  </figure>

  <p>
    Next is <code>mark_filled</code>,
    which,
    as its name suggests,
    marks a grid cell as being filled:
  </p>

<pre>
def mark_filled(grid, x, y):
    '''Mark a grid cell as filled.'''

    assert 0 &lt;= x &lt; len(grid), \
           'X coordinate out of range (%d vs %d)' % \
           (x, len(grid))
    assert 0 &lt;= y &lt; len(grid), \
           'Y coordinate out of range (%d vs %d)' % \
           (y, len(grid))

    grid[x][y] = -1
</pre>

  <p class="continue">
    We use assertions to test that the X and Y coordinates we've been given are actually in bounds.
    You might think we don't need this code,
    because if the X or Y coordinate is out of bounds,
    Python will fail and print its own error message,
    but there are three reasons to put these assertions in:
  </p>

  <ol>

    <li>
      The assertions tell readers what we expect of X and Y.
    </li>

    <li>
      These error messages are more meaningful that Python's generic "IndexError: index out of range" message.
    </li>

    <li>
      Negative values of X and Y won't actually cause exceptions:
      they'll <a href="python.html#a:negative">index backward from the ends of the lists</a>.
    </li>

  </ol>

  <p>
    The last line in this function assigns -1 to <code>grid[x][y]</code>.
    We're using -1 to indicate filled cells,
    but we don't know if people are going to remember that when they're reading our code:
    if you say "grid at X, Y assigned -1", it's not immediately clear what you're doing.
    So let's make a small change right now:
    near the top of our program we'll create a variable called <code>FILLED</code>,
    and give it the value -1,
    so that in our function we can say "grid at X, Y is assigned FILLED":
  </p>

<pre>
FILLED = -1

...other functions...

def mark_filled(grid, x, y):
    ...body of function...
    grid[x][y] = FILLED
</pre>

  <p class="continue">
    <code>FILLED</code> is written in capital letters because we think of it as a constant,
    and as mentioned in the <a href="python.html#a:constants">discussion of Python</a>,
    constants are normally written in all caps.
    Putting constants at the top of the file is also a (strong) convention.
  </p>

  <p>
    The next function in our to-do list is <code>fill_grid</code>.
    The docstring says that it fills an N&times;N grid until the filled region hits the boundary,
    and that it assumes that the center cell has been filled before it is called:
  </p>

<pre>
def fill_grid(grid):
    '''Fill an NxN grid until filled region hits boundary.'''

    N = len(grid)
    num_filled = 0
    while True:
        candidates = find_candidates(grid)
        assert candidates, 'No fillable cells found!'
        x, y = random.choice(list(candidates))
        mark_filled(grid, x, y)
        num_filled += 1
        if x in (0, N-1) or y in (0, N-1):
            break

    return num_filled
</pre>

  <p>
    We begin by setting up <code>N</code> and <code>num_filled</code>,
    which are the grid size and the number of cells that this function has filled so far
    We then go into a seemingly-infinite loop,
    at the bottom of which we test to see if we're done,
    and if so,
    break out.
    We could equally well do something like this:
  </p>

<pre>
    <span class="highlight">filling = True</span>
    while <span class="highlight">filling</span>:
        ...
        if x in (0, N-1) or y in (0, N-1):
            <span class="highlight">filling = False</span>
</pre>

  <p>
    However we control filling,
    we use another function called <code>find_candidates</code>
    to find the set of cells that we might fill.
    This function hasn't been written yet,
    so we add it to our to-do list.
    We then check that the set of candidates it has found has something in it,
    because if we haven't found any candidates for filling,
    something has probably gone wrong with our program.
    And then,
    as discussed <a href="#s:random">earlier</a>,
    we make a random choice to choose the cell we're going to fill,
    then mark it and increment our count of filled cells.
    <a href="#f:structure_c">Figure 10</a> shows
    where this function fits in the file.
  </p>

  <figure id="f:structure_c">
    <img src="dev/structure_c.png" alt="Program Structure (C)" />
    <figcaption>Figure 10: Program Structure (C)</figcaption>
  </figure>

  <p>
    <code>find_candidates</code> is next on our to-do list:
  </p>

<pre>
def find_candidates(grid):
    '''Find low-valued neighbor cells.'''

    N = len(grid)
    min_val = sys.maxint
    min_set = set()
    for x in range(N):
        for y in range(N):
            if (x &gt; 0) and (grid[x-1][y] == FILLED) \
            or (x &lt; N-1) and (grid[x+1][y] == FILLED) \
            or (y &gt; 0) and (grid[x][y+1] == FILLED) \
            or (y &lt; N-1) and (grid[x][y+1] == FILLED):
                ...let's stop right there...
</pre>

  <p>
    We're going to stop right there because this code is already hard to read
    and we haven't even finished it.
    In fact,
    it contains a bug&mdash;one of those <code>y+1</code>'s should be a <code>y-1</code>&mdash;but
    you probably didn't notice that because there was too much code to read at once.
  </p>

  <p>
    A good rule of thumb is, "Listen to your code as you write it."
    If the code is difficult to understand when read aloud,
    then it's probably going to be difficult to understand when you're debugging,
    so you should try to simplify it.
    This version of <code>find_candidates</code> introduces
    a helper function called <code>is_candidate</code>:
  </p>

<pre>
def find_candidates(grid):
    '''Find low-valued neighbor cells.'''
    N = len(grid)
    min_val = sys.maxint
    min_set = set()
    for x in range(N):
        for y in range(N):
            if is_candidate(grid, x, y):
                ...now we're talking...
</pre>

  <p>
    Let's finish the function
    by adding the code we figured out earlier:
  </p>

<pre>
                if is_candidate(grid, x, y):
                    # Has current lowest value.
                    if grid[x][y] == min_val:
                        min_set.add((x, y))
                    # New lowest value.
                    elif grid[x][y] &lt; min_val:
                        min_val = grid[x][y]
                        min_set = set([(x, y)])
</pre>

<figure id="f:structure_d">
  <img src="dev/structure_d.png" alt="Program Structure (D)" />
  <figcaption>Figure 11: Program Structure (D)</figcaption>
</figure>

  <p>
    As <a href="#f:structure_d">Figure 11</a> shows,
    the <code>find_candidates</code> function fits right above <code>fill_grid</code> in our file.
    We can then insert the <code>is_candidate</code> function we wrote in the previous section
    right above <code>find_candidates</code>
    and write it:
  </p>

<pre>
def is_candidate(grid, x, y):
    '''Is a cell a candidate for filling?'''

    return (x &gt; 0) and (grid[x-1][y] == FILLED) \
        or (x &lt; N-1) and (grid[x+1][y] == FILLED) \
        or (y &gt; 0) and (grid[x][y-1] == FILLED) \
        or (y &lt; N-1) and (grid[x][y+1] == FILLED)
</pre>

  <p>
    There are no functions left on our to-do list,
    so it's time to run our program&mdash;except it's not.
    It's actually time to <em>test</em> our program,
    because there's a bug lurking in the code that we just put together.
    Take a moment,
    read over the final code,
    and try to find it
    before moving on to the next section.
  </p>

</div>
