<div id="s:setdict:nanotech:lesson" class="lesson">

  <p>
    We can now solve Fan's original nanotech inventory problem.
    As explained in the introduction,
    our goal is to find out how many molecules of various kinds we can make using the atoms in our warehouse.
    The number of molecules of any particular type we can make
    is limited by the scarcest atom that molecule requires.
    For example,
    if we have five nitrogen atoms and ten hydrogen atoms,
    we can only make three ammonia molecules,
    because we need three hydrogen atoms for each.
  </p>

  <p>
    The formulas for the molecules we know how to make
    are stored in a file like this:
  </p>

<pre>
# Molecular formula file

helium : He 1
water : H 2 O 1
hydrogen : H 2
</pre>

  <p class="continue">
    and our inventory is stored in a file like this:
  </p>

<pre>
# Atom inventory file

He 1
H 4
O 3
</pre>

  <p>
    Let's start by reading in our inventory.
    It consists of pairs of strings and numbers,
    which by now should suggest using a dictionary for storage.
    The keys will be atomic symbols,
    and the values will be the number of atoms of that kind we currently have
    (<a href="#f:nanotech_inventory">Figure 6</a>).
    If an atom isn't listed in our inventory,
    we'll assume that we don't have any.
  </p>

  <figure id="f:nanotech_inventory">
    <img src="setdict/nanotech_inventory.png" alt="Nanotech Inventory" />
    <figcaption>Figure 6: Nanotech Inventory</figcaption>
  </figure>

  <p>
    What about the formulas for the molecules we know how to make?
    Once again,
    we want to use strings&mdash;the names of molecules&mdash;as indices,
    which suggests a dictionary.
    Each of its values will be something storing
    atomic symbols and the number of atoms of that type in the molecule&mdash;the same structure,
    in fact,
    that we're using for our inventory.
    <a href="#f:nanotech_formulas">Figure 7</a> shows
    what this looks like in memory
    if the only molecules we know how to make are water and ammonia.
  </p>

  <figure id="f:nanotech_formulas">
    <img src="setdict/nanotech_formulas.png" alt="Storing Formulas" />
    <figcaption>Figure 7: Storing Formulas</figcaption>
  </figure>

  <p>
    Finally,
    we'll store the results of our calculation in yet another dictionary,
    this one mapping the names of molecules to how many molecules of that kind we can make
    (<a href="#f:nanotech_results">Figure 8</a>).
  </p>

  <figure id="f:nanotech_results">
    <img src="setdict/nanotech_results.png" alt="Nanotech Results" />
    <figcaption>Figure 8: Nanotech Results</figcaption>
  </figure>

  <p>
    The main body of the program is straightforward:
    it reads in the input files,
    does our calculation,
    and prints the result:
  </p>

<pre>
def main(inventory_file, formula_file):
    inventory = read_inventory(inventory_file)
    formulas = read_formulas(formula_file)
    counts = calculate_counts(inventory, formulas)
    show_counts(counts)
</pre>

  <p>
    Reading the inventory file is simple.
    We take each interesting line in the file,
    split it to get an atomic symbol and a count,
    and store them together in a dictionary:
  </p>

<pre>
def read_inventory(inventory_file):
    result = {}
    with open(inventory_file, 'r') as reader:
        for line in reader:
            name, count = line.strip().split()
            result[name] = int(count)
    return result
</pre>

  <p>
    Let's test it:
  </p>

<pre>
print read_inventory('inventory-03.txt')
<span class="err">ValueError                                Traceback (most recent call last)
<ipython-input-9-c05b7b912bfb> in <module>()
----> 1 print read_inventory('inventory-03.txt')

<ipython-input-8-d5dd028eb45b> in read_inventory(inventory_file)
      3     with open(inventory_file, 'r') as reader:
      4         for line in reader:
----> 5             name, count = line.strip().split()
      6             result[name] = int(count)
      7     return result

ValueError: too many values to unpack</span>
</pre>

  <p>
    Our mistake was to forget that files can contain blank lines and comments.
    It's easy enough to modify the function to handle them,
    though it complicates the logic:
  </p>

<pre>
def read_inventory(inventory_file):
    result = {}
    with open(inventory_file, 'r') as reader:
        for line in reader:
            line = line.strip()
            if (not line) or line.startswith('#'):
                continue
            name, count = line.split()
            result[name] = int(count)
    return result

print read_inventory('inventory-03.txt')
<span class="out">{'H': 4, 'O': 3, 'He': 1}</span>
</pre>

  <p>
    The next step is to read the files containing formulas.
    Since the file format is more complicated,
    the function is as well.
    In fact,
    it's complicated enough that we'll come back later and simplify it.
  </p>

<pre>
def read_formulas(formula_file):
    result = {}
    with open(formula_file, 'r') as reader:
        for line in reader:
            line = line.strip()
            if (not line) or line.startswith('#'):
                continue
            name, atoms = line.split(':')
            name = name.strip()
            atoms = atoms.strip().split()
    
            formula = {}
            for i in range(0, len(atoms), 2):
                symbol = atoms[i].strip()
                count = int(atoms[i+1])
                formula[symbol] = count
            result[name] = formula

    return result
</pre>

  <p class="continue">
    We start by creating a dictionary to hold our results.
    We then split each interesting line in the data file on the colon ':'
    to separate the molecule's name (which may contain spaces) from its formula.
    We then split the formulas into a list of strings.
    These alternate between atomic symbols and numbers,
    so in the inner loop,
    we move forward through those values two elements at a time,
    storing the atomic symbol and count in a dictionary.
    Once we're done,
    we store that dictionary as the value for the molecule name in the main dictionary.
    When we've processed all the lines,
    we return the final result.
    Here's a simple test:
  </p>

<pre>
print read_formulas('formulas-03.txt')
<span class="out">{'water': {'H': 2, 'O': 1}, 'hydrogen': {'H': 2}, 'helium': {'He': 1}}</span>
</pre>

  <p>
    Now that we have all our data,
    it's time to calculate how many molecules of each kind we can make.
    <code>inventory</code> maps atomic symbols to counts,
    and so does <code>formulas[name]</code>,
    so let's loop over all the molecules we know how to make
    and "divide" the inventory by each one:
  </p>

<pre>
def calculate_counts(inventory, formulas):
    '''Calculate how many of each molecule can be made with inventory.'''

    counts = {}
    for name in formulas:
        counts[name] = dict_divide(inventory, formulas[name])

    return counts
</pre>

  <p class="continue">
    We say we're "dividing" the inventory by each molecule
    because we're trying to find out how many of that molecule we can make
    without requiring more of any particular atom than we actually have.
    (By analogy,
    when we divide 11 by 3,
    we're trying to find out how many 3's we can make from 11.)
    The function that does the division is:
  </p>

<pre>
def dict_divide(inventory, molecule):
    number = None
    for atom in molecule:
        required = molecule[atom]
        available = inventory.get(atom, 0)
        limit = available / required
        if (number is None) or (limit &lt; number):
            number = limit

    return number
</pre>

  <p class="continue">
    This function loops over all the atoms in the molecule we're trying to build,
    see what limit the available inventory puts on us,
    and return the minimum of all those results.
    This function uses a few patterns that come up frequently in many kinds of programs:
  </p>

  <ol>

    <li>
      The first pattern is to initialize the value we're going to return to <code>None</code>,
      then test for that value inside the loop
      to make sure we re-set it to a legal value the first time we have real data.
      In this case, we could just as easily use -1
      or some other impossible value as an "uninitialized" flag for <code>number</code>.
    </li>

    <li>
      Since we're looping over the keys of <code>molecule</code>,
      we know that we can get the value stored in <code>molecule[atom]</code>.
      However, that atom might not be a key in <code>inventory</code>,
      so we use <code>inventory.get(atom, 0)</code> to get either the stored value or a sensible default.
      In this case zero, the sensible default is 0,
      because if the atom's symbol isn't in the dictionary, we don't have any of it.
      This is our second pattern.
    </li>

    <li>
      The third is using calculate, test, and store to find a single value&mdash;in this case, the minimum&mdash;from
      a set of calculated values.
      We could calculate the list of available over required values,
      then find the minimum of the list,
      but doing the minimum test as we go along saves us having to store the list of intermediate values.
      It's probably not a noticeable time saving in this case,
      but it would be with larger data sets.
    </li>

  </ol>

  <p>
    The last step in building our program is to show how many molecules of each kind we can make.
    We could just loop over our result dictionary,
    printing each molecule's name and the number of times we could make it,
    but let's put the results in alphabetical order
    to make it easier to read:
  </p>

<pre>
def show_counts(counts):
    names = counts.keys()
    names.sort()
    for name in names:
        print name, counts[name]
</pre>

  <p>
    It's time to test our code.
    Let's start by using an empty inventory and a single formula:
  </p>

  <table>
    <tr>
      <th>
        Inventory
      </th>
      <th>
        Formulas
      </th>
      <th>
        Output
      </th>
    </tr>
    <tr>
      <td>
<pre>
# inventory-00.txt
</pre>
      </td>
      <td>
<pre>
# formulas-00.txt
</pre>
      </td>
      <td>
<pre>
</pre>
      </td>
    </tr>
  </table>

  <p class="continue">
    There's no output, which is what we expect.
    Let's add a formula but no atoms:
  </p>

  <table>
    <tr>
      <th>
        Inventory
      </th>
      <th>
        Formulas
      </th>
      <th>
        Output
      </th>
    </tr>
    <tr>
      <td>
<pre>
# inventory-00.txt
</pre>
      </td>
      <td>
<pre>
# formulas-01.txt
helium : He 1
</pre>
      </td>
      <td>
<pre>
helium 0
</pre>
      </td>
    </tr>
  </table>

  <p class="continue">
    and now an atom:
  </p>

  <table>
    <tr>
      <th>
        Inventory
      </th>
      <th>
        Formulas
      </th>
      <th>
        Output
      </th>
    </tr>
    <tr>
      <td>
<pre>
# inventory-01.txt
He 1
</pre>
      </td>
      <td>
<pre>
# formulas-01.txt
helium : He 1
</pre>
      </td>
      <td>
<pre>
helium 1
</pre>
      </td>
    </tr>
  </table>

  <p class="continue">
    That seems right as well.
    Let's add some hydrogen and another formula:
  </p>

  <table>
    <tr>
      <th>
        Inventory
      </th>
      <th>
        Formulas
      </th>
      <th>
        Output
      </th>
    </tr>
    <tr>
      <td>
<pre>
# inventory-02.txt
He 1
H 4
</pre>
      </td>
      <td>
<pre>
# formulas-01.txt
helium : He 1
water : H 2 O 1
</pre>
      </td>
      <td>
<pre>
helium 1
water 0
</pre>
      </td>
    </tr>
  </table>

  <p class="continue">
    The output doesn't change, which is correct.
    Our final test adds some oxygen:
  </p>

  <table>
    <tr>
      <th>
        Inventory
      </th>
      <th>
        Formulas
      </th>
      <th>
        Output
      </th>
    </tr>
    <tr>
      <td>
<pre>
# inventory-03.txt
He 1
H 4
O 3
</pre>
      </td>
      <td>
<pre>
# formulas-03.txt
helium : He 1
water: H 2 O 1
hydrogen : H 2
</pre>
      </td>
      <td>
<pre>
helium 1
water 2
</pre>
      </td>
    </tr>
  </table>

  <p class="continue">
    That's right too:
    we can make two water molecules
    (because we don't have enough hydrogen to pair with our three oxygen atoms).
  </p>

  <div class="box">
    <h3>Refactoring</h3>

    <p>
      There are quite a few other interesting tests still to run,
      but before we do that,
      we should clean up our code.
      Both of our input functions handle comments and blank lines the same way;
      let's put that code in a helper function:
    </p>

<pre>
def readlines(filename):
    result = []
    with open(filename, 'r') as reader:
        for line in reader:
            line = line.strip()
            if line and (not line.startswith('#')):
                result.append(line)
    return result
</pre>

    <p>
      If we convert <code>read_inventory</code> to use it,
      the result is six lines long instead of ten.
      More importantly,
      the logic of what we're doing is much clearer:
    </p>

<pre>
def read_inventory(inventory_file):
    result = {}
    for line in readlines(inventory_file):
        name, count = line.split()
        result[name] = int(count)
    return result
</pre>

    <p>
      The converted version of <code>read_formulas</code>
      is 15 lines instead of 19:
    </p>

<pre>
def read_formulas(formula_file):
    result = {}
    for line in readlines(formula_file):
        name, atoms = line.split(':')
        name = name.strip()
        atoms = atoms.strip().split()

        formula = {}
        for i in range(0, len(atoms), 2):
            symbol = atoms[i].strip()
            count = int(atoms[i+1])
            formula[symbol] = count
        result[name] = formula

    return result
</pre>

    <p class="continue">
      but we can do better still
      by putting the code that handles atom/count pairs
      in a helper function of its own:
    </p>

<pre>
def read_formulas(formula_file):
    result = {}
    for line in readlines(formula_file):
        name, atoms = line.split(':')
        name = name.strip()
        result[name] = make_formula(atoms)
    return result

def make_formula(atoms):
    formula = {}
    atoms = atoms.strip().split()
    for i in range(0, len(atoms), 2):
        symbol = atoms[i].strip()
        count = int(atoms[i+1])
        formula[symbol] = count
    return formula
</pre>

    <p>
      This change has actually made the code slightly longer,
      but each function now does one small job,
      and as a bonus,
      the code in <code>make_formula</code>
      (which is moderately complex)
      can now be tested on its own.
    </p>
  </div>

</div>
