---
layout: lesson
root: ../..
title: Instructor's Guide for Basic Python Using IPythonBlocks
order: ["basic", "types", "lib"]
---
<section>
  <h2>Opening</h2>
  {% include guide-pyblocks/opening.html %}
</section>

<section id="s:pyblocks:basic">
  <h2>{% include guide-pyblocks/basic/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-pyblocks/basic/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-pyblocks/basic/lesson.html %}
  <h3>Summary</h3>
  {% include guide-pyblocks/basic/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-pyblocks/basic/challenges.html %}
</section>

<section id="s:pyblocks:types">
  <h2>{% include guide-pyblocks/types/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-pyblocks/types/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-pyblocks/types/lesson.html %}
  <h3>Summary</h3>
  {% include guide-pyblocks/types/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-pyblocks/types/challenges.html %}
</section>

<section id="s:pyblocks:lib">
  <h2>{% include guide-pyblocks/lib/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-pyblocks/lib/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-pyblocks/lib/lesson.html %}
  <h3>Summary</h3>
  {% include guide-pyblocks/lib/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-pyblocks/lib/challenges.html %}
</section>
