<div class="lesson" id="s:db:distinct:lesson">

  <p>
    Data is often redundant,
    so queries often return redundant information.
    For example,
    if we select the quantitites that have been measured
    from the <code>survey</code> table,
    we get this:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select quant from Survey;</pre>
      </td>
    </tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>temp</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>temp</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>temp</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>temp</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>rad</td></tr>
  </table>

  <p>
    We can eliminate the redundant output
    to make the result more readable
    by adding the <code>distinct</code> keyword
    to our query:
  </p>

  <table class="db">
    <tr>
      <td colspan="1">
<pre>select distinct quant from Survey;</pre>
      </td>
    </tr>
    <tr><td>rad</td></tr>
    <tr><td>sal</td></tr>
    <tr><td>temp</td></tr>
  </table>

  <p>
    If we select more than one column&mdash;for example,
    both the survey site ID and the quantity measured&mdash;then
    the distinct pairs of values are returned:
  </p>

  <table class="db">
    <tr>
      <td colspan="2">
<pre>select distinct taken, quant from Survey;</pre>
      </td>
    </tr>
    <tr><td>619</td><td>rad</td></tr>
    <tr><td>619</td><td>sal</td></tr>
    <tr><td>622</td><td>rad</td></tr>
    <tr><td>622</td><td>sal</td></tr>
    <tr><td>734</td><td>rad</td></tr>
    <tr><td>734</td><td>sal</td></tr>
    <tr><td>734</td><td>temp</td></tr>
    <tr><td>735</td><td>rad</td></tr>
    <tr><td>735</td><td>sal</td></tr>
    <tr><td>735</td><td>temp</td></tr>
    <tr><td>751</td><td>rad</td></tr>
    <tr><td>751</td><td>temp</td></tr>
    <tr><td>751</td><td>sal</td></tr>
    <tr><td>752</td><td>rad</td></tr>
    <tr><td>752</td><td>sal</td></tr>
    <tr><td>752</td><td>temp</td></tr>
    <tr><td>837</td><td>rad</td></tr>
    <tr><td>837</td><td>sal</td></tr>
    <tr><td>844</td><td>rad</td></tr>
  </table>

  <p>
    Notice in both cases that duplicates are removed
    even if they didn't appear to be adjacent in the database.
    Again,
    it's important to remember that rows aren't actually ordered:
    they're just displayed that way.
  </p>

</div>
