<div id="s:web:http:lesson" class="lesson">

  <p>
    Now that we know how to read and write the web's most common data format,
    it's time to look at how data is moved around on the web.
    Broadly speaking,
    web applications are built in one of two ways.
    In a <a href="glossary.html#client-server-architecture">client/server architecture</a>
    many <a href="glossary.html#client">clients</a>
    communicate with a central <a href="glossary.html#server">server</a>
    (<a href="#f:client_server">Figure XXX</a>).
    This model is asymmetric:
    clients ask for things,
    and servers provide them.
    Web browsers and web servers like Firefox and Apache are the best-known example of this model,
    but many <a href="db.html#a:dbms">database management systems</a>
    also use a client/server architecture.
  </p>

  <figure id="f:client_server">
    <img src="web/client_server.png" alt="Client-Server Architecture" />
    <figcaption>Figure XXX: Client-Server Architecture</figcaption>
  </figure>

  <p>
    In contrast,
    a <a href="glossary.html#peer-to-peer-architecture">peer-to-peer architecture</a>
    is one in which all processes exchange information equally
    (<a href="#f:peer_to_peer">Figure XXX</a>).
    This is symmetric:
    every participant both provides and receives data.
    The most widely used example today is probably BitTorrent,
    but again,
    there are many others.
    Peer-to-peer systems are generally harder to design than client-server systems,
    but they are also more resilient:
    if a centralized web server fails,
    the whole system goes down,
    while if one node in a filesharing network goes down,
    the rest can (usually) carry on.
  </p>

  <figure id="f:peer_to_peer">
    <img src="web/peer_to_peer.png" alt="Peer-to-Peer Architecture" />
    <figcaption>Peer-to-Peer Architecture</figcaption>
  </figure>

  <p>
    Under the hood,
    both kinds of systems
    (and pretty much every other program that uses the network)
    run on a family of communication standards called
    <a href="glossary.html#internet-protocol">Internet Protocol</a> (IP).
    IP breaks messages down into small <a href="glossary.html#packet">packets</a>,
    each of which is forwarded from one machine to another
    along any available route to its destination,
    where the whole message is reassembled
    (<a href="#f:packets">Figure XXX</a>).
  </p>

  <figure id="f:packets">
    <img src="web/packets.png" alt="Packet-Based Communication" />
    <figcaption>Figure XXX: Packet-Based Communication</figcaption>
  </figure>

  <p>
    The only part of IP that concerns us is
    the <a href="glossary.html#tcp">Transmission Control Protocol</a> (TCP/IP).
    It guarantees that every packet we send is received,
    and that packets are received in the right order.
    Putting it another way,
    it turns an unreliable stream of disordered packets
    into a reliable, ordered stream of data,
    so that communication between computers looks as much as possible
    like reading and writing files.
    (<a href="#f:streams">Figure XXX</a>).
  </p>

  <figure id="f:streams">
    <img src="web/streams.png" alt="Building Streams Out of Packets" />
    <figcaption>Figure XXX: Building Streams Out of Packets</figcaption>
  </figure>

  <p>
    Programs using IP communicate through <a href="glossary.html#socket">sockets</a>.
    Each socket is one end of a point-to-point communication channel,
    just like a phone is one end of a phone call.
    A socket is identified by two numbers.
    The first is its <a href="glossary.html#host-address">host address</a>
    or <a href="glossary.html#ip-address">IP address</a>,
    which identifies a particular machine on the network.
    This address consists of four 8-bit numbers,
    such as <code>208.113.154.118</code>.
    The <a href="glossary.html#dns">Domain Name System</a> (DNS)
    matches these numbers to symbolic names like <code>software-carpentry.org</code>
    that are easier for human beings to remember.
    We can use tools like <code>nslookup</code> to query DNS directly:
  </p>

<pre>
$ <span class="in">nslookup software-carpentry.org</span>
<span class="out">Server:  admin1.private.tor1.mozilla.com
Address:  10.242.75.5

Non-authoritative answer:
Name:    software-carpentry.org
Address:  173.236.199.157</span>
</pre>

  <p>
    A socket's <a href="glossary.html#port">port number</a>
    is just a number in the range 0-65535
    that uniquely identifies the socket on the host machine.
    (If the IP address is like a university's phone number,
    then the port number is the extension.)
    Ports 0-1023 are reserved for the operating system's use;
    anyone else can use the remaining ports
    (<a href="#f:ports">Figure XXX</a>).
  </p>

  <figure id="f:ports">
    <img src="web/ports.png" alt="Ports"/>
    <figcaption>Figure XXX: Ports</figcaption>
  </figure>

  <p>
    The <a href="glossary.html#http">Hypertext Transfer Protocol</a> (HTTP)
    sits on top of TCP/IP.
    It describes one way that programs can exchange web pages and other data,
    such as image files.
    The communicating parties were originally web browsers and web servers,
    but HTTP is now used by many other kinds of applications as well.
  </p>

  <p>
    In principle,
    HTTP is simple:
    the client sends a request specifying what it wants over a socket connection,
    and the server sends some data in response.
    The data may be HTML copied from a file on disk,
    a similar page generated dynamically by a program,
    an image,
    or just about anything else
    (<a href="#f:http_cycle">Figure XXX</a>).
  </p>

  <figure id="f:http_cycle">
    <img src="web/http_cycle.png" alt="HTTP Request Cycle"/>
    <figcaption>Figure XXX: HTTP Request Cycle</figcaption>
  </figure>

  <div class="box">
    <h3>The Internet vs. the Web</h3>

    <p>
      A lot of people use the terms "Internet" and "World Wide Web" synonymously,
      but they're actually very different things.
      The Internet is what lets (almost) any computer communicate with (almost) any other.
      That communication can be email,
      File Transfer Protocol (FTP),
      streaming video,
      or any of a hundred other things.
      The World Wide Web,
      on the other hand,
      is just one particular way to share data on top of
      the network that the Internet provides.
    </p>

  </div>

  <p>
    An HTTP request has three parts
    (<a href="#f:http_request">Figure XXX</a>).
    The HTTP method is almost always either
    <a href="glossary.html#http-get"><code>"GET"</code></a>
    (to fetch information)
    or
    <a href="glossary.html#http-post"><code>"POST"</code></a>
    (to submit form data or upload files).
    The URL specifies what the client wants;
    it may be a path to a file on disk,
    such as <code>/research/experiments.html</code>,
    but it's entirely up to the server to decide what to send back.
    The HTTP version is usually <code>"HTTP/1.0"</code> or <code>"HTTP/1.1"</code>;
    the differences between the two don't matter to us.
  </p>

  <figure id="f:http_request">
    <img src="web/http_request.png" alt="HTTP Request"/>
    <figcaption>Figure XXX: HTTP Request</figcaption>
  </figure>

  <p>
    An <a href="glossary.html#http-header">HTTP header</a> is a key/value pair,
    such as the three shown below:
  </p>

<pre>
Accept: text/html
Accept-Language: en, fr
If-Modified-Since: 16-May-2005
</pre>

  <p class="continue">
    A key may appear any number of times,
    so that (for example)
    a request can specify that it's willing to accept several types of content.
  </p>

  <p>
    The body is any extra data associated with the request.
    This is used when submitting data via web forms,
    when uploading files,
    and so on.
    There <em>must</em> be a blank line between the last header and the start of the body
    to signal the end of the headers;
    forgetting it is a common mistake.
  </p>

  <p>
    One header,
    called <code>Content-Length</code>,
    tells the server how many bytes to expect to read in the body of the request.
    There's no magic in any of this:
    an HTTP request is just text,
    and any program that wants to can create one or parse one.
  </p>

  <figure id="f:http_response">
    <img src="web/http_response.png" alt="HTTP Response"/>
    <figcaption>Figure XXX: HTTP REsponse</figcaption>
  </figure>

  <p>
    HTTP responses are formatted like HTTP requests
    (<a href="#f:http_response">Figure XXX</a>).
    The version, headers, and body have the same form
    and mean the same thing.
    The status code is a number indicating what happened
    when the request was processed by the server.
    200 means "everything worked",
    404 means "not found",
    and other codes have other meanings
    (<a href="#f:http_codes">Figure XXX</a>).
    The status phrase repeats that information in a human-readable phrase
    like "OK" or "not found".
  </p>

  <figure id="f:http_codes">
    <table>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Meaning</th>
      </tr>
      <tr>
        <td>100</td>
        <td>Continue</td>
        <td>Client should continue sending data</td>
      </tr>
      <tr>
        <td>200</td>
        <td>OK</td>
        <td>The request has succeeded</td>
      </tr>
      <tr>
        <td>204</td>
        <td>No Content</td>
        <td>The server has completed the request, but doesn't need to return any data</td>
      </tr>
      <tr>
        <td>301</td>
        <td>Moved Permanently</td>
        <td>The requested resource has moved to a new permanent location</td>
      </tr>
      <tr>
        <td>307</td>
        <td>Temporary Redirect</td>
        <td>The requested resource is temporarily at a different location</td>
      </tr>
      <tr>
        <td>400</td>
        <td>Bad Request</td>
        <td>The request is badly formatted</td>
      </tr>
      <tr>
        <td>401</td>
        <td>Unauthorized</td>
        <td>The request requires authentication</td>
      </tr>
      <tr>
        <td>404</td>
        <td>Not Found</td>
        <td>The requested resource could not be found</td>
      </tr>
      <tr>
        <td>408</td>
        <td>Timeout</td>
        <td>The server gave up waiting for the client</td>
      </tr>
      <tr>
        <td>418</td>
        <td>I'm a teapot</td>
        <td>No, really</td>
      </tr>
      <tr>
        <td>500</td>
        <td>Internal Server Error</td>
        <td>An error occurred in the server that prevented it fulfilling the request</td>
      </tr>
      <tr>
        <td>601</td>
        <td>Connection Timed Out</td>
        <td>The server did not respond before the connection timed out</td>
      </tr>
    </table>
    <figcaption>Figure XXX: HTTP Codes</figcaption>
  </figure>

  <p>
    The one other thing that we need to know about HTTP is that
    it is <a href="glossary.html#stateless-protocol">stateless</a>:
    each request is handled on its own,
    and the server doesn't remember anything between one request and the next.
    If an application wants to keep track of something like a user's identity,
    it must do so itself.
    The usual way to do this is with a <a href="glossary.html#cookie">cookie</a>,
    which is just a short character string that the server sends to the client,
    and the client later returns to the server
    (<a href="#f:cookies">Figure XXX</a>).
    When a user signs in,
    the server creates a new cookie,
    stores it in a database,
    and sends it to their browser.
    Each time the browser sends the cookie back,
    the server uses it to look up information about
    what the user is doing
    (e.g., what wiki page they are editing).
  </p>

  <figure id="f:cookies">
    <img src="web/cookies.png" alt="Cookies" />
    <figcaption>Figure XXX: Cookies</figcaption>
  </figure>

</div>
