<div id="s:shell:find:keypoints" class="keypoints">
  <ul>
    <li idea="meaning">Everything is stored as bytes, but the bytes in binary files do not represent characters.</li>
    <li>Use nested loops to run commands for every combination of two lists of things.</li>
    <li>Use <code>\</code> to break one logical line into several physical lines.</li>
    <li>Use parentheses <code>()</code> to keep things combined.</li>
    <li>Use <code>$(<em>command</em>)</code> to insert a command's output in place.</li>
    <li><code>find</code> finds files with specific properties that match patterns.</li>
    <li><code>grep</code> selects lines in files that match patterns.</li>
    <li><code>man <em>command</em></code> displays the manual page for a given command.</li>
  </ul>
</div>
