<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p><ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>how (and how much) to test programs</li>
  <li>documentation and debugging</li>
</ul></body></html>
