<p>
  <strong>What:</strong>
  Our goal is to help scientists and engineers become more productive
  by teaching them basic computing skills like program design, version
  control, testing, and task automation. In this two-day boot camp,
  short tutorials will alternate with hands-on practical
  exercises. Participants will be encouraged both to help one another,
  and to apply what they have learned to their own research problems
  during and between sessions. Attendants are offered online office hours: 
  regular events to get one-on-one help from Software Carpentry instructors, 
  online.
</p>
