---
layout: lesson
root: ../..
title: Instructor's Guide for Basic Python Using IPythonBlocks
order: ["basic", "types", "lib"]
---
<section>
  <h2>Opening</h2>
  {% include guide-python-blocks/opening.html %}
</section>

<section id="s:pyblocks:basic">
  <h2>{% include guide-python-blocks/basic/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-python-blocks/basic/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-python-blocks/basic/lesson.html %}
  <h3>Summary</h3>
  {% include guide-python-blocks/basic/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-python-blocks/basic/challenges.html %}
</section>

<section id="s:pyblocks:types">
  <h2>{% include guide-python-blocks/types/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-python-blocks/types/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-python-blocks/types/lesson.html %}
  <h3>Summary</h3>
  {% include guide-python-blocks/types/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-python-blocks/types/challenges.html %}
</section>

<section id="s:pyblocks:lib">
  <h2>{% include guide-python-blocks/lib/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-python-blocks/lib/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-python-blocks/lib/lesson.html %}
  <h3>Summary</h3>
  {% include guide-python-blocks/lib/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-python-blocks/lib/challenges.html %}
</section>
