<div id="s:db:programming:keypoints" class="keypoints">
  <ul>
    <li>Most applications that use databases embed SQL in a general-purpose programming language.</li>
    <li>Database libraries use connections and cursors to manage interactions.</li>
    <li>Programs can fetch all results at once, or a few results at a time.</li>
    <li>If queries are constructed dynamically using input from users, malicious users may be able to inject their own commands into the queries.</li>
    <li>Dynamically-constructed queries can use SQL's native formatting to safeguard against such attacks.</li>
  </ul>
</div>
