<div id="s:db:programming:lesson" class="lesson">

  <p>
    To end this chapter,
    let's have a look at how to access a database from
    a general-purpose programming language like Python.
    Other languages use almost exactly the same model:
    library and function names may differ,
    but the concepts are the same.
  </p>

  <p>
    Here's a short Python program that selects latitudes and longitudes
    from an SQLite database stored in a file called <code>survey.db</code>:
  </p>

<pre>
import sqlite3
connection = sqlite3.connect("survey.db")
cursor = connection.cursor()
cursor.execute("select site.lat, site.long from site;")
results = cursor.fetchall()
for r in results:
    print r
cursor.close()
connection.close()
</pre>

  <p>
    The program starts by importing the <code>sqlite3</code> library.
    If we were connecting to MySQL, DB2, or some other database,
    we would import a different library,
    but all of them provide the same functions,
    so that the rest of our program does not have to change
    (at least, not much)
    if we switch from one database to another.
  </p>

  <p>
    Line 2 establishes a connection to the database.
    Since we're using SQLite,
    all we need to specify is the name of the database file.
    Other systems may require us to provide a username and password as well.
    Line 3 then uses this connection to create
    a <a href="glossary.html#cursor">cursor</a>;
    just like the cursor in an editor,
    its role is to keep track of where we are in the database.
  </p>

  <p>
    On line 4, we use that cursor to ask the database to execute a query for us.
    The query is written in SQL,
    and passed to <code>cursor.execute</code> as a string.
    It's our job to make sure that SQL is properly formatted;
    if it isn't,
    or if something goes wrong when it is being executed,
    the database will report an error.
  </p>

  <p>
    The database returns the results of the query to us
    in response to the <code>cursor.fetchall</code> call on line 5.
    This result is a list with one entry for each record in the result set;
    if we loop over that list (line 6) and print those list entries (line 7),
    we can see that each one is a tuple
    with one element for each field we asked for.
  </p>

  <p>
    Finally, lines 8 and 9 close our cursor and our connection,
    since the database can only keep a limited number of these open at one time.
    Since establishing a connection takes time,
    though,
    we shouldn't open a connection,
    do one operation,
    then close the connection,
    only to reopen it a few microseconds later to do another operation.
    Instead,
    it's normal to create one connection that stays open for the lifetime of the program.
  </p>

  <div class="box">
    <h3>What Are The u's For?</h3>

    <p>
      You may have noticed that
      each of the strings in our output has a lower-case 'u' in front of it.
      That is Python's way of telling us that the string is stored in
      <a href="glossary.html#unicode">Unicode</a>.
    </p>

  </div>

  <p>
    Queries in real applications will often depend on values provided by users.
    For example,
    a program might take a user ID as a command-line parameter
    and display the user's full name:
  </p>

<pre>
import sys
import sqlite3

query = "select personal, family from Person where ident='%s';"
user_id = sys.argv[1]

connection = sqlite3.connect("survey.db")
cursor = connection.cursor()

cursor.execute(query % user_id)
results = cursor.fetchall()
print results[0][0], results[0][1]

cursor.close()
connection.close()
</pre>

  <p>
    The variable <code>query</code> holds the statement we want to execute
    with a <code>%s</code> format string where we want to insert
    the ID of the person we're looking up.
    It seems simple enough,
    but what happens if someone gives the program this input?
  </p>

<pre>
dyer&quot;; drop table Survey; select &quot;
</pre>

  <p class="continue">
    It looks like there's garbage after the name of the project,
    but it is very carefully chosen garbage.
    If we insert this string into our query,
    the result is:
  </p>

<pre>
select personal, family from Person where ident='dyer'; drop table Survey; select '';
</pre>

  <p class="continue">
    Whoops:
    if we execute this,
    it will erase one of the tables in our database.
  </p>

  <p>
    This technique is called <a href="glossary.html#sql-injection">SQL injection</a>,
    and it has been used to attack thousands of programs over the years.
    In particular,
    many web sites that take data from users insert values directly into queries
    without checking them carefully first.
  </p>

  <p>
    Since a villain might try to smuggle commands into our queries in many different ways,
    the safest way to deal with this threat is
    to replace characters like quotes with their escaped equivalents,
    so that we can safely put whatever the user gives us inside a string.
    We can do this by using a <a href="glossary.html#prepared-statement">prepared statement</a>
    instead of formatting our statements as strings.
    Here's what our example program looks like if we do this:
  </p>

<pre>
import sys
import sqlite3

query = <span class="highlight">"select personal, family from Person where ident=?;"</span>
user_id = sys.argv[1]

connection = sqlite3.connect("survey.db")
cursor = connection.cursor()

<span class="highlight">cursor.execute(query, [user_id])</span>
results = cursor.fetchall()
print results[0][0], results[0][1]

cursor.close()
connection.close()
</pre>

  <p>
    The key changes are in the query string and the <code>execute</code> call.
    Instead of formatting the query ourselves,
    we put question marks in the query template where we want to insert values.
    When we call <code>execute</code>,
    we provide a list
    that contains as many values as there are question marks in the query.
    The library matches values to question marks in order,
    and translates any special characters in the values
    into their escaped equivalents
    so that they are safe to use.
  </p>

</div>
