<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/jpmorgan.png" alt="J.P. Morgan" />
  <div class="media-body">
      <a href="http://www.jpmorgan.com/pages/jpmorgan">J.P. Morgan</a>
      is a leader in financial services, offering solutions to clients
      in more than 100 countries with one of the most comprehensive
      global product platforms available. We have been helping our
      clients do business and manage their wealth for more than 200
      years.
  </div>
</div>
