<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/orgs/numfocus.jpg" alt="NumFOCUS" />
  <div class="media-body">
    The purpose of <a href="http://numfocus.org">NumFOCUS</a>
    is to promote the use of accessible and reproducible computing in science and technology
    through educational programs,
    the promotion of high-level languages,
    reproducible scientific research,
    and open-code development,
    and an increase in collaborative research tools and documentation.
  </div>
</div>
