<div id="s:shell:create:keypoints" class="keypoints">
  <ul>
    <li>Unix documentation uses '^A' to mean "control-A".</li>
    <li>The shell does <em>not</em> have a trash bin: once something is deleted, it's really gone.</li>
    <li><code>mkdir <em>path</em></code> creates a new directory.</li>
    <li><code>cp <em>old</em> <em>new</em></code> copies a file.</li>
    <li><code>mv <em>old</em> <em>new</em></code> moves (renames) a file or directory.</li>
    <li><code>nano</code> is a very simple text editor&mdash;please use something else for real work.</li>
    <li><code>touch <em>path</em></code> creates an empty file if it doesn't already exist.</li>
    <li><code>rm <em>path</em></code> removes (deletes) a file.</li>
    <li><code>rmdir <em>path</em></code> removes (deletes) an empty directory.</li>
  </ul>
</div>
