<div id="s:setdict:sets:challenges" class="challenges">
  <ol>
    <li>{% include guide-setdict/sets/challenges/negation.html %}</li>
    <li>{% include guide-setdict/sets/challenges/print-ordered.html %}</li>
    <li>{% include guide-setdict/sets/challenges/values-after-popping.html %}</li>
    <li>{% include guide-setdict/sets/challenges/simplifying.html %}</li>
    <li>{% include guide-setdict/sets/challenges/print-unique.html %}</li>
    <li>{% include guide-setdict/sets/challenges/set-difference.html %}</li>
  </ol>
</div>
