<div id="s:setdict:sets:lesson" class="lesson">

  <p>
    Let's start with something simpler than our actual inventory problem.
    Suppose we have a list of all the atoms in the warehouse,
    and we want to know which different kinds we have&mdash;not how many,
    but just their types.
    We could solve this problem using a list to store
    the unique atomic symbols we have seen.
    Here's a function to add a new atom to the list:
  </p>

<pre>
def another_atom(seen, atom):
    for i in range(len(seen)):
        if seen[i] == atom:
            return # atom is already present, so do not re-add
    seen.append(atom)
</pre>

  <p>
    <code>another_atom</code>'s arguments are
    a list of the unique atoms we've already seen,
    and the symbol of the atom we're adding.
    Inside the function,
    we loop over the atoms that are already in the list.
    If we find the one we're trying to add,
    we exit the function immediately:
    we aren't supposed to have duplicates in our list,
    so there's nothing to add.
    If we reach the end of the list without finding this symbol,
    though,
    we append it.
    This is a common <a href="glossary.html#design-pattern">design pattern</a>:
    either we find pre-existing data in a loop and return right away,
    or take some default action if we finish the loop without finding a match.
  </p>

  <p>
    Let's watch this function in action.
    We start with an empty list.
    If the first atomic symbol is <code>'Na'</code>,
    we find no match (since the list is empty),
    so we add it.
    The next symbol is <code>'Fe'</code>;
    it doesn't match <code>'Na'</code>,
    so we add it as well.
    Our third symbol is <code>'Na'</code> again.
    It matches the first entry in the list,
    so we exit the function immediately.
  </p>

  <table>
    <tr>
      <th>Before</th>
      <th>Adding</th>
      <th>After</th>
    </tr>
    <tr>
      <td><code>[]</code></td>
      <td><code>'Na'</code></td>
      <td><code>['Na']</code></td>
    </tr> 
    <tr>
      <td><code>['Na']</code></td>
      <td><code>'Fe'</code></td>
      <td><code>['Na', 'Fe']</code></td>
    </tr> 
    <tr>
      <td><code>['Na', 'Fe']</code></td>
      <td><code>'Na'</code></td>
      <td><code>['Na', 'Fe']</code></td>
    </tr> 
  </table>

  <p>
    This code works,
    but it is inefficient.
    Suppose there are <em>V</em> distinct atomic symbols in our data,
    and <em>N</em> symbols in total.
    Each time we add an observation to our list,
    we have to look through an average of <em>V/2</em> entries.
    The total running time for our program is therefore approximately <em>NV/2</em>.
    If <em>V</em> is small,
    this is only a few times larger than <em>N</em>,
    but what happens if we're keeping track of something like patient records rather than atoms?
    In that case,
    most values are distinct,
    so <em>V</em> is approximately the same as <em>N</em>,
    which means that our running time is proportional to <em>N<sup>2</sup>/2</em>.
    That's bad news:
    if we double the size of our data set,
    our program runs four times slower,
    and if we double it again,
    our program will have slowed down by a factor of 16.
  </p>

  <p>
    There's a better way to solve this problem
    that is simpler to use and runs much faster.
    The trick is to use a <a href="glossary.html#set">set</a>
    to store the symbols.
    A set is an unordered collection of distinct items.
    The word "collection" means that a set can hold zero or more values.
    The word "distinct" means that any particular value is either in the set or not:
    a set can't store two or more copies of the same thing.
    And finally, "unordered" means that values are simply "in" the set.
    They're not in any particular order,
    and there's no first value or last value.
    (They actually are stored in some order,
    but as we'll discuss in <a href="#s:storage">the next section</a>,
    that order is as random as the computer can make it.)
  </p>

  <p>
    To create a set,
    we simply write down its elements inside curly braces:
  </p>

<pre>
&gt;&gt;&gt; primes = {3, 5, 7}
</pre>

  <figure id="f:simple_set">
    <img src="setdict/simple_set.png" alt="A Simple Set" />
    <figcaption>Figure 1: A Simple Set</figcaption>
  </figure>

  <p class="continue" id="a:previous-use">
    However,
    we have to use <code>set()</code> to create an empty set,
    because the symbol <code>{}</code> was already being used for something else
    when sets were added to Python:
  </p>

<pre>
&gt;&gt;&gt; even_primes = set() <span class="comment"># not '{}' as in math</span>
</pre>

  <p class="continue">
    We'll meet that "something else" <a href="#s:dict">later in this chapter</a>.
  </p>

  <p>
    To see what we can do with sets,
    let's create three holding the integers 0 through 9,
    the first half of that same range of numbers (0 through 4),
    and the odd values 1, 3, 5, 7, and 9:
  </p>

<pre>
&gt;&gt;&gt; ten  = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
&gt;&gt;&gt; lows = {0, 1, 2, 3, 4}
&gt;&gt;&gt; odds = {1, 3, 5, 7, 9}
</pre>

  <p>
    If we ask Python to display one of our sets,
    it shows us this:
  </p>

<pre>
&gt;&gt;&gt; print lows
<span class="out">set([0, 1, 2, 3, 4])</span>
</pre>

  <p class="continue">
    rather than using the curly-bracket notation.
    I personally regard this as a design flaw,
    but it does remind us that we can create always create a set from a list.
  </p>

  <p>
    Sets have methods just like strings and lists,
    and,
    like the methods of strings and lists,
    most of those methods create new sets
    instead of modifying the set they are called for.
    These three come straight from mathematics:
  </p>

<pre>
&gt;&gt;&gt; print lows.union(odds)
<span class="out">set([0, 1, 2, 3, 4, 5, 7, 9])</span>
&gt;&gt;&gt; print lows.intersection(odds)
<span class="out">set([1, 3])</span>
&gt;&gt;&gt; print lows.difference(odds)
<span class="out">set([0, 2, 4])</span>
</pre>

  <p>
    Another method that creates a new set is <code>symmetric_difference</code>,
    which is sometimes called "exclusive or":
  </p>

<pre>
&gt;&gt;&gt; print lows.symmetric_difference(odds)
<span class="out">set([0, 2, 4, 5, 7, 9])</span>
</pre>

  <p class="continue">
    It returns the values that are in one set or another, but not in both.
  </p>

  <p>
    Not all set methods return new sets.
    For example,
    <code>issubset</code> returns <code>True</code> or <code>False</code>
    depending on whether all the elements in one set are present in another:
  </p>

<pre>
&gt;&gt;&gt; print lows.issubset(ten)
<span class="out">True</span>
</pre>

  <p class="continue">
    A complementary method called <code>issuperset</code> also exists,
    and does the obvious thing:
  </p>

<pre>
&gt;&gt;&gt; print lows.issuperset(odds)
<span class="out">False</span>
</pre>

  <p>
    We can count how many values are in a set using <code>len</code>
    (just as we would to find the length of a list or string),
    and check whether a particular value is in the set or not using <code>in</code>:
  </p>

<pre>
&gt;&gt;&gt; print len(odds)
<span class="out">7</span>
&gt;&gt;&gt; print 6 in odds
<span class="out">False</span>
</pre>

  <p class="continue">
    Some methods modify the sets they are called for.
    The most commonly used is <code>add</code>,
    which adds an element to the set:
  </p>

<pre>
&gt;&gt;&gt; lows.add(9)
&gt;&gt;&gt; print lows
<span class="out">set([0, 1, 2, 3, 4, 9])</span>
</pre>

  <p class="continue">
    If the thing being added is already in the set,
    <code>add</code> has no effect,
    because any specific thing can appear in a set at most once:
  </p>

<pre>
&gt;&gt;&gt; lows.add(9)
&gt;&gt;&gt; print lows
<span class="out">set([0, 1, 2, 3, 4, 9])</span>
</pre>

  <p class="continue">
    This behavior is different from that of <code>list.append</code>,
    which always adds a new element to a list.
  </p>

  <p>
    Finally,
    we can remove individual elements from the set:
  </p>

<pre>
&gt;&gt;&gt; lows.remove(0)
&gt;&gt;&gt; print lows
<span class="out">set([1, 2, 3, 4])</span>
</pre>

  <p class="continue">
    or clear it entirely:
  </p>

<pre>
&gt;&gt;&gt; lows.clear()
&gt;&gt;&gt; print lows
<span class="out">set()</span>
</pre>

  <p>
    Removing elements is similar to deleting things from a list,
    but there's an important difference.
    When we delete something from a list,
    we specify its <em>location</em>.
    When we delete something from a set,
    though,
    we must specify the <em>value</em> that we want to take out,
    because sets are not ordered.
    If that value isn't in the set,
    <code>remove</code> does nothing.
  </p>

  <p>
    To help make programs easier to type and read,
    most of the methods we've just seen can be written using arithmetic operators as well.
    For example, instead of <code>lows.issubset(ten)</code>,
    we can write <code>lows &lt;= ten</code>,
    just as if we were using pen and paper.
    There are even a couple of operators,
    like the strict subset test <code>&lt;</code>,
    that don't have long-winded equivalents.
  </p>

  <table>
    <tr>
      <th>Operation</th>
      <th>As Method</th>
      <th>Using Operator</th>
    </tr>
    <tr>
      <td><em>difference</em></td>
      <td><code>lows.difference(odds)</code></td>
      <td><code>lows - odds</code></td>
    </tr>
    <tr>
      <td><em>intersection</em></td>
      <td><code>lows.intersection(odds)</code></td>
      <td><code>lows &amp; odds</code></td>
    </tr>
    <tr>
      <td><em>subset</em></td>
      <td><code>lows.issubset(ten)</code></td>
      <td><code>lows &lt;= ten</code></td>
    </tr>
    <tr>
      <td><em>strict subset</em></td> <td></td>
      <td><code>lows &lt; ten</code></td>
    </tr>
    <tr>
      <td><em>superset</em></td>
      <td><code>lows.issuperset(ten)</code></td>
      <td><code>lows &gt;= odds</code></td>
    </tr>
    <tr>
      <td><em>strict superset</em></td> <td></td>
      <td><code>lows &gt;= odds</code></td>
    </tr>
    <tr>
      <td><em>exclusive or</em></td>
      <td><code>lows.symmetric_difference(odds)</code></td>
      <td><code>lows ^ odds</code></td>
    </tr>
    <tr>
      <td><em>union</em></td>
      <td><code>lows.union(odds)</code></td>
      <td><code>lows | odds</code></td>
    </tr>
  </table>

  <p>
    The fact that the values in a set are distinct makes them
    a convenient way to get rid of duplicate values,
    like the "unique atoms" problem at the start of this section.
    Suppose we have a file containing the names of all the atoms in our warehouse,
    and our task is to produce a list of the their types.
    Here's how simple that code is:
  </p>

<pre>
def unique_atoms(filename):
    atoms = set()
    with open(filename, 'r') as source:
        for line in source:
            name = line.strip()
            atoms.add(name)
    return atoms
</pre>

  <p>
    We start by creating an empty set which we will fill with atomic symbols
    and opening the file containing our data.
    As we read the lines in the file,
    we strip off any whitespace (such as the newline character at the end of the line)
    and put the resulting strings in the set.
    When we're done,
    we print the set.
    If our input is the file:
  </p>

<pre>
Na
Fe
Na
Si
Pd
Na
</pre>

  <p class="continue">
    then our output is:
  </p>

<pre>
set(['Na', 'Fe', 'Si', 'Pd'])
</pre>

  <p>
    The right atoms are there,
    but what are those extra square brackets for?
    The answer is that
    if we want to construct a set with values using <code>set()</code>,
    we have to pass those values in a single object,
    such as a list.
    This syntax:
  </p>

<pre>
set('Na', 'Fe', 'Si', 'Pd')
</pre>

  <p class="continue">
    does <em>not</em> work,
    even though it seems more natural.
    On the other hand,
    this means that we can construct a set from almost anything
    that a <code>for</code> loop can iterate over:
  </p>

<pre>
&gt;&gt;&gt; <span class="in">set('lithium')</span>
<span class="out">set(['i', 'h', 'm', 'l', 'u', 't'])</span>
</pre>

  <p>
    But hang on:
    if we're adding characters to the set in the order
    <code>'l'</code>, <code>'i'</code>, <code>'t'</code>, <code>'h'</code>, <code>'i'</code>, <code>'u'</code>, <code>'m'</code>,
    why does Python show them in the order
    <code>'i'</code>, <code>'h'</code>, <code>'m'</code>, <code>'l'</code>, <code>'u'</code>, <code>'t'</code>?
    To answer that question,
    we need to look at how sets are actually stored,
    and why they're stored that way.
  </p>

</div>
