<div id="s:db:grouping:lesson" class="lesson">

  <p>
    Aggregating all records at once doesn't always make sense.
    For example,
    suppose Gina suspects that there is a systematic bias in her data,
    and that some scientists' radiation readings are higher than others.
    We know that this doesn't work:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select person, count(reading), round(avg(reading), 2)
from  Survey
where quant='rad';</pre>
      </td>
    </tr>
    <tr><td>roe</td><td>8</td><td>6.56</td></tr>
  </table>

  <p class="continue">
    because the database manager selects a single arbitrary scientist's name
    rather than aggregating separately for each scientist.
    Since there are only five scientists,
    she could write five queries of the form:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select person, count(reading), round(avg(reading), 2)
from  Survey
where quant='rad'
and   person='dyer';</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>2</td><td>8.81</td></tr>
  </table>

  <p class="continue">
    but this would be tedious,
    and if she ever had a data set with fifty or five hundred scientists,
    the chances of her getting all of those queries right is small.
  </p>

  <p>
    What we need to do is
    tell the database manager to aggregate the hours for each scientist separately
    using a <code>group by</code> clause:
  </p>

  <table class="db">
    <tr>
      <td colspan="3">
<pre>select   person, count(reading), round(avg(reading), 2)
from     Survey
where    quant='rad'
group by person;</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>2</td><td>8.81</td></tr>
    <tr><td>lake</td><td>2</td><td>1.82</td></tr>
    <tr><td>pb</td><td>3</td><td>6.66</td></tr>
    <tr><td>roe</td><td>1</td><td>11.25</td></tr>
  </table>

  <p>
    <code>group by</code> does exactly what its name implies:
    groups all the records with the same value for the specified field together
    so that aggregation can process each batch separately.
    Since all the records in each batch have the same value for <code>person</code>,
    it no longer matters that the database manager
    is picking an arbitrary one to display
    alongside the aggregated <code>reading</code> values
    (<a href="#f:grouped_aggregation">Figure 6</a>).
  </p>

  <figure id="f:grouped_aggregation">
    <img src="db/grouped_aggregation.png" alt="Grouped Aggregation" />
    <figcaption>Figure 6: Grouped Aggregation</figcaption>
  </figure>

  <p>
    Just as we can sort by multiple criteria at once,
    we can also group by multiple criteria.
    To get the average reading by scientist and quantity measured,
    for example,
    we just add another field to the <code>group by</code> clause:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select   person, quant, count(reading), round(avg(reading), 2)
from     Survey
group by person, quant;</pre>
      </td>
    </tr>
    <tr><td></td><td>sal</td><td>1</td><td>0.06</td></tr>
    <tr><td></td><td>temp</td><td>1</td><td>-26.0</td></tr>
    <tr><td>dyer</td><td>rad</td><td>2</td><td>8.81</td></tr>
    <tr><td>dyer</td><td>sal</td><td>2</td><td>0.11</td></tr>
    <tr><td>lake</td><td>rad</td><td>2</td><td>1.82</td></tr>
    <tr><td>lake</td><td>sal</td><td>4</td><td>0.11</td></tr>
    <tr><td>lake</td><td>temp</td><td>1</td><td>-16.0</td></tr>
    <tr><td>pb</td><td>rad</td><td>3</td><td>6.66</td></tr>
    <tr><td>pb</td><td>temp</td><td>2</td><td>-20.0</td></tr>
    <tr><td>roe</td><td>rad</td><td>1</td><td>11.25</td></tr>
    <tr><td>roe</td><td>sal</td><td>2</td><td>32.05</td></tr>
  </table>

  <p class="continue">
    Note that we have added <code>person</code> to the list of fields displayed,
    since the results wouldn't make much sense otherwise.
  </p>

  <p>
    Let's go one step further and remove all the entries
    where we don't know who took the measurement:
  </p>

  <table class="db">
    <tr>
      <td colspan="4">
<pre>select   person, quant, count(reading), round(avg(reading), 2)
from     Survey
where    person is not null
group by person, quant
order by person, quant;</pre>
      </td>
    </tr>
    <tr><td>dyer</td><td>rad</td><td>2</td><td>8.81</td></tr>
    <tr><td>dyer</td><td>sal</td><td>2</td><td>0.11</td></tr>
    <tr><td>lake</td><td>rad</td><td>2</td><td>1.82</td></tr>
    <tr><td>lake</td><td>sal</td><td>4</td><td>0.11</td></tr>
    <tr><td>lake</td><td>temp</td><td>1</td><td>-16.0</td></tr>
    <tr><td>pb</td><td>rad</td><td>3</td><td>6.66</td></tr>
    <tr><td>pb</td><td>temp</td><td>2</td><td>-20.0</td></tr>
    <tr><td>roe</td><td>rad</td><td>1</td><td>11.25</td></tr>
    <tr><td>roe</td><td>sal</td><td>2</td><td>32.05</td></tr>
  </table>

  <p class="continue">
    Looking more closely,
    this query:
  </p>

  <ol>

    <li>
      selected records from the <code>Survey</code> table
      where the <code>person</code> field was not null;
    </li>

    <li>
      grouped those records into subsets
      so that the <code>person</code> and <code>quant</code> values in each subset
      were the same;
    </li>

    <li>
      ordered those subsets first by <code>person</code>,
      and then within each sub-group by <code>quant</code>;
      and
    </li>

    <li>
      counted the number of records in each subset,
      calculated the average <code>reading</code> in each,
      and chose a <code>person</code> and <code>quant</code> value from each
      (it doesn't matter which ones,
      since they're all equal).
    </li>

  </ol>

  <p class="continue">
    Our query processing pipeline now looks like
    <a href="#f:pipeline_grouping">Figure 7</a>.
  </p>

  <figure id="f:pipeline_grouping">
    <img src="db/pipeline_grouping.png" alt="Query Processing Pipeline With Grouping" />
    <figcaption>Figure 7: Query Processing Pipeline With Grouping</figcaption>
  </figure>

</div>
