<div id="s:pyblocks:types:keypoints" class="keypoints">
  <ul>
    <li>The most commonly used data types in Python are integers (<code>int</code>), floating-point numbers (<code>float</code>), and strings (<code>str</code>).</li>
    <li>Strings can start and end with either single quote (') or double quote (&quot;).</li>
    <li>Division ('/') produces an <code>int</code> result when given <code>int</code> values: one or both arguments must be <code>float</code> to get a <code>float</code> result.</li>
    <li>The modulo operator ('%') produces the remainder from integer division.</li>
    <li>"Adding" strings concatenates them, multiplying strings by numbers repeats them.</li>
    <li>Strings and numbers cannot be added because the behavior is ambiguous: convert one to the other type first.</li>
    <li>Variables in Python do not have types, but values do.</li>
  </ul>
</div>
