<div id="s:shell:intro:keypoints" class="keypoints">
  <ul>
    <li>
      A shell is a program whose primary purpose is to read commands and run other programs.
    </li>
    <li>
      The shell's main advantages are its high action-to-keystroke ratio,
      its support for automating repetitive tasks,
      and that it can be used to access networked machines.
    </li>
    <li>
      The shell's main disadvantages are its primarily textual nature
      and how cryptic its commands and operation can be.
    </li>
  </ul>
</div>
