<div id="s:shell:intro:lesson" class="lesson">

  <p>
    At a high level, computers do four things:
  </p>

  <ul>
    <li>run programs;</li>
    <li>store data;</li>
    <li>communicate with each other; and</li>
    <li>interact with us.</li>
  </ul>

  <p>
    They can do the last of these in many different ways,
    including direct brain-computer links and speech interfaces.
    Since these are still in their infancy,
    most of us use windows, icons, mice, and pointers.
    These technologies didn't become widespread until the 1980s,
    but their roots go back to Doug Engelbart's work in the 1960s,
    which you can see in what has been called
    "<a href="http://video.google.com/videoplay?docid=-8734787622017763097#">The Mother of All Demos</a>".
  </p>

  <p>
    Going back even further,
    the only way to interact with early computers was to rewire them.
    But in between,
    from the 1950s to the 1980s,
    most people used a technology based on the old-fashioned typewriter.
    That technology is still widely used today,
    and is the subject of this chapter.
  </p>

  <figure id="f:decwriter">
    <img src="decwriter.jpg" alt="DECWriter LA-36" />
    <figcaption>Figure 1: DECWriter LA-36</figcaption>
  </figure>

  <p>
    When I say "typewriter", I actually mean a line printer connected to a keyboard
    (<a href="#f:decwriter">Figure 1</a>).
    These devices only allowed input and output of the letters, numbers, and punctuation found on a standard keyboard,
    so programming languages and interfaces had to be designed around that constraint&mdash;though
    if you had enough time on your hands,
    you could draw simple pictures using just those characters
    (<a href="#f:ascii_art">Figure 2</a>).
  </p>

  <figure id="f:ascii_art">
<pre>
                    ,-.             __
                  ,'   `---.___.---'  `.
                ,'   ,-                 `-._
              ,'    /                       \
           ,\/     /                        \\
       )`._)>)     |                         \\
       `>,'    _   \                  /       ||
         )      \   |   |            |        |\\
.   ,   /        \  |    `.          |        | ))
\`. \`-'          )-|      `.        |        /((
 \ `-`   .`     _/  \ _     )`-.___.--\      /  `'
  `._         ,'     `j`.__/           `.    \
    / ,    ,'         \   /`             \   /
    \__   /           _) (               _) (
      `--'           /____\             /____\
</pre>
    <figcaption>Figure 2: ASCII Art</figcaption>
  </figure>

  <p>
    Today,
    this kind of interface is called a <a href="glossary.html#clui">command-line user interface</a>,
    or CLUI,
    to distinguish it from the <a href="glossary.html#gui">graphical user interface</a>,
    or GUI,
    that most of us now use.
    The heart of a CLUI is a <a href="glossary.html#repl">read-evaluate-print loop</a>,
    or REPL:
    when the user types a command,
    the computer reads it,
    executes it,
    and prints its output.
    (In the case of old teletype terminals, it literally printed the output onto paper, a line at a time.)
    The user then types another command,
    and so on until the user logs off.
  </p>

  <p>
    This description makes it sound as though
    the user sends commands directly to the computer,
    and the computer sends output directly to the user.
    In fact,
    there is usually a program in between called a <a href="glossary.html#shell">command shell</a>
    (<a href="#f:command_shell">Figure 3</a>).
    What the user types goes into the shell;
    it figures out what commands to run and orders the computer to execute them.
  </p>

  <figure id="f:command_shell">
    <img src="command_shell.svg" alt="The Command Shell" />
    <figcaption>Figure 3: The Command Shell</figcaption>
  </figure>

  <p>
    A shell is a program like any other.
    What's special about it is that its job is to run other programs,
    rather than to do calculations itself.
    One popular Unix shell is Bash, the Bourne-Again Shell
    (so-called because it's derived from a shell written by Stephen Bourne&mdash;this
    is what passes for wit among programmers).
    Bash is the default shell on most modern implementations of Unix,
    and in most packages that provide Unix-like tools for Windows,
    such as <a href="http://www.cygwin.org">Cygwin</a>.
  </p>

  <div class="box">
    <h3>Bourne shell vs C shell</h3>

    <p>
      Bourne shell (<code>sh</code>) and C shell (<code>csh</code>) are the two
      most popular shells and are incompatibles. There are some shells that are
      compatible with one of the formers like the Bourne-Again shell
      (<code>bash</code>).
    </p>

  </div>

  <p>
    Using Bash,
    or any other shell,
    sometimes feels more like programming that like using a mouse.
    Commands are terse (often only a couple of characters long),
    their names are frequently cryptic,
    and their output is lines of text rather than something visual like a graph.
    On the other hand,
    the shell allows us to combine existing tools in powerful ways with only a few keystrokes,
    and to set up pipelines to handle large volumes of data automatically.
    In addition,
    the command line is often the easiest way to interact with remote machines.
    As clusters and cloud computing become more popular for scientific data crunching,
    being able to drive them is becoming a necessary skill.
  </p>

  <p>
    To start exploring them,
    let's log in to the computer by typing our user ID and password.
    Most systems will print stars to obscure the password,
    or nothing at all,
    in case some evildoer is shoulder surfing behind us.
  </p>

<pre>
login: <span class="in">vlad</span>
password: <span class="in">********</span>
$
</pre>

  <p>
    Once we have logged in we'll see a <a href="glossary.html#prompt">prompt</a>,
    which is how the shell tells us that it's waiting for input.
    This is usually just a dollar sign,
    but which may show extra information such as our user ID or the current time.
    Type <code class="in">echo $SHELL</code>,
    then press the <span class="keyboard">Enter</span> key
    (sometimes marked <span class="keyboard">Return</span>)
    to send the command to the shell.
    The command's output is the name of the shell been used (the name are
    stored in the environment variables named <span class="keyboard">SHELL</span>):
  </p>

<pre>
$ <span class="in">echo $SHELL</span>
<span class="out">/bin/bash</span>
$
</pre>

  <p class="continue">
    More specifically,
    when we type <code>echo $SHELL</code>
    the shell:
  </p>

  <ol>
    <li>replace <code>$SHELL</code> with the value of this environment
    variables,</li>
    <li>finds a program called <code>echo</code>,</li>
    <li>runs it,</li>
    <li>waits for it to display its output, and</li>
    <li>displays a new prompt to tell us that it's ready for more commands.</li>
  </ol>

  <p>
    When using a graphic user interface we need to use a terminal emulator to
    have access to a command-line user interface. Some of the popular terminal emulators
    in the GNU/Linux distributions are xterm, gnome-terminal and konsole.
    To find the name of the terminal emulator been used run
    <code>echo $TERM</code> (similar to <span class="keyboard">SHELL</span> environment
    variables the <span class="keyboard">TERM</span> environment variables store the
    name of the terminal emulator being used):
  </p>

<pre>
$ <span class="in">echo $SHELL</span>
<span class="out">xterm</span>
$
</pre>

</pre>

</div>
