<div class="keypoints" id="s:db:create:keypoints">
  <ul>
    <li>Use <code>create table <em>name</em>(...)</code> to create a table.</li>
    <li>Use <code>drop table <em>name</em></code> to erase a table.</li>
    <li>Specify field names and types when creating tables.</li>
    <li>Specify <code>primary key</code>, <code>foreign key</code>, <code>not null</code>, and other constraints when creating tables.</li>
    <li>Use <code>insert into <em>table</em> values(...)</code> to add records to a table.</li>
    <li>Use <code>delete from <em>table</em> where <em>test</em></code> to erase records from a table.</li>
    <li>Maintain referential integrity when creating or deleting information.</li>
  </ul>
</div>
