<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><div class='objectives' id='s:db:create:objectives'>
  <ul>
    <li>Write queries that create database tables with fields of common types.</li>
    <li>Write queries that specify the primary and foreign key relationships of tables.</li>
    <li>Write queries that specify whether field values must be unique and/or are allowed to be <code>null</code>.</li>
    <li>Write queries that erase database tables.</li>
    <li>Write queries that add records to database tables.</li>
    <li>Write queries that delete specific records from tables.</li>
    <li>Explain what referential integrity is, and how a database can become inconsistent as data is changed.</li>
  </ul>
  <p>Duration: 10-15 minutes.</p>
</div></body></html>
