<div id="s:db:create:objectives">
  <ul>
    <li>Write queries that create database tables with fields of common types.</li>
    <li>Write queries that specify the primary and foreign key relationships of tables.</li>
    <li>Write queries that specify whether field values must be unique and/or are allowed to be <code>null</code>.</li>
    <li>Write queries that erase database tables.</li>
    <li>Write queries that add records to database tables.</li>
    <li>Write queries that delete specific records from tables.</li>
    <li>Explain what referential integrity is, and how a database can become inconsistent as data is changed.</li>
  </ul>
  <p>Duration: 10-15 minutes.</p>
</div>
