<div id="s:setdict:summary" class="summary">

  <p>
    Every programmer meets lists (or arrays or matrices) early in her career.
    Many in science never meet sets and dictionaries,
    and that's a shame:
    they often make programs easier to write and faster to run at the same time.
  </p>

  <p>
    Before we leave this topic,
    try running the function <code>globals</code>
    at an interactive Python prompt:
  </p>

<pre>
&gt;&gt;&gt; globals()
{'__builtins__': &lt;module '__builtin__' (built-in)&gt;,
 '__doc__': None,
 '__name__': '__main__',
 '__package__': None}
</pre>

  <p class="continue">
    That's right&mdash;Python actually stores the program's variables in a dictionary.
    In fact,
    it uses one dictionary for the global variables
    and one for each currently-active function call:
  </p>

<pre>
&gt;&gt;&gt; def example(first, second):
...     print 'globals in example', globals()
...     print 'locals in example', locals()
... 
&gt;&gt;&gt; example(22, 33)
globals in example {'__builtins__': &lt;module '__builtin__' (built-in)&gt;,
                    '__doc__': None,
                    '__name__': '__main__',
                    '__package__': None,
                    'example': &lt;function example at 0x50b630&gt;}
locals in example {'second': 33,
                   'first': 22}
</pre>

  <p>
    You now know everything you need to know
    in order to build a programming language of your own.
    But please don't:
    the world will be much better off
    if you keep doing science instead.
  </p>

</div>
