<div id="s:pyblocks:logic:lesson" class="lesson">

  <p>
    The program we have written so far have all done the same operations
    regardless of their data.
    In many cases,
    though,
    we want to choose what operations to perform
    based on the data we're given.
    The usual way to do this is to use <a href="glossary.html#conditional">conditional</a> statements.
    Let's start with a simple example:
  </p>

<pre>
<span class="in">if 5 &gt; 0:
    print "5 is greater than 0"
if 5 &lt; 0:
    print "5 is less than 0"</span>
<span class="out">5 is greater than 0</span>
</pre>

  <p>
    The logic is fairly easy to follow.
    The keyword <code>if</code> is followed by an expression.
    If that expression is true,
    Python executes the indented block of code that belongs to the <code>if</code>;
    if the expression is false,
    it doesn't.
    In this case,
    since 5 actually is greater than 0,
    the first <code>print</code> statement runs,
    but not the second.
  </p>

  <p>
    Now let's try this:
  </p>

<pre>
<span class="in">for char in "GATTACA":
    if char == "A":
        print "found an A"</span>
<span class="out">found an A
found an A
found an A</span>
</pre>

  <p>
    Python uses a double equals sign <code>==</code> to test for equality
    (because the single equals sign <code>=</code> is used for assignment).
    Each time through the loop above,
    the current value of <code>char</code> is compared to the character 'A'.
    When the two are equal,
    the program prints a message;
    since the letter appears three times in 'GATTACA',
    the message is printed three times.
  </p>

  <p>
    All right,
    how about this?
  </p>

<pre>
<span class="in">VOWELS = "AEIOU"
num_vowels = 0
num_other = 0
for char in "GATTACA":
    if char in VOWELS:
        num_vowels = num_vowels + 1
    else:
        num_other = num_other + 1
print num_vowels, "vowels and", num_other, "other characters"</span>
<span class="out">3 vowels and 4 other characters</span>
</pre>

  <p>
    This little program introduces two new language features.
    The first is the <code>in</code> operator,
    which,
    as its name suggests,
    tests whether a value (such as a character)
    is in a collection (such as a string).
    In this case,
    we're using it to see if the current character is in our list of vowels.
  </p>

  <p>
    The other feature is the keyword <code>else</code>,
    which is used to introduce an alternative to an <code>if</code>.
    Here,
    if a character is a vowel,
    Python increments <code>num_vowels</code>.
    If that test fails&mdash;i.e., if the character <em>isn't</em> in <code>VOWELS</code>&mdash;Python
    executes the both of the <code>else</code>
    and increments <code>num_other</code> instead
    (<a href="f:if_else_flowchart">Figure XXX</a>).
  </p>

  <figure id="f:if_else_flowchart">
    <img src="pymedia/if_else_flowchart.png" alt="If-Else Control Flow" />
    <figcaption>If-Else Control Flow</figcaption>
  </figure>

  <p>
    We can make this program more readable
    by rewriting the body of the loop like this:
  </p>

<pre>
for char in "GATTACA":
    if char in VOWELS:
        <span class="highlight">num_vowels += 1</span>
    else:
        <span class="highlight">num_other += 1</span>
</pre>

  <p>
    The notation <code>x += 1</code> means, "Add one to the variable <code>x</code>."
    This is called an <a href="glossary.html#in-place-operator">in-place operator</a>,
    since it reads the current value of <code>x</code>
    and writes a new value back to the same variable.
    We can similarly use <code>x += 5</code> to add 5 to <code>x</code>,
    <code>x *= 3</code> to triple it,
    and so on.
  </p>

  <p>
    With conditionals in hand,
    let's draw a pattern on a grid:
  </p>

<pre>
<span class="in">from ipythonblocks import ImageGrid, colors
grid = ImageGrid(10, 5)
for x in range(grid.width):
    for y in range(grid.height):
        if x &lt; y:
            grid[x, y] = colors['Red']
        elif x == y:
            grid[x, y] = colors['Blue']
        else:
            grid[x, y] = colors['Green']
grid.show()</span>
{% include guide-pyblocks/logic/blocks-fill-compare.html %}
</pre>

  <p class="continue">
    <code>elif</code> is a shorthand for "else if":
    we use it to provide another alternative in a set of conditionals.
    We can have as many <code>elif</code>s as we want
    between the opening <code>if</code> and the optional <code>else</code> at the end.
    Each is tested in order,
    and the first one whose condition is true is executed.
  </p>

  <p>
    Now that we have this grid,
    we can write programs that take action based on its values.
    For example,
    we can add a bit of red to each block that doesn't have any:
  </p>

<pre>
<span class="in">for x in range(grid.width):
    for y in range(grid.height):
        if grid[x, y].red == 0:
            grid[x, y].red = 128
grid.show()</span>
{% include guide-pyblocks/logic/blocks-change-color.html %}
</pre>

  <p class="continue">
    Again,
    since the author of IPythonBlocks chose sensible names for things,
    we can read this program with little difficulty.
    The nested loops iterate through the blocks in row-and-column order.
    At each block,
    we test whether the red component of its color is zero.
    If it is,
    we set it to 128 (i.e., half the maximum intensity).
    This leaves the pure red blocks alone,
    but adds red to green and blue blocks.
  </p>

</div>
