---
layout: lesson
root: ../..
title: Instructor's Guide for Web Programming
order: ["history"]
---

<section>
  <h2>Opening</h2>
  {% include guide-web/opening.html %}
</section>

<section>
  <h2>Instructors</h2>
  {% include guide-web/instructors.html %}
</section>

<section id="s:web:history">
  <h2>{% include guide-web/history/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/history/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/history/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/history/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/history/challenges.html %}
</section>

<section id="s:web:formatting">
  <h2>{% include guide-web/formatting/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/formatting/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/formatting/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/formatting/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/formatting/challenges.html %}
</section>

<section id="s:web:attributes">
  <h2>{% include guide-web/attributes/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/attributes/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/attributes/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/attributes/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/attributes/challenges.html %}
</section>

<section id="s:web:morehtml">
  <h2>{% include guide-web/morehtml/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/morehtml/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/morehtml/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/morehtml/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/morehtml/challenges.html %}
</section>

<section id="s:web:templating">
  <h2>{% include guide-web/templating/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/templating/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/templating/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/templating/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/templating/challenges.html %}
</section>

<section id="s:web:http">
  <h2>{% include guide-web/http/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/http/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/http/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/http/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/http/challenges.html %}
</section>

<section id="s:web:client">
  <h2>{% include guide-web/client/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/client/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/client/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/client/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/client/challenges.html %}
</section>

<section id="s:web:server">
  <h2>{% include guide-web/server/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/server/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/server/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/server/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/server/challenges.html %}
</section>

<section id="s:web:index">
  <h2>{% include guide-web/index/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/index/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/index/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/index/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/index/challenges.html %}
</section>

<section id="s:web:syndicate">
  <h2>{% include guide-web/syndicate/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-web/syndicate/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-web/syndicate/lesson.html %}
  <h3>Key Points</h3>
  {% include guide-web/syndicate/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-web/syndicate/challenges.html %}
</section>

<section>
  <h2>Summary</h2>
  {% include guide-web/summary.html %}
</section>
